## Step1 - Get the 2016 information dataset to a point where they can be compared with 2017 datasets.

## Action Plan
__1.__ See each file and check the quality of each CSV file.
    
    1.1. Count the number of data points.
    
    1.2. Make a set with each week features.
    
    
__2.__ Make a coherent for each week format that mixes all the locations features according from which is the first week they started and ended.


__3.__ Make the format grow mixing same week with different locations, mixing all weeks into a bigger format with all locations.

**Note:** _Each number in the action plan that is a decimal is an extra step that is optional and not necesarilly been done_

---

### File list
* 2016
    1. Anon Week 1 Feedback - LA.csv
    2. Anon Week 1 Feedback - NY.csv
    3. Anon Week 1 Feedback - SF.csv
    4. Anon Week 1 Feedback - SV.csv
    5. Anon Week 1 Feedback - Singapore.csv
    6. Anon Week 2 Feedback - LA.csv
    7. Anon Week 2 Feedback - NY.csv
    8. Anon Week 2 Feedback - SF.csv
    9. Anon Week 2 Feedback - SG.csv
    10. Anon Week 2 Feedback - SV.csv
    11. Anon Week 3 Feedback - LA.csv
    12. Anon Week 3 Feedback - NY.csv
    13. Anon Week 3 Feedback - SF.csv
    14. Anon Week 3 Feedback - SG.csv
    15. Anon Week 3 Feedback - SV.csv
    16. Anon Week 4 Feedback - LA.csv
    17. Anon Week 4 Feedback - NY.csv
    18. Anon Week 4 Feedback - SF.csv
    19. Anon Week 4 Feedback - SG.csv
    20. Anon Week 4 Feedback - SV.csv
    21. Anon Week 5 Feedback - HK.csv
    22. Anon Week 5 Feedback - LA.csv
    23. Anon Week 5 Feedback - NY.csv
    24. Anon Week 5 Feedback - SF.csv
    25. Anon Week 5 Feedback - SG.csv
    26. Anon Week 5 Feedback - SV.csv
    27. Anon Week 6 Feedback - HK.csv
    28. Anon Week 6 Feedback - LA.csv
    29. Anon Week 6 Feedback - NY.csv
    30. Anon Week 6 Feedback - SF.csv
    31. Anon Week 6 Feedback - SG.csv
    32. Anon Week 6 Feedback - SV.csv
    33. Anon Week 6 Feedback - Taipei.csv
    34. Anon Week 6 Feedback - Tokyo.csv
    35. Anon Week 7 Feedback - LA.csv
    36. Anon Week 7 Feedback - NY.csv
    37. Anon Week 7 Feedback - SF.csv
    38. Anon Week 7 Feedback - SV.csv
    39. Anon Week 7 Feedback - Taipei.csv
    40. Week 8 Feedback (2016, incomplete) - results.csv

## Why this step?
* See if all the different csv files have the same features.

### Step1

In [2]:
import pandas as pd
import numpy as np

In [3]:
pwd

'/Users/egonfiedler/Coding/DataScience/DS-1.1-Data-Analysis/Notebooks/Projects'

## Week1

In [4]:
file1_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - LA.csv"
SA_2016_LA_W1 = pd.read_csv(file1_LA_PATH)

In [5]:
SA_2016_LA_W1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

#### Notes on Week1 LA
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to week number

In [6]:
SA_2016_LA_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)

In [7]:
SA_2016_LA_W1

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [8]:
lenght_SA_2016_LA_W1 = len(SA_2016_LA_W1)
SET_SA_2016_LA_W1 = set(SA_2016_LA_W1)
column_lenght_SA_2016_LA_W1 = len(SA_2016_LA_W1.columns)

#### Add new column with the location name

In [9]:
SA_2016_LA_W1.insert(0, 'Location', 'Los Angeles')

In [10]:
SA_2016_LA_W1

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Los Angeles,6/23/2016 15:55:12,3,4
1,Los Angeles,6/23/2016 16:14:04,4,4
2,Los Angeles,6/24/2016 0:18:42,4,4
3,Los Angeles,6/24/2016 6:59:42,4,4
4,Los Angeles,6/24/2016 9:40:16,4,5
5,Los Angeles,6/23/2016 22:07:29,5,4
6,Los Angeles,6/24/2016 9:34:14,5,3

---

In [11]:
file2_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - NY.csv"
SA_2016_NY_W1 = pd.read_csv(file2_NY_PATH)

In [12]:
# SA_2016_NY_W1.head()
SA_2016_NY_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

#### Notes on Week1 NY
* There are 39 data points
* Features 4: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [13]:
SA_2016_NY_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)

In [14]:
SA_2016_NY_W1.tail()

,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [15]:
lenght_SA_2016_NY_W1 = len(SA_2016_NY_W1)
SET_SA_2016_NY_W1 = set(SA_2016_NY_W1)
column_lenght_SA_2016_NY_W1 = len(SA_2016_NY_W1.columns)

#### Add new column with the location name

In [16]:
SA_2016_NY_W1.insert(0, 'Location', 'New York')

In [17]:
SA_2016_NY_W1.head()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,New York,Games,6/24/2016 7:03:34,3,5
1,New York,Games,6/24/2016 7:10:22,3,3
2,New York,Apps,6/24/2016 7:03:41,3,3
3,New York,Intro,6/24/2016 7:04:59,4,3
4,New York,Intro,6/24/2016 7:07:02,4,4

------

In [18]:
file3_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SF.csv"
SA_2016_SF_W1 = pd.read_csv(file3_SF_PATH)

In [19]:
#SA_2016_SF_W1.head()
SA_2016_SF_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
88,Intro,6/26/2016 23:32:51,5,3
89,VR,6/29/2016 22:39:27,3,3
90,VR,6/24/2016 13:30:31,5,3
91,VR,6/24/2016 14:41:17,5,3
92,VR,6/24/2016 17:29:38,5,3

#### Notes on Week1 SF
* There are 93 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [20]:
SA_2016_SF_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [21]:
lenght_SA_2016_SF_W1 = len(SA_2016_SF_W1)
SET_SA_2016_SF_W1 = set(SA_2016_SF_W1)
column_lenght_SA_2016_SF_W1 = len(SA_2016_SF_W1.columns)

#### Add new column with the location name

In [22]:
SA_2016_SF_W1.insert(0, 'Location', 'San Francisco')

In [23]:
SA_2016_SF_W1.tail()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
88,San Francisco,Intro,6/26/2016 23:32:51,5,3
89,San Francisco,VR,6/29/2016 22:39:27,3,3
90,San Francisco,VR,6/24/2016 13:30:31,5,3
91,San Francisco,VR,6/24/2016 14:41:17,5,3
92,San Francisco,VR,6/24/2016 17:29:38,5,3

---

In [24]:
file4_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SV.csv"
SA_2016_SV_W1 = pd.read_csv(file4_SV_PATH)

In [25]:
# SA_2016_SV_W1.head()
SA_2016_SV_W1.tail()

,Unnamed: 0,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
57,6/24/2016 13:45:50,Intro,5,2
58,6/24/2016 13:47:01,Intro,5,3
59,6/24/2016 13:49:01,Intro,5,3
60,6/24/2016 13:49:44,Intro,5,3
61,6/24/2016 13:50:23,Intro,5,3

#### Notes on Week1 SV
* There are 62 data points
* Features 4: "Unnamed: 0, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Unname to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [26]:
SA_2016_SV_W1.rename(columns={'Unnamed: 0': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [27]:
lenght_SA_2016_SV_W1 = len(SA_2016_SV_W1)
SET_SA_2016_SV_W1 = set(SA_2016_SV_W1)
column_lenght_SA_2016_SV_W1 = len(SA_2016_SV_W1.columns)

#### Add new column with the location name

In [28]:
SA_2016_SV_W1.insert(0, 'Location', 'Sunnyvale')

In [29]:
SA_2016_SV_W1

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Sunnyvale,6/24/2016 13:32:01,Games,2,4
1,Sunnyvale,6/24/2016 13:48:09,Apps,3,4
2,Sunnyvale,6/24/2016 13:49:23,Apps,3,3
3,Sunnyvale,6/24/2016 13:53:25,Apps,3,5
4,Sunnyvale,6/24/2016 13:55:19,Apps,3,3
5,Sunnyvale,6/24/2016 13:41:53,Games,3,3
6,Sunnyvale,6/24/2016 13:46:23,Apps,4,4
7,Sunnyvale,6/24/2016 13:46:42,Apps,4,3
8,Sunnyvale,6/24/2016 13:47:24,Apps,4,3
9,Sunnyvale,6/24/2016 13:47:25,Apps,4,4
10,Sunnyvale,6/24/2016 13:47:36,Apps,4,3
11,Sunnyvale,6/24/2016 13:48:00,Apps,4,4
12,Sunnyvale,6/24/2016 13:48:29,Apps,4,4
13,Sunnyvale,6/24/2016 13:48:48,Apps,4,3
14,Sunnyvale,6/24/2016 13:49:35,Apps,4,4
15,Sunnyvale,6/24/2016 13:50:37,Apps,4,3
16,Sunnyvale,6/24/2016 13:51:11,Apps,4,4
17,Sunnyvale,6/24/2016 13:51:13,Apps,4,4
18,Sunnyvale,6/24/2016 13:52:06,Apps,4,3
19,Sunnyvale,6/24/2016 13:52:21,Apps,4,3
20,Sunnyvale,6/24/2016 13:52:50,Apps,4,5
21,Sunnyvale,6/24/2016 13:53:03,Apps,4,3
22,Sunnyvale,6/24/2016 13:55:00,Apps,4,3
23,Sunnyvale,6/24/2016 13:59:24,Apps,4,3
24,Sunnyvale,6/24/2016 13:28:35,Games,4,4
25,Sunnyvale,6/24/2016 13:31:45,Games,4,4
26,Sunnyvale,6/24/2016 13:32:49,Games,4,4
27,Sunnyvale,6/24/2016 13:34:57,Games,4,3
28,Sunnyvale,6/24/2016 13:39:47,Games,4,4
29,Sunnyvale,6/24/2016 13:45:39,Games,4,3
...,...,...,...,...,...
32,Sunnyvale,6/24/2016 14:12:35,Games,4,4
33,Sunnyvale,6/24/2016 13:44:44,Intro,4,4
34,Sunnyvale,6/24/2016 13:45:54,Intro,4,3
35,Sunnyvale,6/24/2016 13:49:54,Intro,4,4
36,Sunnyvale,6/24/2016 13:50:04,Intro,4,3
37,Sunnyvale,6/24/2016 13:50:19,Intro,4,4
38,Sunnyvale,6/24/2016 13:51:46,Intro,4,3
39,Sunnyvale,6/24/2016 13:53:22,Intro,4,3
40,Sunnyvale,6/24/2016 13:55:06,Intro,4,3
41,Sunnyvale,6/24/2016 13:47:09,Apps,5,3
42,Sunnyvale,6/24/2016 13:47:20,Apps,5,3
43,Sunnyvale,6/24/2016 13:47:25,Apps,5,3
44,Sunnyvale,6/24/2016 13:49:23,Apps,5,3
45,Sunnyvale,6/24/2016 13:50:25,Apps,5,3
46,Sunnyvale,6/24/2016 13:50:34,Apps,5,3
47,Sunnyvale,6/24/2016 13:50:54,Apps,5,4
48,Sunnyvale,6/24/2016 13:51:20,Apps,5,4
49,Sunnyvale,6/24/2016 13:53:34,Apps,5,3
50,Sunnyvale,6/24/2016 13:54:13,Apps,5,4
51,Sunnyvale,6/24/2016 13:54:38,Apps,5,4
52,Sunnyvale,6/24/2016 13:30:55,Games,5,4
53,Sunnyvale,6/24/2016 13:33:00,Games,5,2
54,Sunnyvale,6/24/2016 13:34:13,Games,5,3
55,Sunnyvale,6/24/2016 14:05:25,Games,5,4
56,Sunnyvale,6/24/2016 13:44:05,Intro,5,3
57,Sunnyvale,6/24/2016 13:45:50,Intro,5,2
58,Sunnyvale,6/24/2016 13:47:01,Intro,5,3
59,Sunnyvale,6/24/2016 13:49:01,Intro,5,3
60,Sunnyvale,6/24/2016 13:49:44,Intro,5,3
61,Sunnyvale,6/24/2016 13:50:23,Intro,5,3

---

In [30]:
file5_Singapore_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - Singapore.csv"
SA_2016_Singapore_W1 = pd.read_csv(file5_Singapore_PATH)

In [31]:
# SA_2016_Singapore_W1.head()
SA_2016_Singapore_W1.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
7,6/23/2016 22:15:33,4,3
8,6/23/2016 22:41:02,4,4
9,6/23/2016 23:56:36,4,3
10,6/25/2016 22:17:48,4,3
11,6/23/2016 22:13:09,5,5

#### Notes on Week1 Singapore:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [32]:
SA_2016_Singapore_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)

In [33]:
SET_SA_2016_Singapore_W1 = set(SA_2016_Singapore_W1)
lenght_SA_2016_Singapore_W1 = len(SA_2016_Singapore_W1)
column_lenght_SA_2016_Singapore_W1 = len(SA_2016_Singapore_W1.columns)

#### Add new column with the location name

In [34]:
SA_2016_Singapore_W1.insert(0, 'Location', 'Singapore')

In [35]:
SA_2016_Singapore_W1.head()

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Singapore,6/23/2016 22:24:53,2,3
1,Singapore,6/27/2016 4:03:03,2,3
2,Singapore,6/23/2016 22:13:04,3,3
3,Singapore,6/23/2016 22:09:23,4,4
4,Singapore,6/23/2016 22:11:39,4,4

### Formating into a complete week 1 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [36]:
SA_2016_W1_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale'], 
                   'Features': [SET_SA_2016_Singapore_W1, SET_SA_2016_LA_W1, SET_SA_2016_NY_W1, SET_SA_2016_SF_W1, SET_SA_2016_SV_W1], 
                   'Number of Datapoints': [lenght_SA_2016_Singapore_W1, lenght_SA_2016_LA_W1, lenght_SA_2016_NY_W1, lenght_SA_2016_SF_W1, lenght_SA_2016_SV_W1],
                   'Number of Features': [column_lenght_SA_2016_Singapore_W1, column_lenght_SA_2016_LA_W1, column_lenght_SA_2016_NY_W1, column_lenght_SA_2016_SF_W1, column_lenght_SA_2016_SV_W1]
                  }
SA_2016_W1 = pd.DataFrame(data=SA_2016_W1_data)

In [37]:
SA_2016_W1

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,12,3
1,Los Angeles,{How would you rate your overall satisfaction ...,7,3
2,New York,"{What track are you in?, How would you rate yo...",39,4
3,San Francisco,"{What track are you in?, How would you rate yo...",93,4
4,Sunnyvale,"{What track are you in?, How would you rate yo...",62,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 1 
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [38]:
# Here will only be the ones who have their track
week1_frames = [SA_2016_Singapore_W1, SA_2016_LA_W1, SA_2016_NY_W1, SA_2016_SF_W1, SA_2016_SV_W1]
SA_2016_W1_ALL = pd.concat(week1_frames, sort=True)
SA_2016_W1_ALL = SA_2016_W1_ALL.drop('What track are you in?', 1)

In [39]:
SA_2016_W1_ALL.head()

,How well are the tutorials paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,3,2,Singapore,6/23/2016 22:24:53
1,3,2,Singapore,6/27/2016 4:03:03
2,3,3,Singapore,6/23/2016 22:13:04
3,4,4,Singapore,6/23/2016 22:09:23
4,4,4,Singapore,6/23/2016 22:11:39

In [40]:
# Here will only be the ones who have the feature track
week1_frames_only_track = [SA_2016_NY_W1, SA_2016_SF_W1, SA_2016_SV_W1]
SA_2016_W1_with_track = pd.concat(week1_frames_only_track, sort=True)

In [41]:
SA_2016_W1_with_track.tail()

,How well are the tutorials paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
57,2,5,Sunnyvale,6/24/2016 13:45:50,Intro
58,3,5,Sunnyvale,6/24/2016 13:47:01,Intro
59,3,5,Sunnyvale,6/24/2016 13:49:01,Intro
60,3,5,Sunnyvale,6/24/2016 13:49:44,Intro
61,3,5,Sunnyvale,6/24/2016 13:50:23,Intro

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [42]:
SA_2016_W1_ALL = SA_2016_W1_ALL.fillna(0)

In [43]:
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W1_with_track = SA_2016_W1_with_track.fillna(0)

#### Creating a single column

In [49]:
# SA_2016_W1_ALL['Level of satisfaction with the pacing'] = SA_2016_W1_ALL['How well are the tutorials paced?'] #+ SA_2016_W1_ALL['How well is the schedule paced?']
# SA_2016_W1_ALL 
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('How well is the schedule paced?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('What track are you in?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('Week number', 1)
# SA_2016_W1_ALL.insert(0, 'Week number', 'Week 1')

In [51]:
SA_2016_W1_ALL.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week 1,2,Singapore,3
1,Week 1,2,Singapore,3
2,Week 1,3,Singapore,3
3,Week 1,4,Singapore,4
4,Week 1,4,Singapore,4

In [59]:
# SA_2016_W1_with_track['Level of satisfaction with the pacing'] = SA_2016_W1_with_track['How well are the tutorials paced?'] #+ SA_2016_W1_ALL['How well is the schedule paced?']
# SA_2016_W1_with_track = SA_2016_W1_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W1_with_track = SA_2016_W1_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W1_with_track = SA_2016_W1_with_track.drop('Week number', 1)
# SA_2016_W1_with_track.insert(0, 'Week number', 'Week 1')

In [61]:
SA_2016_W1_with_track.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
0,Week 1,3,New York,Games,5
1,Week 1,3,New York,Games,3
2,Week 1,3,New York,Apps,3
3,Week 1,4,New York,Intro,3
4,Week 1,4,New York,Intro,4

## Week2

In [62]:
file6_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - LA.csv"
SA_2016_LA_W2 = pd.read_csv(file6_LA_PATH)

In [63]:
# SA_2016_LA_W2.head()
SA_2016_LA_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
2,7/1/2016 9:34:16,4,4
3,7/1/2016 10:42:17,4,3
4,7/1/2016 11:25:53,4,3
5,7/1/2016 11:57:11,5,3
6,7/1/2016 11:58:37,5,3

#### Notes on Week2 LA:
* There are 7 data points
* Features 3: "Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Unname to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [64]:
SA_2016_LA_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [65]:
lenght_SA_2016_LA_W2 = len(SA_2016_LA_W2)
SET_SA_2016_LA_W2 = set(SA_2016_LA_W2)
column_lenght_SA_2016_LA_W2 = len(SA_2016_LA_W2.columns)

#### Add new column with the location name

In [66]:
SA_2016_LA_W2.insert(0, 'Location', 'Los Angeles')

In [67]:
SA_2016_LA_W2

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Los Angeles,6/30/2016 14:09:14,4,2
1,Los Angeles,6/30/2016 22:50:08,3,3
2,Los Angeles,7/1/2016 9:34:16,4,4
3,Los Angeles,7/1/2016 10:42:17,4,3
4,Los Angeles,7/1/2016 11:25:53,4,3
5,Los Angeles,7/1/2016 11:57:11,5,3
6,Los Angeles,7/1/2016 11:58:37,5,3

---

In [68]:
file7_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - NY.csv"
SA_2016_NY_W2 = pd.read_csv(file7_NY_PATH)

In [69]:
# SA_2016_NY_W2.head()
SA_2016_NY_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/1/2016 6:41:54,Apps,5,4
24,7/1/2016 6:27:48,Games,5,4
25,7/1/2016 6:31:02,Intro,5,3
26,7/1/2016 6:31:12,Intro,5,3
27,7/1/2016 6:36:15,Intro,5,3

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

#### Notes on Week2 NY:
* There are 28 data points
* Features 4: "Timestamp, What track are you in, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [70]:
SA_2016_NY_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [71]:
lenght_SA_2016_NY_W2 = len(SA_2016_NY_W2)
SET_SA_2016_NY_W2 = set(SA_2016_NY_W2)
column_lenght_SA_2016_NY_W2 = len(SA_2016_NY_W2.columns)

#### Add new column with the location name

In [72]:
SA_2016_NY_W2.insert(0, 'Location', 'New York')

In [73]:
SA_2016_NY_W2.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,New York,7/1/2016 6:41:54,Apps,5,4
24,New York,7/1/2016 6:27:48,Games,5,4
25,New York,7/1/2016 6:31:02,Intro,5,3
26,New York,7/1/2016 6:31:12,Intro,5,3
27,New York,7/1/2016 6:36:15,Intro,5,3

---

In [74]:
file8_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SF.csv"
SA_2016_SF_W2 = pd.read_csv(file8_SF_PATH)

In [75]:
# SA_2016_SF_W2.head()
SA_2016_SF_W2.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
57,VR,7/5/2016 12:00:21,2,3
58,VR,7/1/2016 15:35:33,5,3
59,VR,7/2/2016 21:55:49,5,3
60,VR,7/5/2016 11:30:35,5,3
61,VR,7/5/2016 18:24:11,5,3

#### Notes on Week2 SF:
* There are 62 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [76]:
SA_2016_SF_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [77]:
lenght_SA_2016_SF_W2 = len(SA_2016_SF_W2)
SET_SA_2016_SF_W2 = set(SA_2016_SF_W2)
column_lenght_SA_2016_SF_W2 = len(SA_2016_SF_W2.columns)

#### Add new column with the location name

In [78]:
SA_2016_SF_W2.insert(0, 'Location', 'San Francisco')

In [79]:
SA_2016_SF_W2.head(6)

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,San Francisco,Apps,7/1/2016 16:35:14,2,3
1,San Francisco,Apps,7/1/2016 16:10:55,3,2
2,San Francisco,Apps,7/1/2016 17:00:26,3,3
3,San Francisco,Apps,7/3/2016 14:53:37,3,3
4,San Francisco,Apps,7/1/2016 15:35:19,4,2
5,San Francisco,Apps,7/1/2016 15:51:23,4,2

---

In [80]:
file9_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SG.csv"
SA_2016_SG_W2 = pd.read_csv(file9_SG_PATH)

In [81]:
# SA_2016_SG_W2.head()
SA_2016_SG_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/3/2016 19:14:57,3,3
4,7/3/2016 19:21:48,4,4
5,7/3/2016 19:27:27,4,3
6,7/3/2016 20:00:26,3,3
7,7/4/2016 3:03:20,3,3

#### Notes on Week2 SG:
* There are 8 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [82]:
SA_2016_SG_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [83]:
lenght_SA_2016_SG_W2 = len(SA_2016_SG_W2)
SET_SA_2016_SG_W2 = set(SA_2016_SG_W2)
column_lenght_SA_2016_SG_W2 = len(SA_2016_SG_W2.columns)

#### Add new column with the location name

In [84]:
SA_2016_SG_W2.insert(0, 'Location', 'Singapore')

In [85]:
SA_2016_SG_W2

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/1/2016 5:41:15,4,3
1,Singapore,7/1/2016 8:52:52,3,3
2,Singapore,7/2/2016 7:49:54,3,5
3,Singapore,7/3/2016 19:14:57,3,3
4,Singapore,7/3/2016 19:21:48,4,4
5,Singapore,7/3/2016 19:27:27,4,3
6,Singapore,7/3/2016 20:00:26,3,3
7,Singapore,7/4/2016 3:03:20,3,3

---

In [86]:
file10_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SV.csv"
SA_2016_SV_W2 = pd.read_csv(file10_SV_PATH)

In [87]:
# SA_2016_SV_W2.head()
SA_2016_SV_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
51,7/1/2016 10:47:06,Games,5,3
52,7/1/2016 10:47:57,Games,5,4
53,7/1/2016 13:25:32,Intro,5,2
54,7/1/2016 13:26:00,Intro,5,5
55,7/1/2016 13:28:10,Intro,5,2

#### Notes on Week2 SV:
* There are 56 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [88]:
SA_2016_SV_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [89]:
lenght_SA_2016_SV_W2 = len(SA_2016_SV_W2)
SET_SA_2016_SV_W2 = set(SA_2016_SV_W2)
column_lenght_SA_2016_SV_W2 = len(SA_2016_SV_W2.columns)

#### Add new column with the location name

In [90]:
SA_2016_SV_W2.insert(0, 'Location', 'Sunnyvale')

In [91]:
# SA_2016_SV_W2.head()
SA_2016_SV_W2.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
51,Sunnyvale,7/1/2016 10:47:06,Games,5,3
52,Sunnyvale,7/1/2016 10:47:57,Games,5,4
53,Sunnyvale,7/1/2016 13:25:32,Intro,5,2
54,Sunnyvale,7/1/2016 13:26:00,Intro,5,5
55,Sunnyvale,7/1/2016 13:28:10,Intro,5,2

---

### Formating into a complete week 2 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [92]:
SA_2016_W2_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunny Vale'], 
                   'Features': [SET_SA_2016_SG_W2, SET_SA_2016_LA_W2, SET_SA_2016_NY_W2, SET_SA_2016_SF_W2, SET_SA_2016_SV_W2], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W2, lenght_SA_2016_LA_W2, lenght_SA_2016_NY_W2, lenght_SA_2016_SF_W2, lenght_SA_2016_SV_W2],
                   'Number of Features': [column_lenght_SA_2016_SG_W2, column_lenght_SA_2016_LA_W2, column_lenght_SA_2016_NY_W2, column_lenght_SA_2016_SF_W2, column_lenght_SA_2016_SV_W2]
                  }
SA_2016_W2 = pd.DataFrame(data=SA_2016_W2_data)

In [93]:
SA_2016_W2

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,8,3
1,Los Angeles,{How would you rate your overall satisfaction ...,7,3
2,New York,"{What track are you in?, How would you rate yo...",28,4
3,San Francisco,"{What track are you in?, How would you rate yo...",62,4
4,Sunny Vale,"{What track are you in?, How would you rate yo...",56,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 2
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [94]:
# Here will only be the ones who have their track
week2_frames = [SA_2016_SG_W2, SA_2016_LA_W2, SA_2016_NY_W2, SA_2016_SF_W2, SA_2016_SV_W2]
SA_2016_W2_ALL = pd.concat(week2_frames, sort=True)
SA_2016_W2_ALL = SA_2016_W2_ALL.drop('What track are you in?', 1)

In [95]:
SA_2016_W2_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,3,4,Singapore,7/1/2016 5:41:15
1,3,3,Singapore,7/1/2016 8:52:52
2,5,3,Singapore,7/2/2016 7:49:54
3,3,3,Singapore,7/3/2016 19:14:57
4,4,4,Singapore,7/3/2016 19:21:48

In [96]:
# Here will only be the ones who have the feature track
week2_frames_only_track = [SA_2016_NY_W2, SA_2016_SF_W2, SA_2016_SV_W2]
SA_2016_W2_with_track = pd.concat(week2_frames_only_track, sort=True)

In [97]:
SA_2016_W2_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
51,3,5,Sunnyvale,7/1/2016 10:47:06,Games
52,4,5,Sunnyvale,7/1/2016 10:47:57,Games
53,2,5,Sunnyvale,7/1/2016 13:25:32,Intro
54,5,5,Sunnyvale,7/1/2016 13:26:00,Intro
55,2,5,Sunnyvale,7/1/2016 13:28:10,Intro

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [98]:
SA_2016_W2_ALL = SA_2016_W2_ALL.fillna(0)

In [99]:
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W2_with_track = SA_2016_W2_with_track.fillna(0)

#### Creating a single column

In [108]:
# SA_2016_W2_ALL['Level of satisfaction with the pacing'] = SA_2016_W2_ALL['How well is the schedule paced?']
# SA_2016_W2_ALL #= SA_2016_W2_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W2_ALL = SA_2016_W2_ALL.drop('How well is the schedule paced?', 1)
# SA_2016_W2_ALL = SA_2016_W2_ALL.drop('What track are you in?', 1)
# SA_2016_W2_ALL = SA_2016_W2_ALL.drop('Week number', 1)
# SA_2016_W2_ALL.insert(0, 'Week number', 'Week 2')

In [110]:
SA_2016_W2_ALL.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week 2,4,Singapore,3
1,Week 2,3,Singapore,3
2,Week 2,3,Singapore,5
3,Week 2,3,Singapore,3
4,Week 2,4,Singapore,4

In [119]:
# SA_2016_W2_with_track['Level of satisfaction with the pacing'] = SA_2016_W2_with_track['How well is the schedule paced?']
# SA_2016_W2_with_track = SA_2016_W2_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W2_with_track = SA_2016_W2_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W2_with_track = SA_2016_W2_with_track.drop('Week number', 1)
# SA_2016_W2_with_track.insert(0, 'Week number', 'Week 2')

In [121]:
SA_2016_W2_with_track.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
0,Week 2,3,New York,Apps,2
1,Week 2,3,New York,Apps,4
2,Week 2,3,New York,Games,5
3,Week 2,3,New York,Games,3
4,Week 2,4,New York,Apps,3

## Week3

In [122]:
file11_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - LA.csv"
SA_2016_LA_W3 = pd.read_csv(file11_LA_PATH)

In [123]:
# SA_2016_LA_W3.head()
SA_2016_LA_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/8/2016 13:45:52,4,4
2,7/8/2016 13:47:42,4,3
3,7/8/2016 13:47:59,4,3
4,7/8/2016 14:12:24,4,3
5,7/8/2016 14:13:39,5,4

#### Notes on Week3 LA:
* There are 6 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [124]:
SA_2016_LA_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [125]:
lenght_SA_2016_LA_W3 = len(SA_2016_LA_W3)
SET_SA_2016_LA_W3 = set(SA_2016_LA_W3)
column_lenght_SA_2016_LA_W3 = len(SA_2016_LA_W3.columns)

#### Add new column with the location name

In [126]:
SA_2016_LA_W3.insert(0, 'Location', 'Los Angeles')

In [127]:
SA_2016_LA_W3

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Los Angeles,7/8/2016 10:31:27,4,2
1,Los Angeles,7/8/2016 13:45:52,4,4
2,Los Angeles,7/8/2016 13:47:42,4,3
3,Los Angeles,7/8/2016 13:47:59,4,3
4,Los Angeles,7/8/2016 14:12:24,4,3
5,Los Angeles,7/8/2016 14:13:39,5,4

---

In [128]:
file12_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - NY.csv"
SA_2016_NY_W3 = pd.read_csv(file12_NY_PATH)

In [129]:
# SA_2016_NY_W3.head()
SA_2016_NY_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/8/2016 6:33:10,Apps,5,3
24,7/8/2016 6:36:23,Intro,4,4
25,7/8/2016 6:36:36,Games,5,3
26,7/8/2016 6:38:24,Games,5,3
27,7/8/2016 12:14:54,Apps,4,3

#### Notes on Week3 NY:
* There are 28 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [130]:
SA_2016_NY_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [131]:
lenght_SA_2016_NY_W3 = len(SA_2016_NY_W3)
SET_SA_2016_NY_W3 = set(SA_2016_NY_W3)
column_lenght_SA_2016_NY_W3 = len(SA_2016_NY_W3.columns)

#### Add new column with the location name

In [132]:
SA_2016_NY_W3.insert(0, 'Location', 'New York')

In [133]:
SA_2016_NY_W3.head()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,New York,7/8/2016 6:21:11,Apps,4,3
1,New York,7/8/2016 6:21:29,Apps,5,3
2,New York,7/8/2016 6:21:35,Intro,4,3
3,New York,7/8/2016 6:21:46,Apps,5,3
4,New York,7/8/2016 6:22:10,Apps,4,2

---

In [134]:
file13_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SF.csv"
SA_2016_SF_W3 = pd.read_csv(file13_SF_PATH)

In [135]:
# SA_2016_SF_W3.head()
SA_2016_SF_W3.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
18,VR,7/8/2016 16:27:30,4,4
19,VR,7/8/2016 17:18:49,1,5
20,VR,7/8/2016 19:14:34,4,4
21,Intro,7/11/2016 12:10:26,3,4
22,Intro,7/11/2016 12:39:56,4,4

#### Notes on Week3 SF:
* There are 22 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [136]:
SA_2016_SF_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [137]:
lenght_SA_2016_SF_W3 = len(SA_2016_SF_W3)
SET_SA_2016_SF_W3 = set(SA_2016_SF_W3)
column_lenght_SA_2016_SF_W3 = len(SA_2016_SF_W3.columns)

#### Add new column with the location name

In [138]:
SA_2016_SF_W3.insert(0, 'Location', 'San Francisco')

In [139]:
SA_2016_SF_W3.head()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,San Francisco,Apps,7/8/2016 15:56:20,3,2
1,San Francisco,Apps,7/8/2016 16:02:55,5,3
2,San Francisco,Apps,7/8/2016 16:19:51,3,3
3,San Francisco,Apps,7/8/2016 16:34:12,1,3
4,San Francisco,Apps,7/8/2016 16:39:27,5,2

---

In [140]:
file14_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SG.csv"
SA_2016_SG_W3 = pd.read_csv(file14_SG_PATH)

In [141]:
# SA_2016_SG_W3.head()
SA_2016_SG_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 7:36:11,4,3
1,7/8/2016 22:05:05,5,3

#### Notes on Week3 SG:
* There are 2 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [142]:
SA_2016_SG_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [143]:
lenght_SA_2016_SG_W3 = len(SA_2016_SG_W3)
SET_SA_2016_SG_W3 = set(SA_2016_SG_W3)
column_lenght_SA_2016_SG_W3 = len(SA_2016_SG_W3.columns)

#### Add new column with the location name

In [144]:
SA_2016_SG_W3.insert(0, 'Location', 'Singapore')

In [145]:
SA_2016_SG_W3

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/8/2016 7:36:11,4,3
1,Singapore,7/8/2016 22:05:05,5,3

---

In [146]:
file15_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SV.csv"
SA_2016_SV_W3 = pd.read_csv(file15_SV_PATH)

In [147]:
# SA_2016_SV_W3.head()
SA_2016_SV_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
32,7/10/2016 23:44:41,Games,4,4
33,NaN,Average:,#REF!,#REF!
34,7/8/2016 16:41:06,Apps,5,3
35,7/8/2016 13:07:39,Games,5,3
36,7/8/2016 12:45:02,Intro,5,3

#### Notes on Week3 SV:
* There are 37 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [148]:
SA_2016_SV_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [149]:
lenght_SA_2016_SV_W3 = len(SA_2016_SV_W3)
SET_SA_2016_SV_W3 = set(SA_2016_SV_W3)
column_lenght_SA_2016_SV_W3 = len(SA_2016_SV_W3.columns)

#### Add new column with the location name

In [150]:
SA_2016_SV_W3.insert(0, 'Location', 'Sunnyvale')

In [151]:
SA_2016_SV_W3.head()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Sunnyvale,7/8/2016 12:52:08,Games,5,2
1,Sunnyvale,7/9/2016 15:22:45,Apps,5,3
2,Sunnyvale,7/8/2016 21:26:01,Games,4,3
3,Sunnyvale,7/8/2016 13:52:01,Apps,4,3
4,Sunnyvale,7/8/2016 14:00:28,Apps,4,4

---

### Formating into a complete week 3 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [152]:
SA_2016_W3_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale'], 
                   'Features': [SET_SA_2016_SG_W3, SET_SA_2016_LA_W3, SET_SA_2016_NY_W3, SET_SA_2016_SF_W3, SET_SA_2016_SV_W3], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W3, lenght_SA_2016_LA_W3, lenght_SA_2016_NY_W3, lenght_SA_2016_SF_W3, lenght_SA_2016_SV_W3],
                   'Number of Features': [column_lenght_SA_2016_SG_W3, column_lenght_SA_2016_LA_W3, column_lenght_SA_2016_NY_W3, column_lenght_SA_2016_SF_W3, column_lenght_SA_2016_SV_W3]
                  }
SA_2016_W3 = pd.DataFrame(data=SA_2016_W3_data)

In [153]:
SA_2016_W3

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,2,3
1,Los Angeles,{How would you rate your overall satisfaction ...,6,3
2,New York,"{What track are you in?, How would you rate yo...",28,4
3,San Francisco,"{What track are you in?, How would you rate yo...",23,4
4,Sunnyvale,"{What track are you in?, How would you rate yo...",37,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 3
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [154]:
# Here will only be the ones who have their track
week3_frames = [SA_2016_SG_W3, SA_2016_LA_W3, SA_2016_NY_W3, SA_2016_SF_W3, SA_2016_SV_W3]
SA_2016_W3_ALL = pd.concat(week3_frames, sort=True)
SA_2016_W3_ALL = SA_2016_W3_ALL.drop('What track are you in?', 1)

In [155]:
SA_2016_W3_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,3,4,Singapore,7/8/2016 7:36:11
1,3,5,Singapore,7/8/2016 22:05:05
0,2,4,Los Angeles,7/8/2016 10:31:27
1,4,4,Los Angeles,7/8/2016 13:45:52
2,3,4,Los Angeles,7/8/2016 13:47:42

In [156]:
# Here will only be the ones who have the feature track
week3_frames_only_track = [SA_2016_NY_W3, SA_2016_SF_W3, SA_2016_SV_W3]
SA_2016_W3_with_track = pd.concat(week3_frames_only_track, sort=True)

In [158]:
SA_2016_W3_with_track

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
0,3,4,New York,7/8/2016 6:21:11,Apps
1,3,5,New York,7/8/2016 6:21:29,Apps
2,3,4,New York,7/8/2016 6:21:35,Intro
3,3,5,New York,7/8/2016 6:21:46,Apps
4,2,4,New York,7/8/2016 6:22:10,Apps
5,4,4,New York,7/8/2016 6:22:35,Games
6,4,4,New York,7/8/2016 6:22:50,Intro
7,3,5,New York,7/8/2016 6:23:09,Apps
8,4,4,New York,7/8/2016 6:23:28,Games
9,4,4,New York,7/8/2016 6:23:49,Intro
10,4,4,New York,7/8/2016 6:23:50,Games
11,4,4,New York,7/8/2016 6:24:25,Apps
12,3,4,New York,7/8/2016 6:26:03,Apps
13,3,4,New York,7/8/2016 6:26:30,Games
14,4,5,New York,7/8/2016 6:26:40,Apps
15,3,4,New York,7/8/2016 6:26:49,Apps
16,4,4,New York,7/8/2016 6:27:01,Games
17,4,5,New York,7/8/2016 6:27:14,Games
18,4,4,New York,7/8/2016 6:27:31,Intro
19,4,4,New York,7/8/2016 6:27:49,Apps
20,3,5,New York,7/8/2016 6:28:49,Games
21,4,3,New York,7/8/2016 6:28:56,Intro
22,3,5,New York,7/8/2016 6:29:05,Apps
23,3,5,New York,7/8/2016 6:33:10,Apps
24,4,4,New York,7/8/2016 6:36:23,Intro
25,3,5,New York,7/8/2016 6:36:36,Games
26,3,5,New York,7/8/2016 6:38:24,Games
27,3,4,New York,7/8/2016 12:14:54,Apps
0,2,3,San Francisco,7/8/2016 15:56:20,Apps
1,3,5,San Francisco,7/8/2016 16:02:55,Apps
...,...,...,...,...,...
7,4,3,Sunnyvale,7/8/2016 16:40:10,Apps
8,4,4,Sunnyvale,7/8/2016 13:58:12,Apps
9,4,3,Sunnyvale,7/8/2016 13:53:19,Apps
10,2,3,Sunnyvale,7/8/2016 15:59:30,Apps
11,4,5,Sunnyvale,7/8/2016 16:11:32,Apps
12,5,5,Sunnyvale,7/8/2016 12:49:05,Games
13,3,4,Sunnyvale,7/8/2016 12:49:16,Games
14,3,5,Sunnyvale,7/8/2016 12:47:42,Games
15,3,5,Sunnyvale,7/8/2016 12:43:44,Intro
16,3,4,Sunnyvale,7/8/2016 13:55:51,Apps
17,3,5,Sunnyvale,7/8/2016 14:02:54,Games
18,3,5,Sunnyvale,7/8/2016 14:29:22,Games
19,2,5,Sunnyvale,7/9/2016 17:05:33,Games
20,3,3,Sunnyvale,7/8/2016 16:55:21,Apps
21,3,3,Sunnyvale,7/8/2016 16:08:13,Games
22,3,4,Sunnyvale,7/8/2016 13:56:39,Apps
23,2,4,Sunnyvale,7/8/2016 14:03:35,Apps
24,5,4,Sunnyvale,7/8/2016 13:51:14,Games
25,4,4,Sunnyvale,7/8/2016 12:41:10,Intro
26,4,4,Sunnyvale,7/8/2016 12:41:13,Intro
27,3,4,Sunnyvale,7/8/2016 12:41:51,Intro
28,3,4,Sunnyvale,7/8/2016 12:43:35,Intro
29,3,4,Sunnyvale,7/8/2016 12:45:11,Intro
30,3,4,Sunnyvale,7/8/2016 12:47:39,Intro
31,4,4,Sunnyvale,7/8/2016 13:01:58,Intro
32,4,4,Sunnyvale,7/10/2016 23:44:41,Games
33,#REF!,#REF!,Sunnyvale,NaN,Average:
34,3,5,Sunnyvale,7/8/2016 16:41:06,Apps
35,3,5,Sunnyvale,7/8/2016 13:07:39,Games
36,3,5,Sunnyvale,7/8/2016 12:45:02,Intro

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [159]:
SA_2016_W3_ALL = SA_2016_W3_ALL.fillna(0)
# SA_2016_W3_ALL.tail()
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W3_with_track = SA_2016_W3_with_track.fillna(0)
# SA_2016_W3_with_track

#### Creating a single column

In [174]:
# SA_2016_W3_ALL['Level of satisfaction with the pacing'] = SA_2016_W3_ALL['How well is the schedule paced?']
# SA_2016_W3_ALL = SA_2016_W3_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W3_ALL = SA_2016_W3_ALL.drop('How well is the schedule paced?', 1)
# SA_2016_W3_ALL = SA_2016_W3_ALL.drop('What track are you in?', 1)
# SA_2016_W3_ALL = SA_2016_W3_ALL.drop('Week number', 1)
# SA_2016_W3_ALL.insert(0, 'Week number', 'Week 3')

In [175]:
SA_2016_W3_ALL.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week 3,4,Singapore,3
1,Week 3,5,Singapore,3
0,Week 3,4,Los Angeles,2
1,Week 3,4,Los Angeles,4
2,Week 3,4,Los Angeles,3

In [182]:
# SA_2016_W3_with_track['Level of satisfaction with the pacing'] = SA_2016_W3_with_track['How well is the schedule paced?']
# SA_2016_W3_with_track = SA_2016_W3_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W3_with_track = SA_2016_W3_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W3_with_track = SA_2016_W3_with_track.drop('Week number', 1)
# SA_2016_W3_with_track.insert(0, 'Week number', 'Week 3')

In [184]:
SA_2016_W3_with_track.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
0,Week 3,4,New York,Apps,3
1,Week 3,5,New York,Apps,3
2,Week 3,4,New York,Intro,3
3,Week 3,5,New York,Apps,3
4,Week 3,4,New York,Apps,2

## Week4

In [185]:
file16_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - LA.csv"
SA_2016_LA_W4 = pd.read_csv(file16_LA_PATH)

In [186]:
# SA_2016_LA_W4.head()
SA_2016_LA_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/15/2016 15:05:10,5,4
4,7/15/2016 15:12:36,3,3
5,7/15/2016 16:59:37,4,3
6,7/15/2016 17:10:52,4,3
7,7/15/2016 19:32:26,4,3

#### Notes on Week4 LA:
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [187]:
SA_2016_LA_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [188]:
lenght_SA_2016_LA_W4 = len(SA_2016_LA_W4)
SET_SA_2016_LA_W4 = set(SA_2016_LA_W4)
column_lenght_SA_2016_LA_W4 = len(SA_2016_LA_W4.columns)

#### Add new column with the location name

In [189]:
SA_2016_LA_W4.insert(0, 'Location', 'Los Angeles')

In [190]:
SA_2016_LA_W4

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Los Angeles,7/15/2016 13:20:35,5,3
1,Los Angeles,7/15/2016 13:22:22,5,3
2,Los Angeles,7/15/2016 14:35:15,5,3
3,Los Angeles,7/15/2016 15:05:10,5,4
4,Los Angeles,7/15/2016 15:12:36,3,3
5,Los Angeles,7/15/2016 16:59:37,4,3
6,Los Angeles,7/15/2016 17:10:52,4,3
7,Los Angeles,7/15/2016 19:32:26,4,3

---

In [191]:
file17_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - NY.csv"
SA_2016_NY_W4 = pd.read_csv(file17_NY_PATH)

In [192]:
# SA_2016_NY_W4.head()
SA_2016_NY_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
11,7/15/2016 7:30:38,Games,4,4
12,7/15/2016 7:37:15,Apps,5,3
13,7/15/2016 7:47:54,Games,4,3
14,7/15/2016 10:11:32,Apps,4,3
15,7/15/2016 10:18:52,Apps,4,3

#### Notes on Week4 NY:
* There are 16 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [193]:
SA_2016_NY_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [194]:
lenght_SA_2016_NY_W4 = len(SA_2016_NY_W4)
SET_SA_2016_NY_W4 = set(SA_2016_NY_W4)
column_lenght_SA_2016_NY_W4 = len(SA_2016_NY_W4.columns)

#### Add new column with the location name

In [195]:
SA_2016_NY_W4.insert(0, 'Location', 'New York')

In [196]:
SA_2016_NY_W4.head()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,New York,7/15/2016 6:28:26,Apps,5,3
1,New York,7/15/2016 6:29:53,Apps,5,3
2,New York,7/15/2016 6:30:09,Apps,4,3
3,New York,7/15/2016 6:30:24,Apps,4,3
4,New York,7/15/2016 6:31:29,Games,4,4

---

In [197]:
file18_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SF.csv"
SA_2016_SF_W4 = pd.read_csv(file18_SF_PATH)

In [198]:
# SA_2016_SF_W4.head()
SA_2016_SF_W4.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
26,Intro,7/19/2016 11:46:56,5,3
27,VR,7/15/2016 17:02:43,5,3
28,VR,7/16/2016 18:46:18,4,3
29,VR,7/18/2016 8:27:48,3,4
30,VR,7/18/2016 8:35:24,3,4

#### Notes on Week4 SF:
* There are 31 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [199]:
SA_2016_SF_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [200]:
lenght_SA_2016_SF_W4 = len(SA_2016_SF_W4)
SET_SA_2016_SF_W4 = set(SA_2016_SF_W4)
column_lenght_SA_2016_SF_W4 = len(SA_2016_SF_W4.columns)

#### Add new column with the location name

In [201]:
SA_2016_SF_W4.insert(0, 'Location', 'San Francisco')

In [202]:
SA_2016_SF_W4.tail()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
26,San Francisco,Intro,7/19/2016 11:46:56,5,3
27,San Francisco,VR,7/15/2016 17:02:43,5,3
28,San Francisco,VR,7/16/2016 18:46:18,4,3
29,San Francisco,VR,7/18/2016 8:27:48,3,4
30,San Francisco,VR,7/18/2016 8:35:24,3,4

---

In [203]:
file19_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SG.csv"
SA_2016_SG_W4 = pd.read_csv(file19_SG_PATH)

In [204]:
# SA_2016_SG_W4.head()
SA_2016_SG_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,7/15/2016 2:56:09,3,4
5,7/15/2016 4:37:33,4,3
6,7/15/2016 19:59:23,4,3
7,7/15/2016 20:46:14,3,4
8,7/17/2016 19:06:22,4,3

#### Notes on Week4 SG:
* There are 8 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [205]:
SA_2016_SG_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [206]:
lenght_SA_2016_SG_W4 = len(SA_2016_SG_W4)
SET_SA_2016_SG_W4 = set(SA_2016_SG_W4)
column_lenght_SA_2016_SG_W4 = len(SA_2016_SG_W4.columns)

#### Add new column with the location name

In [207]:
SA_2016_SG_W4.insert(0, 'Location', 'Singapore')

In [208]:
SA_2016_SG_W4

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/15/2016 2:45:00,4,3
1,Singapore,7/15/2016 2:45:11,4,4
2,Singapore,7/15/2016 2:48:37,3,3
3,Singapore,7/15/2016 2:53:18,4,3
4,Singapore,7/15/2016 2:56:09,3,4
5,Singapore,7/15/2016 4:37:33,4,3
6,Singapore,7/15/2016 19:59:23,4,3
7,Singapore,7/15/2016 20:46:14,3,4
8,Singapore,7/17/2016 19:06:22,4,3

---

In [209]:
file20_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SV.csv"
SA_2016_SV_W4 = pd.read_csv(file20_SV_PATH)

In [210]:
# SA_2016_SV_W4.head()
SA_2016_SV_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
31,7/15/2016 14:00:41,Games,4,4
32,7/15/2016 15:51:03,Games,5,5
33,7/15/2016 15:57:04,Games,5,3
34,7/15/2016 15:58:21,Games,3,3
35,7/15/2016 14:03:03,Intro,5,4

#### Notes on Week4 SV:
* There are 36 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [211]:
SA_2016_SV_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [212]:
lenght_SA_2016_SV_W4 = len(SA_2016_SV_W4)
SET_SA_2016_SV_W4 = set(SA_2016_SV_W4)
column_lenght_SA_2016_SV_W4 = len(SA_2016_SV_W4.columns)

#### Add new column with the location name

In [213]:
SA_2016_SV_W4.insert(0, 'Location', 'Sunnyvale')

In [214]:
SA_2016_SV_W4.head()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Sunnyvale,7/15/2016 13:30:19,Apps,2,1
1,Sunnyvale,7/15/2016 13:31:54,Apps,3,3
2,Sunnyvale,7/15/2016 13:35:36,Apps,4,4
3,Sunnyvale,7/15/2016 13:58:34,Apps,4,3
4,Sunnyvale,7/15/2016 14:01:42,Apps,5,3

---

### Formating into a complete week 4 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [215]:
SA_2016_W4_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale'], 
                   'Features': [SET_SA_2016_SG_W4, SET_SA_2016_LA_W4, SET_SA_2016_NY_W4, SET_SA_2016_SF_W4, SET_SA_2016_SV_W4], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W4, lenght_SA_2016_LA_W4, lenght_SA_2016_NY_W4, lenght_SA_2016_SF_W4, lenght_SA_2016_SV_W4],
                   'Number of Features': [column_lenght_SA_2016_SG_W4, column_lenght_SA_2016_LA_W4, column_lenght_SA_2016_NY_W4, column_lenght_SA_2016_SF_W4, column_lenght_SA_2016_SV_W4]
                  }
SA_2016_W4 = pd.DataFrame(data=SA_2016_W4_data)

In [216]:
SA_2016_W4

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,9,3
1,Los Angeles,{How would you rate your overall satisfaction ...,8,3
2,New York,"{What track are you in?, How would you rate yo...",16,4
3,San Francisco,"{What track are you in?, How would you rate yo...",31,4
4,Sunnyvale,"{What track are you in?, How would you rate yo...",36,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 4
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [217]:
# Here will only be the ones who have their track
week4_frames = [SA_2016_SG_W4, SA_2016_LA_W4, SA_2016_NY_W4, SA_2016_SF_W4, SA_2016_SV_W4]
SA_2016_W4_ALL = pd.concat(week4_frames, sort=True)
SA_2016_W4_ALL = SA_2016_W4_ALL.drop('What track are you in?', 1)

In [218]:
SA_2016_W4_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,3,4,Singapore,7/15/2016 2:45:00
1,4,4,Singapore,7/15/2016 2:45:11
2,3,3,Singapore,7/15/2016 2:48:37
3,3,4,Singapore,7/15/2016 2:53:18
4,4,3,Singapore,7/15/2016 2:56:09

In [219]:
# # Here will only be the ones who have the feature track
week4_frames_only_track = [SA_2016_NY_W4, SA_2016_SF_W4, SA_2016_SV_W4]
SA_2016_W4_with_track = pd.concat(week4_frames_only_track, sort=True)

In [220]:
SA_2016_W4_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
31,4,4,Sunnyvale,7/15/2016 14:00:41,Games
32,5,5,Sunnyvale,7/15/2016 15:51:03,Games
33,3,5,Sunnyvale,7/15/2016 15:57:04,Games
34,3,3,Sunnyvale,7/15/2016 15:58:21,Games
35,4,5,Sunnyvale,7/15/2016 14:03:03,Intro

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [221]:
SA_2016_W4_ALL = SA_2016_W4_ALL.fillna(0)
# SA_2016_W4_ALL.tail()
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W4_with_track = SA_2016_W4_with_track.fillna(0)
# SA_2016_W4_with_track

#### Creating a single column

In [228]:
# SA_2016_W4_ALL['Level of satisfaction with the pacing'] = SA_2016_W4_ALL['How well is the schedule paced?']
# SA_2016_W4_ALL = SA_2016_W4_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W4_ALL = SA_2016_W4_ALL.drop('How well is the schedule paced?', 1)
# # SA_2016_W4_ALL = SA_2016_W4_ALL.drop('What track are you in?', 1)
# SA_2016_W4_ALL = SA_2016_W4_ALL.drop('Week number', 1)
# SA_2016_W4_ALL.insert(0, 'Week number', 'Week 4')

In [230]:
SA_2016_W4_ALL.tail()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
31,Week 4,4,Sunnyvale,4
32,Week 4,5,Sunnyvale,5
33,Week 4,5,Sunnyvale,3
34,Week 4,3,Sunnyvale,3
35,Week 4,5,Sunnyvale,4

In [237]:
# SA_2016_W4_with_track['Level of satisfaction with the pacing'] = SA_2016_W4_with_track['How well is the schedule paced?']
# SA_2016_W4_with_track = SA_2016_W4_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W4_with_track = SA_2016_W4_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W4_with_track = SA_2016_W4_with_track.drop('Week number', 1)
# SA_2016_W4_with_track.insert(0, 'Week number', 'Week 4')

In [239]:
SA_2016_W4_with_track.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
0,Week 4,5,New York,Apps,3
1,Week 4,5,New York,Apps,3
2,Week 4,4,New York,Apps,3
3,Week 4,4,New York,Apps,3
4,Week 4,4,New York,Games,4

## Week5

In [240]:
file21_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - HK.csv"
SA_2016_HK_W5 = pd.read_csv(file21_HK_PATH)

In [241]:
# SA_2016_HK_W5.head()
SA_2016_HK_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,7/21/2016 21:57:59,4,3
1,7/21/2016 21:59:37,5,3
2,7/21/2016 22:01:53,5,3

#### Notes on Week5 HK:
* There are 3 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [242]:
SA_2016_HK_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [243]:
lenght_SA_2016_HK_W5 = len(SA_2016_HK_W5)
SET_SA_2016_HK_W5 = set(SA_2016_HK_W5)
column_lenght_SA_2016_HK_W5 = len(SA_2016_HK_W5.columns)

#### Add new column with the location name

In [244]:
SA_2016_HK_W5.insert(0, 'Location', 'Hong Kong')

In [245]:
SA_2016_HK_W5

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Hong Kong,7/21/2016 21:57:59,4,3
1,Hong Kong,7/21/2016 21:59:37,5,3
2,Hong Kong,7/21/2016 22:01:53,5,3

---

In [246]:
file22_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - LA.csv"
SA_2016_LA_W5 = pd.read_csv(file22_LA_PATH)

In [247]:
# SA_2016_LA_W5.head()
SA_2016_LA_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/22/2016 16:19:58,Games,4,4
8,7/22/2016 16:20:25,Games,5,4
9,7/22/2016 16:20:30,Intro,5,3
10,7/22/2016 16:23:12,Games,4,3
11,7/22/2016 16:23:19,Games,4,3

#### Notes on Week5 LA:
* There are 12 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [248]:
SA_2016_LA_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [249]:
lenght_SA_2016_LA_W5 = len(SA_2016_LA_W5)
SET_SA_2016_LA_W5 = set(SA_2016_LA_W5)
column_lenght_SA_2016_LA_W5 = len(SA_2016_LA_W5.columns)

#### Add new column with the location name

In [250]:
SA_2016_LA_W5.insert(0, 'Location', 'Los Angeles')

In [251]:
SA_2016_LA_W5.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,Los Angeles,7/22/2016 16:19:58,Games,4,4
8,Los Angeles,7/22/2016 16:20:25,Games,5,4
9,Los Angeles,7/22/2016 16:20:30,Intro,5,3
10,Los Angeles,7/22/2016 16:23:12,Games,4,3
11,Los Angeles,7/22/2016 16:23:19,Games,4,3

---

In [252]:
file23_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - NY.csv"
SA_2016_NY_W5 = pd.read_csv(file23_NY_PATH)

In [253]:
# SA_2016_NY_W5.head()
SA_2016_NY_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
16,7/22/2016 13:53:31,Games,5,3
17,7/22/2016 13:53:56,Apps,4,3
18,7/22/2016 13:54:46,Games,5,3
19,7/22/2016 13:54:52,Apps,5,3
20,7/22/2016 13:57:13,Games,4,3

#### Notes on Week5 NY:
* There are 21 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [254]:
SA_2016_NY_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [255]:
lenght_SA_2016_NY_W5 = len(SA_2016_NY_W5)
SET_SA_2016_NY_W5 = set(SA_2016_NY_W5)
column_lenght_SA_2016_NY_W5 = len(SA_2016_NY_W5.columns)

#### Add new column with the location name

In [256]:
SA_2016_NY_W5.insert(0, 'Location', 'New York')

In [257]:
SA_2016_NY_W5.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
16,New York,7/22/2016 13:53:31,Games,5,3
17,New York,7/22/2016 13:53:56,Apps,4,3
18,New York,7/22/2016 13:54:46,Games,5,3
19,New York,7/22/2016 13:54:52,Apps,5,3
20,New York,7/22/2016 13:57:13,Games,4,3

---

In [258]:
file24_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SF.csv"
SA_2016_SF_W5 = pd.read_csv(file24_SF_PATH)

In [259]:
# SA_2016_SF_W5.head()
SA_2016_SF_W5.tail()

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
37,VR,5,4
38,VR,4,4
39,VR,5,3
40,Intro,3,3
41,Intro,3,3

#### Notes on Week5 SF:
* There are 42 data points
* Features 3: "What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [260]:
SA_2016_SF_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [261]:
lenght_SA_2016_SF_W5 = len(SA_2016_SF_W5)
SET_SA_2016_SF_W5 = set(SA_2016_SF_W5)
column_lenght_SA_2016_SF_W5 = len(SA_2016_SF_W5.columns)

#### Add new column with the location name

In [262]:
SA_2016_SF_W5.insert(0, 'Location', 'San Francisco')

In [263]:
SA_2016_SF_W5.tail()

,Location,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
37,San Francisco,VR,5,4
38,San Francisco,VR,4,4
39,San Francisco,VR,5,3
40,San Francisco,Intro,3,3
41,San Francisco,Intro,3,3

---

In [264]:
file25_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SG.csv"
SA_2016_SG_W5 = pd.read_csv(file25_SG_PATH)

In [265]:
# SA_2016_SG_W5.head()
SA_2016_SG_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,7/22/2016 19:26:57,4,3
7,7/22/2016 22:37:46,3,3
8,7/23/2016 18:59:21,4,3
9,7/23/2016 23:28:39,4,3
10,7/24/2016 11:16:24,2,2

#### Notes on Week5 SG:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [266]:
SA_2016_SG_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [267]:
lenght_SA_2016_SG_W5 = len(SA_2016_SG_W5)
SET_SA_2016_SG_W5 = set(SA_2016_SG_W5)
column_lenght_SA_2016_SG_W5 = len(SA_2016_SG_W5.columns)

#### Add new column with the location name

In [268]:
SA_2016_SG_W5.insert(0, 'Location', 'Singapore')

In [269]:
SA_2016_SG_W5

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/22/2016 1:30:17,4,3
1,Singapore,7/22/2016 1:36:59,4,3
2,Singapore,7/22/2016 1:42:08,4,4
3,Singapore,7/22/2016 1:49:13,4,3
4,Singapore,7/22/2016 1:50:35,4,4
5,Singapore,7/22/2016 3:08:20,4,3
6,Singapore,7/22/2016 19:26:57,4,3
7,Singapore,7/22/2016 22:37:46,3,3
8,Singapore,7/23/2016 18:59:21,4,3
9,Singapore,7/23/2016 23:28:39,4,3
10,Singapore,7/24/2016 11:16:24,2,2

---

In [270]:
file26_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SV.csv"
SA_2016_SV_W5 = pd.read_csv(file26_SV_PATH)

In [271]:
# SA_2016_SV_W5.head()
SA_2016_SV_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
36,7/22/2016 15:24:21,Games,3,5
37,7/22/2016 15:54:08,Games,5,2
38,7/22/2016 15:24:25,Games,3,3
39,7/22/2016 12:45:22,Games,5,3
40,7/22/2016 14:04:51,Games,5,3

#### Notes on Week5 SV:
* There are 41 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [272]:
SA_2016_SV_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [273]:
lenght_SA_2016_SV_W5 = len(SA_2016_SV_W5)
SET_SA_2016_SV_W5 = set(SA_2016_SV_W5)
column_lenght_SA_2016_SV_W5 = len(SA_2016_SV_W5.columns)

#### Add new column with the location name

In [274]:
SA_2016_SV_W5.insert(0, 'Location', 'Sunnyvale')

In [275]:
SA_2016_SV_W5.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
36,Sunnyvale,7/22/2016 15:24:21,Games,3,5
37,Sunnyvale,7/22/2016 15:54:08,Games,5,2
38,Sunnyvale,7/22/2016 15:24:25,Games,3,3
39,Sunnyvale,7/22/2016 12:45:22,Games,5,3
40,Sunnyvale,7/22/2016 14:04:51,Games,5,3

---

### Formating into a complete week 5 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [276]:
SA_2016_W5_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Hong Kong'], 
                   'Features': [SET_SA_2016_SG_W5, SET_SA_2016_LA_W5, SET_SA_2016_NY_W5, SET_SA_2016_SF_W5, SET_SA_2016_SV_W5, SET_SA_2016_HK_W5], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W5, lenght_SA_2016_LA_W5, lenght_SA_2016_NY_W5, lenght_SA_2016_SF_W5, lenght_SA_2016_SV_W5, lenght_SA_2016_HK_W5],
                   'Number of Features': [column_lenght_SA_2016_SG_W5, column_lenght_SA_2016_LA_W5, column_lenght_SA_2016_NY_W5, column_lenght_SA_2016_SF_W5, column_lenght_SA_2016_SV_W5, column_lenght_SA_2016_HK_W5]
                  }
SA_2016_W5 = pd.DataFrame(data=SA_2016_W5_data)

In [277]:
SA_2016_W5

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,11,3
1,Los Angeles,"{What track are you in?, How would you rate yo...",12,4
2,New York,"{What track are you in?, How would you rate yo...",21,4
3,San Francisco,"{What track are you in?, How would you rate yo...",42,3
4,Sunnyvale,"{What track are you in?, How would you rate yo...",41,4
5,Hong Kong,{How would you rate your overall satisfaction ...,3,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 5
#### Process to achieve this
* Concatenate all without including track, will exclude Hong Kong because it begins at week 5 compared to NY, LA, SV, SG and SF, but relative to itself for it this would be week 1.
* Concatenate only the ones with track
*

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [278]:
# Here will only be the ones who have their track
week5_frames = [SA_2016_SG_W5, SA_2016_LA_W5, SA_2016_NY_W5, SA_2016_SF_W5, SA_2016_SV_W5]
SA_2016_W5_ALL = pd.concat(week5_frames, sort=True)
SA_2016_W5_ALL = SA_2016_W5_ALL.drop('What track are you in?', 1)

In [279]:
SA_2016_W5_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,3,4,Singapore,7/22/2016 1:30:17
1,3,4,Singapore,7/22/2016 1:36:59
2,4,4,Singapore,7/22/2016 1:42:08
3,3,4,Singapore,7/22/2016 1:49:13
4,4,4,Singapore,7/22/2016 1:50:35

In [280]:
# Here will only be the ones who have the feature track
week5_frames_only_track = [SA_2016_NY_W5, SA_2016_LA_W5, SA_2016_SV_W5]
SA_2016_W5_with_track = pd.concat(week5_frames_only_track, sort=True)

In [281]:
SA_2016_W5_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
36,5,3,Sunnyvale,7/22/2016 15:24:21,Games
37,2,5,Sunnyvale,7/22/2016 15:54:08,Games
38,3,3,Sunnyvale,7/22/2016 15:24:25,Games
39,3,5,Sunnyvale,7/22/2016 12:45:22,Games
40,3,5,Sunnyvale,7/22/2016 14:04:51,Games

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [282]:
SA_2016_W5_ALL = SA_2016_W5_ALL.fillna(0)
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W5_with_track = SA_2016_W5_with_track.fillna(0)
# SA_2016_W5_with_track

#### Creating a single column

In [288]:
# SA_2016_W5_ALL['Level of satisfaction with the pacing'] = SA_2016_W5_ALL['How well is the schedule paced?']
# SA_2016_W5_ALL = SA_2016_W5_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W5_ALL = SA_2016_W5_ALL.drop('How well is the schedule paced?', 1)
# SA_2016_W5_ALL = SA_2016_W5_ALL.drop('What track are you in?', 1)
# SA_2016_W5_ALL = SA_2016_W5_ALL.drop('Week number', 1)
# SA_2016_W5_ALL.insert(0, 'Week number', 'Week 5')

In [289]:
SA_2016_W5_ALL.tail()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
36,Week 5,3,Sunnyvale,5
37,Week 5,5,Sunnyvale,2
38,Week 5,3,Sunnyvale,3
39,Week 5,5,Sunnyvale,3
40,Week 5,5,Sunnyvale,3

In [294]:
# SA_2016_W5_with_track['Level of satisfaction with the pacing'] = SA_2016_W5_with_track['How well is the schedule paced?']
# SA_2016_W5_with_track = SA_2016_W5_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W5_with_track = SA_2016_W5_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W5_with_track = SA_2016_W5_with_track.drop('Week number', 1)
# SA_2016_W5_with_track.insert(0, 'Week number', 'Week 5')

In [295]:
SA_2016_W5_with_track.tail()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
36,Week 5,3,Sunnyvale,Games,5
37,Week 5,5,Sunnyvale,Games,2
38,Week 5,3,Sunnyvale,Games,3
39,Week 5,5,Sunnyvale,Games,3
40,Week 5,5,Sunnyvale,Games,3

## Week6

In [296]:
file27_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - HK.csv"
SA_2016_HK_W6 = pd.read_csv(file27_HK_PATH)

In [297]:
# SA_2016_HK_W6.head()
SA_2016_HK_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 0:19:08,5,3
1,7/29/2016 0:22:41,4,3
2,7/29/2016 0:23:17,5,3

#### Notes on Week6 HK:
* There are 3 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [298]:
SA_2016_HK_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [299]:
lenght_SA_2016_HK_W6 = len(SA_2016_HK_W6)
SET_SA_2016_HK_W6 = set(SA_2016_HK_W6)
column_lenght_SA_2016_HK_W6 = len(SA_2016_HK_W6.columns)

#### Add new column with the location name

In [300]:
SA_2016_HK_W6.insert(0, 'Location', 'Hong Kong')

In [301]:
SA_2016_HK_W6

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Hong Kong,7/29/2016 0:19:08,5,3
1,Hong Kong,7/29/2016 0:22:41,4,3
2,Hong Kong,7/29/2016 0:23:17,5,3

---

In [302]:
file28_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - LA.csv"
SA_2016_LA_W6 = pd.read_csv(file28_LA_PATH)

In [303]:
SA_2016_LA_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
5,8/1/2016 9:40:14,Intro,5,3
6,8/1/2016 10:03:22,Games,5,3
7,8/1/2016 10:04:06,Games,4,3
8,8/1/2016 10:06:45,Intro,4,4
9,8/1/2016 11:22:56,Games,4,4

#### Notes on Week6 LA:
* There are 10 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [304]:
SA_2016_LA_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [305]:
lenght_SA_2016_LA_W6 = len(SA_2016_LA_W6)
SET_SA_2016_LA_W6 = set(SA_2016_LA_W6)
column_lenght_SA_2016_LA_W6 = len(SA_2016_LA_W6.columns)

#### Add new column with the location name

In [306]:
SA_2016_LA_W6.insert(0, 'Location', 'Los Angeles')

In [307]:
SA_2016_LA_W6.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
5,Los Angeles,8/1/2016 9:40:14,Intro,5,3
6,Los Angeles,8/1/2016 10:03:22,Games,5,3
7,Los Angeles,8/1/2016 10:04:06,Games,4,3
8,Los Angeles,8/1/2016 10:06:45,Intro,4,4
9,Los Angeles,8/1/2016 11:22:56,Games,4,4

---

In [308]:
file29_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - NY.csv"
SA_2016_NY_W6 = pd.read_csv(file29_NY_PATH)

In [309]:
# SA_2016_NY_W6.head()
SA_2016_NY_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
15,7/29/2016 13:17:56,Apps,4,3
16,7/29/2016 13:19:10,Intro,5,3
17,7/29/2016 13:19:53,Games,4,3
18,7/29/2016 13:21:00,Apps,5,5
19,8/5/2016 12:40:44,Games,4,3

#### Notes on Week6 NY:
* There are 20 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [310]:
SA_2016_NY_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [311]:
lenght_SA_2016_NY_W6 = len(SA_2016_NY_W6)
SET_SA_2016_NY_W6 = set(SA_2016_NY_W6)
column_lenght_SA_2016_NY_W6 = len(SA_2016_NY_W6.columns)

#### Add new column with the location name

In [312]:
SA_2016_NY_W6.insert(0, 'Location', 'New York')

In [313]:
SA_2016_NY_W6.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
15,New York,7/29/2016 13:17:56,Apps,4,3
16,New York,7/29/2016 13:19:10,Intro,5,3
17,New York,7/29/2016 13:19:53,Games,4,3
18,New York,7/29/2016 13:21:00,Apps,5,5
19,New York,8/5/2016 12:40:44,Games,4,3

---

In [314]:
file30_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SF.csv"
SA_2016_SF_W6 = pd.read_csv(file30_SF_PATH)

In [315]:
# SA_2016_SF_W6.head()
SA_2016_SF_W6.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
20,Intro,7/29/2016 15:02:01,5,3
21,Intro,7/29/2016 15:09:17,5,3
22,VR,7/30/2016 9:00:15,4,3
23,VR,7/29/2016 21:45:54,4,4
24,VR,7/30/2016 13:09:48,4,3

#### Notes on Week6 SF:
* There are 24 data points
* Features 3: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [316]:
SA_2016_SF_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [317]:
lenght_SA_2016_SF_W6 = len(SA_2016_SF_W6)
SET_SA_2016_SF_W6 = set(SA_2016_SF_W6)
column_lenght_SA_2016_SF_W6 = len(SA_2016_SF_W6.columns)

#### Add new column with the location name

In [318]:
SA_2016_SF_W6.insert(0, 'Location', 'San Francisco')

In [319]:
SA_2016_SF_W6.tail()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
20,San Francisco,Intro,7/29/2016 15:02:01,5,3
21,San Francisco,Intro,7/29/2016 15:09:17,5,3
22,San Francisco,VR,7/30/2016 9:00:15,4,3
23,San Francisco,VR,7/29/2016 21:45:54,4,4
24,San Francisco,VR,7/30/2016 13:09:48,4,3

---

In [320]:
file31_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SG.csv"
SA_2016_SG_W6 = pd.read_csv(file31_SG_PATH)

In [321]:
# SA_2016_SG_W6.head()
SA_2016_SG_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/29/2016 23:12:48,5,5
2,7/30/2016 5:46:01,5,3
3,7/30/2016 7:02:47,4,3
4,7/31/2016 7:40:14,3,5
5,7/31/2016 8:34:29,5,3

#### Notes on Week6 SG:
* There are 6 data points
* Features 3: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [322]:
SA_2016_SG_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [323]:
lenght_SA_2016_SG_W6 = len(SA_2016_SG_W6)
SET_SA_2016_SG_W6 = set(SA_2016_SG_W6)
column_lenght_SA_2016_SG_W6 = len(SA_2016_SG_W6.columns)

#### Add new column with the location name

In [324]:
SA_2016_SG_W6.insert(0, 'Location', 'Singapore')

In [325]:
SA_2016_SG_W6

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/29/2016 19:18:44,4,3
1,Singapore,7/29/2016 23:12:48,5,5
2,Singapore,7/30/2016 5:46:01,5,3
3,Singapore,7/30/2016 7:02:47,4,3
4,Singapore,7/31/2016 7:40:14,3,5
5,Singapore,7/31/2016 8:34:29,5,3

---

In [326]:
file32_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SV.csv"
SA_2016_SV_W6 = pd.read_csv(file32_SV_PATH)

In [327]:
# SA_2016_SV_W6.head()
SA_2016_SV_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
30,7/29/2016 13:15:55,Intro,4,3
31,7/29/2016 13:16:10,Intro,4,3
32,7/29/2016 13:19:58,Intro,4,3
33,7/29/2016 13:17:35,Intro,5,3
34,7/29/2016 13:24:51,Intro,4,2

#### Notes on Week6 SV:
* There are 35 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [328]:
SA_2016_SV_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [329]:
lenght_SA_2016_SV_W6 = len(SA_2016_SV_W6)
SET_SA_2016_SV_W6 = set(SA_2016_SV_W6)
column_lenght_SA_2016_SV_W6 = len(SA_2016_SV_W6.columns)

#### Add new column with the location name

In [330]:
SA_2016_SV_W6.insert(0, 'Location', 'Sunnyvale')

In [331]:
SA_2016_SV_W6.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
30,Sunnyvale,7/29/2016 13:15:55,Intro,4,3
31,Sunnyvale,7/29/2016 13:16:10,Intro,4,3
32,Sunnyvale,7/29/2016 13:19:58,Intro,4,3
33,Sunnyvale,7/29/2016 13:17:35,Intro,5,3
34,Sunnyvale,7/29/2016 13:24:51,Intro,4,2

---

In [332]:
file33_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Taipei.csv"
SA_2016_Taipei_W6 = pd.read_csv(file33_Taipei_PATH)

In [333]:
# SA_2016_Taipei_W6.head()
SA_2016_Taipei_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/29/2016 1:27:55,3,3
8,7/29/2016 1:28:54,5,2
9,7/29/2016 1:29:23,4,4
10,7/29/2016 1:46:49,5,4
11,7/29/2016 21:20:05,5,3

#### Notes on Week6 Taipei:
* There are 12 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [334]:
SA_2016_Taipei_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [335]:
lenght_SA_2016_Taipei_W6 = len(SA_2016_Taipei_W6)
SET_SA_2016_Taipei_W6 = set(SA_2016_Taipei_W6)
column_lenght_SA_2016_Taipei_W6 = len(SA_2016_Taipei_W6.columns)

#### Add new column with the location name

In [336]:
SA_2016_Taipei_W6.insert(0, 'Location', 'Taipei')

In [337]:
SA_2016_Taipei_W6.tail()

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,Taipei,7/29/2016 1:27:55,3,3
8,Taipei,7/29/2016 1:28:54,5,2
9,Taipei,7/29/2016 1:29:23,4,4
10,Taipei,7/29/2016 1:46:49,5,4
11,Taipei,7/29/2016 21:20:05,5,3

---

In [338]:
file34_Tokyo_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Tokyo.csv"
SA_2016_Tokyo_W6 = pd.read_csv(file34_Tokyo_PATH)

In [339]:
# SA_2016_Tokyo_W6.head()
SA_2016_Tokyo_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
8,8/1/2016 1:18:47,3,4
9,8/1/2016 1:30:17,5,3
10,8/1/2016 1:30:17,5,3
11,8/1/2016 6:15:10,4,4
12,8/1/2016 7:56:08,4,3

#### Notes on Week6 Tokyo:
* There are 13 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [340]:
SA_2016_Tokyo_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [341]:
lenght_SA_2016_Tokyo_W6 = len(SA_2016_Tokyo_W6)
SET_SA_2016_Tokyo_W6 = set(SA_2016_Tokyo_W6)
column_lenght_SA_2016_Tokyo_W6 = len(SA_2016_Tokyo_W6.columns)

#### Add new column with the location name

In [342]:
SA_2016_Tokyo_W6.insert(0, 'Location', 'Tokyo')

In [343]:
SA_2016_Tokyo_W6.tail()

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
8,Tokyo,8/1/2016 1:18:47,3,4
9,Tokyo,8/1/2016 1:30:17,5,3
10,Tokyo,8/1/2016 1:30:17,5,3
11,Tokyo,8/1/2016 6:15:10,4,4
12,Tokyo,8/1/2016 7:56:08,4,3

---

### Formating into a complete week 6 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [344]:
SA_2016_W6_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Hong Kong', 'Taipei', 'Tokyo'], 
                   'Features': [SET_SA_2016_SG_W6, SET_SA_2016_LA_W6, SET_SA_2016_NY_W6, SET_SA_2016_SF_W6, SET_SA_2016_SV_W6, SET_SA_2016_HK_W6, SET_SA_2016_Taipei_W6, SET_SA_2016_Tokyo_W6], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W6, lenght_SA_2016_LA_W6, lenght_SA_2016_NY_W6, lenght_SA_2016_SF_W6, lenght_SA_2016_SV_W6, lenght_SA_2016_HK_W6, lenght_SA_2016_Taipei_W6, lenght_SA_2016_Tokyo_W6],
                   'Number of Features': [column_lenght_SA_2016_SG_W6, column_lenght_SA_2016_LA_W6, column_lenght_SA_2016_NY_W6, column_lenght_SA_2016_SF_W6, column_lenght_SA_2016_SV_W6, column_lenght_SA_2016_HK_W6, column_lenght_SA_2016_Taipei_W6, column_lenght_SA_2016_Tokyo_W6]
                  }
SA_2016_W6 = pd.DataFrame(data=SA_2016_W6_data)

In [345]:
SA_2016_W6

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,{How would you rate your overall satisfaction ...,6,3
1,Los Angeles,"{What track are you in?, How would you rate yo...",10,4
2,New York,"{What track are you in?, How would you rate yo...",20,4
3,San Francisco,"{What track are you in?, How would you rate yo...",25,4
4,Sunnyvale,"{What track are you in?, How would you rate yo...",35,4
5,Hong Kong,{How would you rate your overall satisfaction ...,3,3
6,Taipei,{How would you rate your overall satisfaction ...,12,3
7,Tokyo,{How would you rate your overall satisfaction ...,13,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 6
#### Process to achieve this
* Concatenate all without including track, will exclude Hong Kong, Tokyo and Taipei because it begins at week 5 compared to NY, LA, SV, SG and SF, but relative to itself for it this would be week 2, week 1 and week 1.
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [346]:
# Here will only be the ones who have their track
week6_frames = [SA_2016_SG_W6, SA_2016_LA_W6, SA_2016_NY_W6, SA_2016_SF_W6, SA_2016_SV_W6]
SA_2016_W6_ALL = pd.concat(week6_frames, sort=True)
SA_2016_W6_ALL = SA_2016_W6_ALL.drop('What track are you in?', 1)

In [347]:
SA_2016_W6_ALL.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
30,3,4,Sunnyvale,7/29/2016 13:15:55
31,3,4,Sunnyvale,7/29/2016 13:16:10
32,3,4,Sunnyvale,7/29/2016 13:19:58
33,3,5,Sunnyvale,7/29/2016 13:17:35
34,2,4,Sunnyvale,7/29/2016 13:24:51

In [348]:
# Here will only be the ones who have the feature track
week6_frames_only_track = [SA_2016_NY_W6, SA_2016_LA_W6, SA_2016_SV_W6]
SA_2016_W6_with_track = pd.concat(week6_frames_only_track, sort=True)

In [349]:
SA_2016_W6_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
30,3,4,Sunnyvale,7/29/2016 13:15:55,Intro
31,3,4,Sunnyvale,7/29/2016 13:16:10,Intro
32,3,4,Sunnyvale,7/29/2016 13:19:58,Intro
33,3,5,Sunnyvale,7/29/2016 13:17:35,Intro
34,2,4,Sunnyvale,7/29/2016 13:24:51,Intro

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [350]:
SA_2016_W6_ALL = SA_2016_W6_ALL.fillna(0)

# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W6_with_track = SA_2016_W6_with_track.fillna(0)
# SA_2016_W6_with_track

#### Creating a single column

In [354]:
# SA_2016_W6_ALL['Level of satisfaction with the pacing'] = SA_2016_W6_ALL['How well is the schedule paced?']
# SA_2016_W6_ALL = SA_2016_W6_ALL.drop('How well is the schedule paced?', 1)
# # SA_2016_W6_ALL = SA_2016_W6_ALL.drop('What track are you in?', 1)
# SA_2016_W6_ALL = SA_2016_W6_ALL.drop('Week number', 1)
SA_2016_W6_ALL.insert(0, 'Week number', 'Week 6')

In [355]:
SA_2016_W6_ALL.tail()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
30,Week 6,4,Sunnyvale,3
31,Week 6,4,Sunnyvale,3
32,Week 6,4,Sunnyvale,3
33,Week 6,5,Sunnyvale,3
34,Week 6,4,Sunnyvale,2

In [359]:
# SA_2016_W6_with_track['Level of satisfaction with the pacing'] = SA_2016_W6_with_track['How well is the schedule paced?']
# SA_2016_W6_with_track = SA_2016_W6_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W6_with_track = SA_2016_W6_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W6_with_track = SA_2016_W6_with_track.drop('Week number', 1)
SA_2016_W6_with_track.insert(0, 'Week number', 'Week 6')

In [360]:
SA_2016_W6_with_track.tail()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
30,Week 6,4,Sunnyvale,Intro,3
31,Week 6,4,Sunnyvale,Intro,3
32,Week 6,4,Sunnyvale,Intro,3
33,Week 6,5,Sunnyvale,Intro,3
34,Week 6,4,Sunnyvale,Intro,2

## Week7

In [361]:
file35_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - LA.csv"
SA_2016_LA_W7 = pd.read_csv(file35_LA_PATH)

In [362]:
# SA_2016_SV_W7.head()
SA_2016_LA_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,8/5/2016 11:31:08,Games,4,3
5,8/5/2016 11:57:53,Games,5,3
6,8/5/2016 13:23:30,Intro,4,4
7,8/5/2016 13:58:27,Games,5,3
8,8/5/2016 14:00:14,Games,5,3

#### Notes on Week7 SV:
* There are 9 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [363]:
SA_2016_LA_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [364]:
lenght_SA_2016_LA_W7 = len(SA_2016_LA_W7)
SET_SA_2016_LA_W7 = set(SA_2016_LA_W7)
column_lenght_SA_2016_LA_W7 = len(SA_2016_LA_W7.columns)

#### Add new column with the location name

In [365]:
SA_2016_LA_W7.insert(0, 'Location', 'Los Angeles')

In [366]:
SA_2016_LA_W7.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,Los Angeles,8/5/2016 11:31:08,Games,4,3
5,Los Angeles,8/5/2016 11:57:53,Games,5,3
6,Los Angeles,8/5/2016 13:23:30,Intro,4,4
7,Los Angeles,8/5/2016 13:58:27,Games,5,3
8,Los Angeles,8/5/2016 14:00:14,Games,5,3

---

In [367]:
file36_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - NY.csv"
SA_2016_NY_W7 = pd.read_csv(file36_NY_PATH)

In [368]:
# SA_2016_NY_W7.head()
SA_2016_NY_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
12,8/5/2016 12:46:09,Games,5,4
13,8/5/2016 13:04:11,Apps,4,3
14,8/5/2016 13:13:02,Intro,4,3
15,8/5/2016 13:37:41,Apps,4,3
16,8/5/2016 13:39:55,Intro,5,4

#### Notes on Week7 NY:
* There are 17 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [369]:
SA_2016_NY_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [370]:
lenght_SA_2016_NY_W7 = len(SA_2016_NY_W7)
SET_SA_2016_NY_W7 = set(SA_2016_NY_W7)
column_lenght_SA_2016_NY_W7 = len(SA_2016_NY_W7.columns)

#### Add new column with the location name

In [371]:
SA_2016_NY_W7.insert(0, 'Location', 'New York')

In [372]:
SA_2016_NY_W7.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
12,New York,8/5/2016 12:46:09,Games,5,4
13,New York,8/5/2016 13:04:11,Apps,4,3
14,New York,8/5/2016 13:13:02,Intro,4,3
15,New York,8/5/2016 13:37:41,Apps,4,3
16,New York,8/5/2016 13:39:55,Intro,5,4

---

In [373]:
file37_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SF.csv"
SA_2016_SF_W7 = pd.read_csv(file37_SF_PATH)

In [374]:
# SA_2016_SF_W7.head()
SA_2016_SF_W7.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
14,Intro,8/7/2016 10:45:47,4,5
15,VR,8/5/2016 11:21:38,5,3
16,VR,8/8/2016 8:35:18,1,3
17,VR,8/8/2016 8:39:01,3,5
18,VR,8/8/2016 9:41:39,2,2

#### Notes on Week7 SF:
* There are 19 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [375]:
SA_2016_SF_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [376]:
lenght_SA_2016_SF_W7 = len(SA_2016_SF_W7)
SET_SA_2016_SF_W7 = set(SA_2016_SF_W7)
column_lenght_SA_2016_SF_W7 = len(SA_2016_SF_W7.columns)

#### Add new column with the location name

In [377]:
SA_2016_SF_W7.insert(0, 'Location', 'San Francisco')

In [378]:
SA_2016_SF_W7.tail()

,Location,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
14,San Francisco,Intro,8/7/2016 10:45:47,4,5
15,San Francisco,VR,8/5/2016 11:21:38,5,3
16,San Francisco,VR,8/8/2016 8:35:18,1,3
17,San Francisco,VR,8/8/2016 8:39:01,3,5
18,San Francisco,VR,8/8/2016 9:41:39,2,2

---

In [379]:
file38_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SV.csv"
SA_2016_SV_W7 = pd.read_csv(file38_SV_PATH)

In [380]:
# SA_2016_SV_W7.head()
SA_2016_SV_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
42,8/5/2016 13:44:24,Intro,4,4
43,8/5/2016 13:43:17,Intro,4,3
44,8/5/2016 13:51:18,Intro,5,3
45,8/5/2016 13:43:35,Intro,4,2
46,8/7/2016 17:45:06,Apps,3,3

#### Notes on Week7 SV:
* There are 47 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [381]:
SA_2016_SV_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [382]:
lenght_SA_2016_SV_W7 = len(SA_2016_SV_W7)
SET_SA_2016_SV_W7 = set(SA_2016_SV_W7)
column_lenght_SA_2016_SV_W7 = len(SA_2016_SV_W7.columns)

#### Add new column with the location name

In [383]:
SA_2016_SV_W7.insert(0, 'Location', 'Sunnyvale')

In [384]:
SA_2016_SV_W7.tail()

,Location,Week number,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
42,Sunnyvale,8/5/2016 13:44:24,Intro,4,4
43,Sunnyvale,8/5/2016 13:43:17,Intro,4,3
44,Sunnyvale,8/5/2016 13:51:18,Intro,5,3
45,Sunnyvale,8/5/2016 13:43:35,Intro,4,2
46,Sunnyvale,8/7/2016 17:45:06,Apps,3,3

---

In [385]:
file39_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - Taipei.csv"
SA_2016_Taipei_W7 = pd.read_csv(file39_Taipei_PATH)

In [386]:
# SA_2016_Taipei_W7.head()
SA_2016_Taipei_W7.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,8/5/2016 1:49:21,4,3
7,8/8/2016 1:30:34,5,3
8,8/8/2016 1:33:45,5,3
9,8/8/2016 1:49:29,5,3
10,8/8/2016 1:51:00,3,3

#### Notes on Week7 Taipei:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [387]:
SA_2016_Taipei_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [388]:
lenght_SA_2016_Taipei_W7 = len(SA_2016_Taipei_W7)
SET_SA_2016_Taipei_W7 = set(SA_2016_Taipei_W7)
column_lenght_SA_2016_Taipei_W7 = len(SA_2016_Taipei_W7.columns)

#### Add new column with the location name

In [389]:
SA_2016_Taipei_W7.insert(0, 'Location', 'Taipei')

In [390]:
SA_2016_Taipei_W7

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Taipei,8/5/2016 1:39:41,3,3
1,Taipei,8/5/2016 1:40:47,4,3
2,Taipei,8/5/2016 1:40:50,4,3
3,Taipei,8/5/2016 1:42:44,4,4
4,Taipei,8/5/2016 1:45:13,5,4
5,Taipei,8/5/2016 1:45:39,4,3
6,Taipei,8/5/2016 1:49:21,4,3
7,Taipei,8/8/2016 1:30:34,5,3
8,Taipei,8/8/2016 1:33:45,5,3
9,Taipei,8/8/2016 1:49:29,5,3
10,Taipei,8/8/2016 1:51:00,3,3

---

### Formating into a complete week 7 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [391]:
SA_2016_W7_data = {'Location': ['Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Taipei'], 
                   'Features': [SET_SA_2016_LA_W7, SET_SA_2016_NY_W7, SET_SA_2016_SF_W7, SET_SA_2016_SV_W7, SET_SA_2016_Taipei_W7], 
                   'Number of Datapoints': [lenght_SA_2016_LA_W7, lenght_SA_2016_NY_W7, lenght_SA_2016_SF_W7, lenght_SA_2016_SV_W7, lenght_SA_2016_Taipei_W7],
                   'Number of Features': [column_lenght_SA_2016_LA_W7, column_lenght_SA_2016_NY_W7, column_lenght_SA_2016_SF_W7, column_lenght_SA_2016_SV_W7, column_lenght_SA_2016_Taipei_W7]
                  }
SA_2016_W7 = pd.DataFrame(data=SA_2016_W7_data)

In [392]:
SA_2016_W7

,Location,Features,Number of Datapoints,Number of Features
0,Los Angeles,"{What track are you in?, How would you rate yo...",9,4
1,New York,"{What track are you in?, How would you rate yo...",17,4
2,San Francisco,"{What track are you in?, How would you rate yo...",19,4
3,Sunnyvale,"{What track are you in?, How would you rate yo...",47,4
4,Taipei,{How would you rate your overall satisfaction ...,11,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 7
#### Process to achieve this
* Concatenate all without including track, will exclude Taipei because it begins at week 5 compared to NY, LA, SV and SF, but relative to itself for it this would be week 2.
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [403]:
# Here will only be the ones who have their track
week7_frames = [SA_2016_LA_W7, SA_2016_NY_W7, SA_2016_SF_W7, SA_2016_SV_W7]
SA_2016_W7_ALL = pd.concat(week7_frames, sort=True)
SA_2016_W7_ALL = SA_2016_W7_ALL.drop('What track are you in?', 1)

In [404]:
SA_2016_W7_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,2,3,Los Angeles,8/5/2016 11:22:50
1,3,5,Los Angeles,8/5/2016 11:23:13
2,2,4,Los Angeles,8/5/2016 11:24:20
3,3,4,Los Angeles,8/5/2016 11:29:26
4,3,4,Los Angeles,8/5/2016 11:31:08

In [405]:
# Here will only be the ones who have the feature track
week7_frames_only_track = [SA_2016_NY_W7, SA_2016_LA_W7, SA_2016_SV_W7, SA_2016_SF_W7]
SA_2016_W7_with_track = pd.concat(week7_frames_only_track, sort=True)

In [406]:
SA_2016_W7_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
14,5,4,San Francisco,8/7/2016 10:45:47,Intro
15,3,5,San Francisco,8/5/2016 11:21:38,VR
16,3,1,San Francisco,8/8/2016 8:35:18,VR
17,5,3,San Francisco,8/8/2016 8:39:01,VR
18,2,2,San Francisco,8/8/2016 9:41:39,VR

### Final cleanse and formating
* Clean nul values
* Change value of Week number

#### Replacing all Nan values with 0

In [407]:
SA_2016_W7_ALL = SA_2016_W7_ALL.fillna(0)
# SA_2016_W7_ALL
# Only in the locations where you dont have a track they have the schedule pacing
SA_2016_W7_with_track = SA_2016_W7_with_track.fillna(0)
# SA_2016_W7_with_track

#### Creating a single column

In [411]:
# SA_2016_W7_ALL['Level of satisfaction with the pacing'] = SA_2016_W7_ALL['How well is the schedule paced?']
# SA_2016_W7_ALL = SA_2016_W7_ALL.drop('How well is the schedule paced?', 1)
# # SA_2016_W7_ALL = SA_2016_W7_ALL.drop('What track are you in?', 1)
# SA_2016_W7_ALL = SA_2016_W7_ALL.drop('Week number', 1)
# SA_2016_W7_ALL.insert(0, 'Week number', 'Week 7')

In [412]:
SA_2016_W7_ALL.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week 7,3,Los Angeles,2
1,Week 7,5,Los Angeles,3
2,Week 7,4,Los Angeles,2
3,Week 7,4,Los Angeles,3
4,Week 7,4,Los Angeles,3

In [416]:
# SA_2016_W7_with_track['Level of satisfaction with the pacing'] = SA_2016_W7_with_track['How well is the schedule paced?']
# SA_2016_W7_with_track = SA_2016_W7_with_track.drop('How well are the tutorials paced?', 1)
# SA_2016_W7_with_track = SA_2016_W7_with_track.drop('How well is the schedule paced?', 1)
# SA_2016_W7_with_track = SA_2016_W7_with_track.drop('Week number', 1)
# SA_2016_W7_with_track.insert(0, 'Week number', 'Week 7')

In [417]:
SA_2016_W7_with_track

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,What track are you in?,Level of satisfaction with the pacing
0,Week 7,3,New York,Apps,3
1,Week 7,5,New York,Apps,3
2,Week 7,5,New York,Games,3
3,Week 7,4,New York,Games,3
4,Week 7,4,New York,Apps,3
5,Week 7,4,New York,Intro,4
6,Week 7,5,New York,Apps,3
7,Week 7,5,New York,Games,4
8,Week 7,4,New York,Games,3
9,Week 7,4,New York,Apps,3
10,Week 7,5,New York,Intro,3
11,Week 7,3,New York,Games,3
12,Week 7,5,New York,Games,4
13,Week 7,4,New York,Apps,3
14,Week 7,4,New York,Intro,3
15,Week 7,4,New York,Apps,3
16,Week 7,5,New York,Intro,4
0,Week 7,3,Los Angeles,Intro,2
1,Week 7,5,Los Angeles,Intro,3
2,Week 7,4,Los Angeles,Games,2
3,Week 7,4,Los Angeles,Intro,3
4,Week 7,4,Los Angeles,Games,3
5,Week 7,5,Los Angeles,Games,3
6,Week 7,4,Los Angeles,Intro,4
7,Week 7,5,Los Angeles,Games,3
8,Week 7,5,Los Angeles,Games,3
0,Week 7,3,Sunnyvale,Apps,3
1,Week 7,5,Sunnyvale,Apps,3
2,Week 7,3,Sunnyvale,Apps,3
3,Week 7,4,Sunnyvale,Apps,3
...,...,...,...,...,...
36,Week 7,4,Sunnyvale,Intro,3
37,Week 7,5,Sunnyvale,Intro,3
38,Week 7,5,Sunnyvale,Intro,3
39,Week 7,5,Sunnyvale,Intro,3
40,Week 7,5,Sunnyvale,Intro,3
41,Week 7,5,Sunnyvale,Intro,4
42,Week 7,4,Sunnyvale,Intro,4
43,Week 7,4,Sunnyvale,Intro,3
44,Week 7,5,Sunnyvale,Intro,3
45,Week 7,4,Sunnyvale,Intro,2
46,Week 7,3,Sunnyvale,Apps,3
0,Week 7,5,San Francisco,Apps,5
1,Week 7,3,San Francisco,Apps,3
2,Week 7,5,San Francisco,Apps,3
3,Week 7,5,San Francisco,Apps,4
4,Week 7,4,San Francisco,Apps,3
5,Week 7,5,San Francisco,Apps,3
6,Week 7,5,San Francisco,Apps,3
7,Week 7,4,San Francisco,Apps,4
8,Week 7,5,San Francisco,Games,3
9,Week 7,5,San Francisco,Games,4
10,Week 7,4,San Francisco,Intro,3
11,Week 7,4,San Francisco,Intro,4
12,Week 7,5,San Francisco,Intro,3
13,Week 7,5,San Francisco,Intro,3
14,Week 7,4,San Francisco,Intro,5
15,Week 7,5,San Francisco,VR,3
16,Week 7,1,San Francisco,VR,3
17,Week 7,3,San Francisco,VR,5
18,Week 7,2,San Francisco,VR,2

## Week8

In [ ]:
## Step2

_For the sake of coherence and keeping a consistent logic across every set of files __TotalFile will be shortened to TF__ ds_

In [420]:
file40_TFW8_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Week 8 Feedback (2016, incomplete) - results.csv"
SA_2016_W8 = pd.read_csv(file40_TFW8_NY_PATH)

In [421]:
SA_2016_W8.head()

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f

#### Notes on week 8 LA, NY, SF, SG, SV
*

In [422]:
# Currently my objective is to get a clean dataset from all this information

# Process questions
    # 
    # Get rid of number

#### Cleaning Process
* Get the columns not needed out
* Check for null values, delete the row and ponder what is the effect of this in the information.

## Objective
* Clean MS NPS
* Investigate the data
* Find actionable trends that help inform decision-makers

### Deletion of columns
* -# -> WHY -> This column is meant for a code number that is useful under circunstances other than my current ones, what they mean is not necessary to track because the objective of this study gets anything from this column.
* StartDate -> WHY -> Given my circunstances this column does not show any value for the objectives of this data project.
* SubmitData -> WHY -> This does not show any added value for the purpose of fulfilling the objective of this project.
* NetworkID -> WHY -> Given that I'm trying to find trends related to the NPS score this is not useful to have because it is not a variable needed.

In [423]:
# In the drop function the second parameter can be 1 or 0, 1 means column and 0 means row.
SA_2016_W8 = SA_2016_W8.drop('#', 1)
SA_2016_W8 = SA_2016_W8.drop('Start Date (UTC)', 1)
SA_2016_W8 = SA_2016_W8.drop('Submit Date (UTC)', 1)
SA_2016_W8 = SA_2016_W8.drop('Network ID', 1)
# Remarks on this approach for next time, do it sequentially making a variable for each new change

In [424]:
SA_2016_W8.tail()

,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track
60,9,San Francisco,summerApps
61,5,San Francisco,summerVR
62,10,San Francisco,summerGames (4-week)
63,9,San Francisco,summerIntro
64,9,Sunnyvale,summerGames

_There are no nul values this week was clean_

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [427]:
lenght_SA_2016_W8 = len(SA_2016_W8)
SET_SA_2016_W8 = set(SA_2016_W8)
column_lenght_SA_2016_W8 = len(SA_2016_W8.columns)
SET_SA_2016_W8

{'How likely is it that you would recommend the Make School Summer Academy to a friend?',
 'location',
 'track'}

In [ ]:
#To get this done I need to make a the upper variables for each location
SA_2016_W8_data = {'Location': ['Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Taipei'], 
                   'Features': [], 
                   'Number of Datapoints': [],
                   'Number of Features': []
                  }
SA_2016_W8 = pd.DataFrame(data=SA_2016_W8_data)

### Formating to match the other weeks

* Change 'location' to 'Location'
* Change 'track' to 'What track are you in?'
* Add column Week number, with data 'Week 8'

In [442]:
SA_2016_W8.rename(columns = {'location':'Location'}, inplace = True)
SA_2016_W8.rename(columns = {'track':'What track are you in?'}, inplace = True)
SA_2016_W8.insert(0, 'Week number', 'Week 8')

In [450]:
def unique_values(df):
    for col in df:
        print(df[col].unique())
unique_values(SA_2016_W8)

['Week 8']
[10  9  3  8  6  7  4  5]
['New York' 'San Francisco' 'Sunnyvale' 'Singapore' 'Los Angeles']
['summerApps' 'summerIntro' 'summerApps (4-week)' 'summerGames' 'summerVR'
 'summerGames (4-week)']

In [481]:
SA_2016_W8_ALL = SA_2016_W8.drop('What track are you in?', 1)
# SA_2016_W8_with_track

#### Making sure there are no nul values

In [351]:
SA_2016_W8 = np.where(pd.isnull(lessdirty_SA_2016_W8))
SA_2016_W8

(array([], dtype=int64), array([], dtype=int64))

### Each summer academy duration

In [ ]:
# Questions to have
# Is it fair information to separate what I get from different datasets????, bladly wrote, thinkking on it

---

### Formating of information
* Get each week into a proper format that can be mixed together to make a 2016 complete format

In [68]:
# clean_SA_2016_W8
clean_SA_2016_W8_features = set(clean_SA_2016_W8)

In [ ]:
# I have to explain every desicion, the final format must be where all have the same types of information

In [ ]:
# Got to clean the whole

#### Concatenation

#### Create special datasets for Hong Kong, Tokyo and Taipei

#### Make a new one with the relative begginings of these summer academies, beggining in week 1

## Cleaning and formating of Hong Kong, Taipei and Tokyo

### Why I separated this
* The teaching programming for 8 weeks is very different than teaching for two or one.
* The products differ greatly.
* I can make a comparison of how good can a summer academy can be considered if the duration is considerably shorter.

In [435]:
# W5 Hong Kong
# SA_2016_HK_W5
# W6 Hong Kong, Taipei, Tokyo
# SA_2016_HK_W6
# SA_2016_Taipei_W6
# SA_2016_Tokyo_W6
# W7 Taipei
# SA_2016_Taipei_W7

### Just one week

## Collection of all the data I got from all datasets

In [436]:
# This is the data collected by combining each week information

In [437]:
# This is the collection of data from every week in a big dataset

## Collection of data from the places that asked about which track are you in

In [438]:
%matplotlib inline
import matplotlib as plt

## Study of every week data gathering

In [499]:
# This data has location, week number, set of questions asked 
SA_2016_W1.to_csv('Data/SA_2016_W1.csv')
SA_2016_W2.to_csv('Data/SA_2016_W2.csv')
# SA_2016_W3.to_csv('Data/SA_2016_W3.csv')
# SA_2016_W4.to_csv('Data/SA_2016_W4.csv')
# SA_2016_W5.to_csv('Data/SA_2016_W5.csv')
# SA_2016_W6.to_csv('Data/SA_2016_W6.csv')
# SA_2016_W7.to_csv('Data/SA_2016_W7.csv')
# SA_2016_W8.to_csv('Data/SA_2016_W8.csv')
# Make a bar graph where it stacks the number of datapoints, 
# to check the quality of data gathering across time in the same place

In [467]:
ls

Data/
MSProject1_Summer_Academy_NPS_2016_Clean_ and_Format_Process_1.ipynb
MSProject1_Summer_Academy_NPS_2017_Clean_ and_Format_Process_1.ipynb
MSProject1_Summer_Academy_NPS_Overall_Data_Results.ipynb
NPS_2016_nps_results_and_graphs.ipynb

In [452]:
def plot_location_by_data_per_week(week_data):
    relevant_data = week_data[["Location", "Number of Datapoints"]]
    N, WIDTH = 8, 0.35
    indices = np.arange(N)
    plt.figure(figsize=(15, 10))
    plt.bar(indices, relevant_data["Number of Datapoints"], WIDTH)
    plt.ylabel("Number of Datapoints")
    plt.xlabel("Locations")
    plt.xticks(indices, ["Singapore", "Los Angeles", "New York", "San Francisco", "Sunnyvale", "Hong Kong", "Taipei", "Tokyo"])
    return plt
# plot_location_by_data_per_week(SA_2016_W6)

In [480]:
SA_2016_W1_ALL.head()

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week 1,2,Singapore,3
1,Week 1,2,Singapore,3
2,Week 1,3,Singapore,3
3,Week 1,4,Singapore,4
4,Week 1,4,Singapore,4

In [489]:
# Taking out track from the equation
# SA_2016_W1_ALL.to_csv('Data/SA_2016_W1_ALL.csv')
# SA_2016_W2_ALL.to_csv('Data/SA_2016_W2_ALL.csv')
# SA_2016_W3_ALL.to_csv('Data/SA_2016_W3_ALL.csv')
# SA_2016_W4_ALL.to_csv('Data/SA_2016_W4_ALL.csv')
# SA_2016_W5_ALL.to_csv('Data/SA_2016_W5_ALL.csv')
# SA_2016_W6_ALL.to_csv('Data/SA_2016_W6_ALL.csv')
# SA_2016_W7_ALL.to_csv('Data/SA_2016_W7_ALL.csv')
SA_2016_W8_ALL.to_csv('Data/SA_2016_W8_ALL.csv')

In [498]:
# Only the ones who have track on it
# SA_2016_W1_with_track.to_csv('Data/SA_2016_W1_with_track.csv')
# SA_2016_W2_with_track.to_csv('Data/SA_2016_W2_with_track.csv')
# SA_2016_W3_with_track.to_csv('Data/SA_2016_W3_with_track.csv')
# SA_2016_W4_with_track.to_csv('Data/SA_2016_W4_with_track.csv')
# SA_2016_W5_with_track.to_csv('Data/SA_2016_W5_with_track.csv')
# SA_2016_W6_with_track.to_csv('Data/SA_2016_W6_with_track.csv')
# SA_2016_W7_with_track.to_csv('Data/SA_2016_W7_with_track.csv')
SA_2016_W8.to_csv('Data/SA_2016_W8_with_track.csv')
# multiple line chart were you see in each track how the level of satisfaction with the pacing increased or decrease
# If doable at the end have a point for week 8 to see

### Results
* Make an overall graph with w1, .., w7 and w8

## Elements to develop:
* __Quantity Assurance__ -> It's a metric to analyse the amount of total surveys collected from the whole student corpus in a determined time frame.
* __Quality Assurance__ -> The information quality at a given time.

## Quantity Assurance
#### Purpose
#### Objective
#### Process

## Quality Assurance 
#### Purpose
#### Objective
#### Process