## Step1 - Get the 2016 information dataset to a point where they can be compared with 2017 datasets.

## Action Plan
__1.__ See each file and check the quality of each CSV file.
    
    1.1. Count the number of data points.
    
    1.2. Make a set with each week features.
    
    
__2.__ Make a coherent for each week format that mixes all the locations features according from which is the first week they started and ended.


__3.__ Make the format grow mixing same week with different locations, mixing all weeks into a bigger format with all locations.

**Note:** _Each number in the action plan that is a decimal is an extra step that is optional and not necesarilly been done_

---

### File list
* 2016
    1. Anon Week 1 Feedback - LA.csv
    2. Anon Week 1 Feedback - NY.csv
    3. Anon Week 1 Feedback - SF.csv
    4. Anon Week 1 Feedback - SV.csv
    5. Anon Week 1 Feedback - Singapore.csv
    6. Anon Week 2 Feedback - LA.csv
    7. Anon Week 2 Feedback - NY.csv
    8. Anon Week 2 Feedback - SF.csv
    9. Anon Week 2 Feedback - SG.csv
    10. Anon Week 2 Feedback - SV.csv
    11. Anon Week 3 Feedback - LA.csv
    12. Anon Week 3 Feedback - NY.csv
    13. Anon Week 3 Feedback - SF.csv
    14. Anon Week 3 Feedback - SG.csv
    15. Anon Week 3 Feedback - SV.csv
    16. Anon Week 4 Feedback - LA.csv
    17. Anon Week 4 Feedback - NY.csv
    18. Anon Week 4 Feedback - SF.csv
    19. Anon Week 4 Feedback - SG.csv
    20. Anon Week 4 Feedback - SV.csv
    21. Anon Week 5 Feedback - HK.csv
    22. Anon Week 5 Feedback - LA.csv
    23. Anon Week 5 Feedback - NY.csv
    24. Anon Week 5 Feedback - SF.csv
    25. Anon Week 5 Feedback - SG.csv
    26. Anon Week 5 Feedback - SV.csv
    27. Anon Week 6 Feedback - HK.csv
    28. Anon Week 6 Feedback - LA.csv
    29. Anon Week 6 Feedback - NY.csv
    30. Anon Week 6 Feedback - SF.csv
    31. Anon Week 6 Feedback - SG.csv
    32. Anon Week 6 Feedback - SV.csv
    33. Anon Week 6 Feedback - Taipei.csv
    34. Anon Week 6 Feedback - Tokyo.csv
    35. Anon Week 7 Feedback - LA.csv
    36. Anon Week 7 Feedback - NY.csv
    37. Anon Week 7 Feedback - SF.csv
    38. Anon Week 7 Feedback - SV.csv
    39. Anon Week 7 Feedback - Taipei.csv
    40. Week 8 Feedback (2016, incomplete) - results.csv

## Why this step?
* See if all the different csv files have the same features.

### Step1

In [512]:
import pandas as pd
import numpy as np

In [47]:
pwd

'/Users/egonfiedler/Coding/DataScience/DS-1.1-Data-Analysis/Notebooks/Projects'

## Week1

In [355]:
file1_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - LA.csv"
SA_2016_LA_W1 = pd.read_csv(file1_LA_PATH)
SA_2016_LA_W1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

#### Notes on Week1 LA
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to week number

In [357]:
SA_2016_LA_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)
SA_2016_LA_W1

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [358]:
lenght_SA_2016_LA_W1 = len(SA_2016_LA_W1)
SET_SA_2016_LA_W1 = set(SA_2016_LA_W1)
column_lenght_SA_2016_LA_W1 = len(SA_2016_LA_W1.columns)

#### Add new column with the location name

In [383]:
# SA_2016_LA_W1.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W1

---

In [359]:
file2_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - NY.csv"
SA_2016_NY_W1 = pd.read_csv(file2_NY_PATH)
# SA_2016_NY_W1.head()
SA_2016_NY_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

#### Notes on Week1 NY
* There are 39 data points
* Features 4: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [360]:
SA_2016_NY_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)
SA_2016_NY_W1

,What track are you in?,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Games,6/24/2016 7:03:34,3,5
1,Games,6/24/2016 7:10:22,3,3
2,Apps,6/24/2016 7:03:41,3,3
3,Intro,6/24/2016 7:04:59,4,3
4,Intro,6/24/2016 7:07:02,4,4
5,Intro,6/24/2016 7:08:41,4,4
6,Intro,6/24/2016 7:09:30,4,4
7,Games,6/24/2016 7:01:03,4,4
8,Games,6/24/2016 7:02:43,4,4
9,Games,6/24/2016 7:03:48,4,3
10,Games,6/24/2016 7:06:04,4,3
11,Games,6/24/2016 7:06:24,4,4
12,Apps,6/24/2016 7:01:19,4,4
13,Apps,6/24/2016 7:01:29,4,4
14,Apps,6/24/2016 7:02:20,4,4
15,Apps,6/24/2016 7:03:24,4,3
16,Apps,6/24/2016 7:03:25,4,4
17,Apps,6/24/2016 7:03:58,4,2
18,Apps,6/24/2016 7:06:59,4,3
19,Apps,6/24/2016 7:07:06,4,4
20,Apps,6/24/2016 7:08:37,4,4
21,Apps,6/24/2016 7:08:51,4,3
22,Intro,6/24/2016 7:01:55,5,3
23,Intro,6/24/2016 7:03:41,5,3
24,Intro,6/24/2016 7:06:21,5,4
25,Intro,6/24/2016 7:07:00,5,4
26,Games,6/24/2016 7:04:34,5,3
27,Games,6/24/2016 7:08:15,5,3
28,Games,6/24/2016 7:12:49,5,4
29,Apps,6/24/2016 7:03:41,5,3
30,Apps,6/24/2016 7:03:58,5,4
31,Apps,6/24/2016 7:04:09,5,3
32,Apps,6/24/2016 7:04:11,5,3
33,Apps,6/24/2016 7:05:51,5,4
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [361]:
lenght_SA_2016_NY_W1 = len(SA_2016_NY_W1)
SET_SA_2016_NY_W1 = set(SA_2016_NY_W1)
column_lenght_SA_2016_NY_W1 = len(SA_2016_NY_W1.columns)

#### Add new column with the location name

In [381]:
# SA_2016_NY_W1.insert(0, 'Location', 'New York')
# SA_2016_NY_W1

------

In [362]:
file3_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SF.csv"
SA_2016_SF_W1 = pd.read_csv(file3_SF_PATH)
#SA_2016_SF_W1.head()
SA_2016_SF_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
88,Intro,6/26/2016 23:32:51,5,3
89,VR,6/29/2016 22:39:27,3,3
90,VR,6/24/2016 13:30:31,5,3
91,VR,6/24/2016 14:41:17,5,3
92,VR,6/24/2016 17:29:38,5,3

#### Notes on Week1 SF
* There are 93 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [364]:
SA_2016_SF_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [365]:
lenght_SA_2016_SF_W1 = len(SA_2016_SF_W1)
SET_SA_2016_SF_W1 = set(SA_2016_SF_W1)
column_lenght_SA_2016_SF_W1 = len(SA_2016_SF_W1.columns)

#### Add new column with the location name

In [379]:
# SA_2016_SF_W1.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W1

---

In [103]:
file4_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SV.csv"
SA_2016_SV_W1 = pd.read_csv(file4_SV_PATH)
# SA_2016_SV_W1.head()
SA_2016_SV_W1.tail()

,Unnamed: 0,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
57,6/24/2016 13:45:50,Intro,5,2
58,6/24/2016 13:47:01,Intro,5,3
59,6/24/2016 13:49:01,Intro,5,3
60,6/24/2016 13:49:44,Intro,5,3
61,6/24/2016 13:50:23,Intro,5,3

#### Notes on Week1 SV
* There are 62 data points
* Features 4: "Unnamed: 0, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Unname to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [109]:
SA_2016_SV_W1.rename(columns={'Unnamed: 0': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [136]:
lenght_SA_2016_SV_W1 = len(SA_2016_SV_W1)
SET_SA_2016_SV_W1 = set(SA_2016_SV_W1)
column_lenght_SA_2016_SV_W1

#### Add new column with the location name

In [377]:
# SA_2016_SV_W1.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W1

---

In [117]:
file5_Singapore_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - Singapore.csv"
SA_2016_Singapore_W1 = pd.read_csv(file5_Singapore_PATH)
# SA_2016_Singapore_W1.head()
SA_2016_Singapore_W1.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
7,6/23/2016 22:15:33,4,3
8,6/23/2016 22:41:02,4,4
9,6/23/2016 23:56:36,4,3
10,6/25/2016 22:17:48,4,3
11,6/23/2016 22:13:09,5,5

#### Notes on Week1 Singapore:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [412]:
# SA_2016_Singapore_W1.rename(columns={'Timestamp': 'Week number'}, inplace=True)
# SA_2016_Singapore_W1

In [353]:
SET_SA_2016_Singapore_W1 = set(SA_2016_Singapore_W1)
lenght_SA_2016_Singapore_W1 = len(SA_2016_Singapore_W1)
column_lenght_SA_2016_Singapore_W1 = len(SA_2016_Singapore_W1.columns)

#### Add new column with the location name

In [540]:
SA_2016_Singapore_W1.insert(0, 'Location', 'Singapore')
SA_2016_Singapore_W1

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapore,7/1/2016 5:41:15,4,3
1,Singapore,7/1/2016 8:52:52,3,3
2,Singapore,7/2/2016 7:49:54,3,5
3,Singapore,7/3/2016 19:14:57,3,3
4,Singapore,7/3/2016 19:21:48,4,4
5,Singapore,7/3/2016 19:27:27,4,3
6,Singapore,7/3/2016 20:00:26,3,3
7,Singapore,7/4/2016 3:03:20,3,3

### Formating into a complete week 1 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [541]:
SA_2016_W1_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale'], 
                   'Features': [SET_SA_2016_Singapore_W1, SET_SA_2016_LA_W1, SET_SA_2016_NY_W1, SET_SA_2016_SF_W1, SET_SA_2016_SV_W1], 
                   'Number of Datapoints': [lenght_SA_2016_Singapore_W1, lenght_SA_2016_LA_W1, lenght_SA_2016_NY_W1, lenght_SA_2016_SF_W1, lenght_SA_2016_SV_W1],
                   'Number of Features': [column_lenght_SA_2016_Singapore_W1, column_lenght_SA_2016_LA_W1, column_lenght_SA_2016_NY_W1, column_lenght_SA_2016_SF_W1, column_lenght_SA_2016_SV_W1]
                  }
SA_2016_W1 = pd.DataFrame(data=SA_2016_W1_data)
SA_2016_W1

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well are the tutorials paced...",12,3
1,Los Angeles,"{Week number, How well are the tutorials paced...",7,3
2,New York,"{What track are you in?, Week number, How well...",39,4
3,San Francisco,"{What track are you in?, Week number, How well...",93,4
4,Sunnyvale,"{Week number, How well are the tutorials paced...",62,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 1 
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [542]:
# Here will only be the ones who have their track
week1_frames = [SA_2016_Singapore_W1, SA_2016_LA_W1, SA_2016_NY_W1, SA_2016_SF_W1, SA_2016_SV_W1]
SA_2016_W1_ALL = pd.concat(week1_frames, sort=True)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('What track are you in?', 1)
SA_2016_W1_ALL

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
0,NaN,3.0,4,Singapore,7/1/2016 5:41:15,NaN
1,NaN,3.0,3,Singapore,7/1/2016 8:52:52,NaN
2,NaN,5.0,3,Singapore,7/2/2016 7:49:54,NaN
3,NaN,3.0,3,Singapore,7/3/2016 19:14:57,NaN
4,NaN,4.0,4,Singapore,7/3/2016 19:21:48,NaN
5,NaN,3.0,4,Singapore,7/3/2016 19:27:27,NaN
6,NaN,3.0,3,Singapore,7/3/2016 20:00:26,NaN
7,NaN,3.0,3,Singapore,7/4/2016 3:03:20,NaN
0,4.0,NaN,3,Los Angeles,6/23/2016 15:55:12,NaN
1,4.0,NaN,4,Los Angeles,6/23/2016 16:14:04,NaN
2,4.0,NaN,4,Los Angeles,6/24/2016 0:18:42,NaN
3,4.0,NaN,4,Los Angeles,6/24/2016 6:59:42,NaN
4,5.0,NaN,4,Los Angeles,6/24/2016 9:40:16,NaN
5,4.0,NaN,5,Los Angeles,6/23/2016 22:07:29,NaN
6,3.0,NaN,5,Los Angeles,6/24/2016 9:34:14,NaN
0,5.0,NaN,3,New York,6/24/2016 7:03:34,Games
1,3.0,NaN,3,New York,6/24/2016 7:10:22,Games
2,3.0,NaN,3,New York,6/24/2016 7:03:41,Apps
3,3.0,NaN,4,New York,6/24/2016 7:04:59,Intro
4,4.0,NaN,4,New York,6/24/2016 7:07:02,Intro
5,4.0,NaN,4,New York,6/24/2016 7:08:41,Intro
6,4.0,NaN,4,New York,6/24/2016 7:09:30,Intro
7,4.0,NaN,4,New York,6/24/2016 7:01:03,Games
8,4.0,NaN,4,New York,6/24/2016 7:02:43,Games
9,3.0,NaN,4,New York,6/24/2016 7:03:48,Games
10,3.0,NaN,4,New York,6/24/2016 7:06:04,Games
11,4.0,NaN,4,New York,6/24/2016 7:06:24,Games
12,4.0,NaN,4,New York,6/24/2016 7:01:19,Apps
13,4.0,NaN,4,New York,6/24/2016 7:01:29,Apps
14,4.0,NaN,4,New York,6/24/2016 7:02:20,Apps
...,...,...,...,...,...,...
32,4.0,NaN,4,Sunnyvale,6/24/2016 14:12:35,Games
33,4.0,NaN,4,Sunnyvale,6/24/2016 13:44:44,Intro
34,3.0,NaN,4,Sunnyvale,6/24/2016 13:45:54,Intro
35,4.0,NaN,4,Sunnyvale,6/24/2016 13:49:54,Intro
36,3.0,NaN,4,Sunnyvale,6/24/2016 13:50:04,Intro
37,4.0,NaN,4,Sunnyvale,6/24/2016 13:50:19,Intro
38,3.0,NaN,4,Sunnyvale,6/24/2016 13:51:46,Intro
39,3.0,NaN,4,Sunnyvale,6/24/2016 13:53:22,Intro
40,3.0,NaN,4,Sunnyvale,6/24/2016 13:55:06,Intro
41,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:09,Apps
42,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:20,Apps
43,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:25,Apps
44,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:23,Apps
45,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:25,Apps
46,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:34,Apps
47,4.0,NaN,5,Sunnyvale,6/24/2016 13:50:54,Apps
48,4.0,NaN,5,Sunnyvale,6/24/2016 13:51:20,Apps
49,3.0,NaN,5,Sunnyvale,6/24/2016 13:53:34,Apps
50,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:13,Apps
51,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:38,Apps
52,4.0,NaN,5,Sunnyvale,6/24/2016 13:30:55,Games
53,2.0,NaN,5,Sunnyvale,6/24/2016 13:33:00,Games
54,3.0,NaN,5,Sunnyvale,6/24/2016 13:34:13,Games
55,4.0,NaN,5,Sunnyvale,6/24/2016 14:05:25,Games
56,3.0,NaN,5,Sunnyvale,6/24/2016 13:44:05,Intro
57,2.0,NaN,5,Sunnyvale,6/24/2016 13:45:50,Intro
58,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:01,Intro
59,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:01,Intro
60,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:44,Intro
61,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:23,Intro

In [543]:
# Here will only be the ones who have the feature track
week1_frames_only_track = [SA_2016_NY_W1, SA_2016_SF_W1, SA_2016_SV_W1]
SA_2016_W1_with_track = pd.concat(week1_frames_only_track, sort=True)
# SA_2016_W1_with_track

### Final cleanse and formating
* Clean nul values
* Change value of Week number

In [544]:
df1 = pd.DataFrame([1, 2, 3, np.nan, np.nan, 6, 7, np.nan, np.nan, np.nan])
df2 = pd.DataFrame([np.nan, np.nan, np.nan, 4, 5, np.nan, np.nan, 8, 9, 0])

df1

     0
0  1.0
1  2.0
2  3.0
3  NaN
4  NaN
5  6.0
6  7.0
7  NaN
8  NaN
9  NaN

In [545]:
df2

     0
0  NaN
1  NaN
2  NaN
3  4.0
4  5.0
5  NaN
6  NaN
7  8.0
8  9.0
9  0.0

In [546]:
df1 = df1.fillna(0)
df2 = df2.fillna(0)

df_full = df1 + df2

In [547]:
df_full

     0
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0
7  8.0
8  9.0
9  0.0

#### Replacing all Nan values with 0

In [548]:
SA_2016_W1_ALL = SA_2016_W1_ALL.fillna(0)
# SA_2016_W1_ALL
# Only in the locations where you dont have a track they have the schedule pacing
# SA_2016_W1_with_track = SA_2016_W1_with_track.fillna(0)
# SA_2016_W1_with_track

#### Creating a single column

In [557]:
# SA_2016_W1_ALL['Level of satisfaction with the pacing'] = SA_2016_W1_ALL['How well are the tutorials paced?'] + SA_2016_W1_ALL['How well is the schedule paced?']
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('How well are the tutorials paced?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('How well is the schedule paced?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('What track are you in?', 1)
# SA_2016_W1_ALL = SA_2016_W1_ALL.drop('Week number', 1)
# SA_2016_W1_ALL.insert(0, 'Week number', 'Week1')
SA_2016_W1_ALL

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Level of satisfaction with the pacing
0,Week1,4,Singapore,3.0
1,Week1,3,Singapore,3.0
2,Week1,3,Singapore,5.0
3,Week1,3,Singapore,3.0
4,Week1,4,Singapore,4.0
5,Week1,4,Singapore,3.0
6,Week1,3,Singapore,3.0
7,Week1,3,Singapore,3.0
0,Week1,3,Los Angeles,4.0
1,Week1,4,Los Angeles,4.0
2,Week1,4,Los Angeles,4.0
3,Week1,4,Los Angeles,4.0
4,Week1,4,Los Angeles,5.0
5,Week1,5,Los Angeles,4.0
6,Week1,5,Los Angeles,3.0
0,Week1,3,New York,5.0
1,Week1,3,New York,3.0
2,Week1,3,New York,3.0
3,Week1,4,New York,3.0
4,Week1,4,New York,4.0
5,Week1,4,New York,4.0
6,Week1,4,New York,4.0
7,Week1,4,New York,4.0
8,Week1,4,New York,4.0
9,Week1,4,New York,3.0
10,Week1,4,New York,3.0
11,Week1,4,New York,4.0
12,Week1,4,New York,4.0
13,Week1,4,New York,4.0
14,Week1,4,New York,4.0
...,...,...,...,...
32,Week1,4,Sunnyvale,4.0
33,Week1,4,Sunnyvale,4.0
34,Week1,4,Sunnyvale,3.0
35,Week1,4,Sunnyvale,4.0
36,Week1,4,Sunnyvale,3.0
37,Week1,4,Sunnyvale,4.0
38,Week1,4,Sunnyvale,3.0
39,Week1,4,Sunnyvale,3.0
40,Week1,4,Sunnyvale,3.0
41,Week1,5,Sunnyvale,3.0
42,Week1,5,Sunnyvale,3.0
43,Week1,5,Sunnyvale,3.0
44,Week1,5,Sunnyvale,3.0
45,Week1,5,Sunnyvale,3.0
46,Week1,5,Sunnyvale,3.0
47,Week1,5,Sunnyvale,4.0
48,Week1,5,Sunnyvale,4.0
49,Week1,5,Sunnyvale,3.0
50,Week1,5,Sunnyvale,4.0
51,Week1,5,Sunnyvale,4.0
52,Week1,5,Sunnyvale,4.0
53,Week1,5,Sunnyvale,2.0
54,Week1,5,Sunnyvale,3.0
55,Week1,5,Sunnyvale,4.0
56,Week1,5,Sunnyvale,3.0
57,Week1,5,Sunnyvale,2.0
58,Week1,5,Sunnyvale,3.0
59,Week1,5,Sunnyvale,3.0
60,Week1,5,Sunnyvale,3.0
61,Week1,5,Sunnyvale,3.0

## Week2

In [186]:
file6_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - LA.csv"
SA_2016_LA_W2 = pd.read_csv(file6_LA_PATH)
# SA_2016_LA_W2.head()
SA_2016_LA_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
2,7/1/2016 9:34:16,4,4
3,7/1/2016 10:42:17,4,3
4,7/1/2016 11:25:53,4,3
5,7/1/2016 11:57:11,5,3
6,7/1/2016 11:58:37,5,3

#### Notes on Week2 LA:
* There are 7 data points
* Features 3: "Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Unname to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [187]:
SA_2016_LA_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [188]:
lenght_SA_2016_LA_W2 = len(SA_2016_LA_W2)
SET_SA_2016_LA_W2 = set(SA_2016_LA_W2)
column_lenght_SA_2016_LA_W2 = len(SA_2016_LA_W2.columns)
# lenght_SA_2016_LA_W2
SET_SA_2016_LA_W2

{'How well is the schedule paced?',
 'How would you rate your overall satisfaction with the Summer Academy this week?',
 'Week number'}

#### Add new column with the location name

In [385]:
# SA_2016_LA_W2.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W2

---

In [189]:
file7_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - NY.csv"
SA_2016_NY_W2 = pd.read_csv(file7_NY_PATH)
# SA_2016_NY_W2.head()
SA_2016_NY_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/1/2016 6:41:54,Apps,5,4
24,7/1/2016 6:27:48,Games,5,4
25,7/1/2016 6:31:02,Intro,5,3
26,7/1/2016 6:31:12,Intro,5,3
27,7/1/2016 6:36:15,Intro,5,3

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

#### Notes on Week2 NY:
* There are 28 data points
* Features 4: "Timestamp, What track are you in, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [190]:
SA_2016_NY_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [191]:
lenght_SA_2016_NY_W2 = len(SA_2016_NY_W2)
SET_SA_2016_NY_W2 = set(SA_2016_NY_W2)
column_lenght_SA_2016_NY_W2 = len(SA_2016_NY_W2.columns)

#### Add new column with the location name

In [387]:
# SA_2016_NY_W2.insert(0, 'Location', 'New York')
# SA_2016_NY_W2

---

In [192]:
file8_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SF.csv"
SA_2016_SF_W2 = pd.read_csv(file8_SF_PATH)
# SA_2016_SF_W2.head()
SA_2016_SF_W2.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
57,VR,7/5/2016 12:00:21,2,3
58,VR,7/1/2016 15:35:33,5,3
59,VR,7/2/2016 21:55:49,5,3
60,VR,7/5/2016 11:30:35,5,3
61,VR,7/5/2016 18:24:11,5,3

#### Notes on Week2 SF:
* There are 62 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [193]:
SA_2016_SF_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [194]:
lenght_SA_2016_SF_W2 = len(SA_2016_SF_W2)
SET_SA_2016_SF_W2 = set(SA_2016_SF_W2)
column_lenght_SA_2016_SF_W2 = len(SA_2016_SF_W2.columns)

#### Add new column with the location name

In [389]:
# SA_2016_SF_W2.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W2

---

In [195]:
file9_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SG.csv"
SA_2016_SG_W2 = pd.read_csv(file9_SG_PATH)
# SA_2016_SG_W2.head()
SA_2016_SG_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/3/2016 19:14:57,3,3
4,7/3/2016 19:21:48,4,4
5,7/3/2016 19:27:27,4,3
6,7/3/2016 20:00:26,3,3
7,7/4/2016 3:03:20,3,3

#### Notes on Week2 SG:
* There are 8 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [204]:
SA_2016_SG_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)
SA_2016_SG_W2

,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/1/2016 5:41:15,4,3
1,7/1/2016 8:52:52,3,3
2,7/2/2016 7:49:54,3,5
3,7/3/2016 19:14:57,3,3
4,7/3/2016 19:21:48,4,4
5,7/3/2016 19:27:27,4,3
6,7/3/2016 20:00:26,3,3
7,7/4/2016 3:03:20,3,3

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [197]:
lenght_SA_2016_SG_W2 = len(SA_2016_SG_W2)
SET_SA_2016_SG_W2 = set(SA_2016_SG_W2)
column_lenght_SA_2016_SG_W2 = len(SA_2016_SG_W2.columns)

#### Add new column with the location name

In [406]:
# SA_2016_SG_W2.insert(0, 'Location', 'Singapor')
# SA_2016_SG_W2

---

In [198]:
file10_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SV.csv"
SA_2016_SV_W2 = pd.read_csv(file10_SV_PATH)
# SA_2016_SV_W2.head()
SA_2016_SV_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
51,7/1/2016 10:47:06,Games,5,3
52,7/1/2016 10:47:57,Games,5,4
53,7/1/2016 13:25:32,Intro,5,2
54,7/1/2016 13:26:00,Intro,5,5
55,7/1/2016 13:28:10,Intro,5,2

#### Notes on Week2 SV:
* There are 56 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [199]:
SA_2016_SV_W2.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [200]:
lenght_SA_2016_SV_W2 = len(SA_2016_SV_W2)
SET_SA_2016_SV_W2 = set(SA_2016_SV_W2)
column_lenght_SA_2016_SV_W2 = len(SA_2016_SV_W2.columns)

#### Add new column with the location name

In [393]:
# SA_2016_SV_W2.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W2

---

### Formating into a complete week 2 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [206]:
SA_2016_W2_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunny Vale'], 
                   'Features': [SET_SA_2016_SG_W2, SET_SA_2016_LA_W2, SET_SA_2016_NY_W2, SET_SA_2016_SF_W2, SET_SA_2016_SV_W2], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W2, lenght_SA_2016_LA_W2, lenght_SA_2016_NY_W2, lenght_SA_2016_SF_W2, lenght_SA_2016_SV_W2],
                   'Number of Features': [column_lenght_SA_2016_SG_W2, column_lenght_SA_2016_LA_W2, column_lenght_SA_2016_NY_W2, column_lenght_SA_2016_SF_W2, column_lenght_SA_2016_SV_W2]
                  }
SA_2016_W2 = pd.DataFrame(data=SA_2016_W2_data)
SA_2016_W2

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well is the schedule paced?,...",8,3
1,Los Angeles,"{Week number, How well is the schedule paced?,...",7,3
2,New York,"{Week number, How well is the schedule paced?,...",28,4
3,San Francisco,"{What track are you in?, Week number, How well...",62,4
4,Sunny Vale,"{Week number, How well is the schedule paced?,...",56,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 2
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [475]:
# Here will only be the ones who have their track
week2_frames = [SA_2016_SG_W2, SA_2016_LA_W2, SA_2016_NY_W2, SA_2016_SF_W2, SA_2016_SV_W2]
SA_2016_W2_ALL = pd.concat(week2_frames, sort=True)
# SA_2016_W2_ALL = SA_2016_W2_ALL.drop('What track are you in?', 1)
# SA_2016_W2_ALL

In [474]:
# Here will only be the ones who have the feature track
week2_frames_only_track = [SA_2016_NY_W2, SA_2016_SF_W2, SA_2016_SV_W2]
SA_2016_W2_with_track = pd.concat(week2_frames_only_track, sort=True)
# SA_2016_W2_with_track

## Week3

In [225]:
file11_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - LA.csv"
SA_2016_LA_W3 = pd.read_csv(file11_LA_PATH)
# SA_2016_LA_W3.head()
SA_2016_LA_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/8/2016 13:45:52,4,4
2,7/8/2016 13:47:42,4,3
3,7/8/2016 13:47:59,4,3
4,7/8/2016 14:12:24,4,3
5,7/8/2016 14:13:39,5,4

#### Notes on Week3 LA:
* There are 6 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [226]:
SA_2016_LA_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [227]:
lenght_SA_2016_LA_W3 = len(SA_2016_LA_W3)
SET_SA_2016_LA_W3 = set(SA_2016_LA_W3)
column_lenght_SA_2016_LA_W3 = len(SA_2016_LA_W3.columns)

#### Add new column with the location name

In [395]:
# SA_2016_LA_W3.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W3

---

In [228]:
file12_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - NY.csv"
SA_2016_NY_W3 = pd.read_csv(file12_NY_PATH)
# SA_2016_NY_W3.head()
SA_2016_NY_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/8/2016 6:33:10,Apps,5,3
24,7/8/2016 6:36:23,Intro,4,4
25,7/8/2016 6:36:36,Games,5,3
26,7/8/2016 6:38:24,Games,5,3
27,7/8/2016 12:14:54,Apps,4,3

#### Notes on Week3 NY:
* There are 28 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [229]:
SA_2016_NY_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [230]:
lenght_SA_2016_NY_W3 = len(SA_2016_NY_W3)
SET_SA_2016_NY_W3 = set(SA_2016_NY_W3)
column_lenght_SA_2016_NY_W3 = len(SA_2016_NY_W3.columns)

#### Add new column with the location name

In [397]:
# SA_2016_NY_W3.insert(0, 'Location', 'New York')
# SA_2016_NY_W3

---

In [231]:
file13_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SF.csv"
SA_2016_SF_W3 = pd.read_csv(file13_SF_PATH)
# SA_2016_SF_W3.head()
SA_2016_SF_W3.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
18,VR,7/8/2016 16:27:30,4,4
19,VR,7/8/2016 17:18:49,1,5
20,VR,7/8/2016 19:14:34,4,4
21,Intro,7/11/2016 12:10:26,3,4
22,Intro,7/11/2016 12:39:56,4,4

#### Notes on Week3 SF:
* There are 22 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [232]:
SA_2016_SF_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [233]:
lenght_SA_2016_SF_W3 = len(SA_2016_SF_W3)
SET_SA_2016_SF_W3 = set(SA_2016_SF_W3)
column_lenght_SA_2016_SF_W3 = len(SA_2016_SF_W3.columns)

#### Add new column with the location name

In [399]:
# SA_2016_SF_W3.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W3

---

In [234]:
file14_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SG.csv"
SA_2016_SG_W3 = pd.read_csv(file14_SG_PATH)
# SA_2016_SG_W3.head()
SA_2016_SG_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 7:36:11,4,3
1,7/8/2016 22:05:05,5,3

#### Notes on Week3 SG:
* There are 2 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [235]:
SA_2016_SG_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [236]:
lenght_SA_2016_SG_W3 = len(SA_2016_SG_W3)
SET_SA_2016_SG_W3 = set(SA_2016_SG_W3)
column_lenght_SA_2016_SG_W3 = len(SA_2016_SG_W3.columns)

#### Add new column with the location name

In [400]:
SA_2016_SG_W3.insert(0, 'Location', 'Singapor')
SA_2016_SG_W3

,Location,Week number,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Singapor,7/8/2016 7:36:11,4,3
1,Singapor,7/8/2016 22:05:05,5,3

---

In [237]:
file15_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SV.csv"
SA_2016_SV_W3 = pd.read_csv(file15_SV_PATH)
# SA_2016_SV_W3.head()
SA_2016_SV_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
32,7/10/2016 23:44:41,Games,4,4
33,NaN,Average:,#REF!,#REF!
34,7/8/2016 16:41:06,Apps,5,3
35,7/8/2016 13:07:39,Games,5,3
36,7/8/2016 12:45:02,Intro,5,3

#### Notes on Week3 SV:
* There are 37 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [238]:
SA_2016_SV_W3.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [239]:
lenght_SA_2016_SV_W3 = len(SA_2016_SV_W3)
SET_SA_2016_SV_W3 = set(SA_2016_SV_W3)
column_lenght_SA_2016_SV_W3 = len(SA_2016_SV_W3.columns)

#### Add new column with the location name

In [415]:
# SA_2016_SV_W3.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W3

---

### Formating into a complete week 3 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [241]:
SA_2016_W3_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunny Vale'], 
                   'Features': [SET_SA_2016_SG_W3, SET_SA_2016_LA_W3, SET_SA_2016_NY_W3, SET_SA_2016_SF_W3, SET_SA_2016_SV_W3], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W3, lenght_SA_2016_LA_W3, lenght_SA_2016_NY_W3, lenght_SA_2016_SF_W3, lenght_SA_2016_SV_W3],
                   'Number of Features': [column_lenght_SA_2016_SG_W3, column_lenght_SA_2016_LA_W3, column_lenght_SA_2016_NY_W3, column_lenght_SA_2016_SF_W3, column_lenght_SA_2016_SV_W3]
                  }
SA_2016_W3 = pd.DataFrame(data=SA_2016_W3_data)
SA_2016_W3

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well is the schedule paced?,...",2,3
1,Los Angeles,"{Week number, How well is the schedule paced?,...",6,3
2,New York,"{Week number, How well is the schedule paced?,...",28,4
3,San Francisco,"{What track are you in?, Week number, How well...",23,4
4,Sunny Vale,"{Week number, How well is the schedule paced?,...",37,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 3
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [478]:
# Here will only be the ones who have their track
week3_frames = [SA_2016_SG_W3, SA_2016_LA_W3, SA_2016_NY_W3, SA_2016_SF_W3, SA_2016_SV_W3]
SA_2016_W3_ALL = pd.concat(week3_frames, sort=True)
# SA_2016_W3_ALL = SA_2016_W3_ALL.drop('What track are you in?', 1)
# SA_2016_W3_ALL

In [479]:
# Here will only be the ones who have the feature track
week3_frames_only_track = [SA_2016_NY_W3, SA_2016_SF_W3, SA_2016_SV_W3]
SA_2016_W3_with_track = pd.concat(week3_frames_only_track, sort=True)
# SA_2016_W3_with_track

## Week4

In [243]:
file16_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - LA.csv"
SA_2016_LA_W4 = pd.read_csv(file16_LA_PATH)
# SA_2016_LA_W4.head()
SA_2016_LA_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/15/2016 15:05:10,5,4
4,7/15/2016 15:12:36,3,3
5,7/15/2016 16:59:37,4,3
6,7/15/2016 17:10:52,4,3
7,7/15/2016 19:32:26,4,3

#### Notes on Week4 LA:
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [244]:
SA_2016_LA_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [245]:
lenght_SA_2016_LA_W4 = len(SA_2016_LA_W4)
SET_SA_2016_LA_W4 = set(SA_2016_LA_W4)
column_lenght_SA_2016_LA_W4 = len(SA_2016_LA_W4.columns)

#### Add new column with the location name

In [417]:
# SA_2016_LA_W4.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W4

---

In [247]:
file17_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - NY.csv"
SA_2016_NY_W4 = pd.read_csv(file17_NY_PATH)
# SA_2016_NY_W4.head()
SA_2016_NY_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
11,7/15/2016 7:30:38,Games,4,4
12,7/15/2016 7:37:15,Apps,5,3
13,7/15/2016 7:47:54,Games,4,3
14,7/15/2016 10:11:32,Apps,4,3
15,7/15/2016 10:18:52,Apps,4,3

#### Notes on Week4 NY:
* There are 16 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [248]:
SA_2016_NY_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [249]:
lenght_SA_2016_NY_W4 = len(SA_2016_NY_W4)
SET_SA_2016_NY_W4 = set(SA_2016_NY_W4)
column_lenght_SA_2016_NY_W4 = len(SA_2016_NY_W4.columns)

#### Add new column with the location name

In [419]:
# SA_2016_NY_W4.insert(0, 'Location', 'New York')
# SA_2016_NY_W4

---

In [251]:
file18_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SF.csv"
SA_2016_SF_W4 = pd.read_csv(file18_SF_PATH)
# SA_2016_SF_W4.head()
SA_2016_SF_W4.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
26,Intro,7/19/2016 11:46:56,5,3
27,VR,7/15/2016 17:02:43,5,3
28,VR,7/16/2016 18:46:18,4,3
29,VR,7/18/2016 8:27:48,3,4
30,VR,7/18/2016 8:35:24,3,4

#### Notes on Week4 SF:
* There are 31 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [252]:
SA_2016_SF_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [253]:
lenght_SA_2016_SF_W4 = len(SA_2016_SF_W4)
SET_SA_2016_SF_W4 = set(SA_2016_SF_W4)
column_lenght_SA_2016_SF_W4 = len(SA_2016_SF_W4.columns)

#### Add new column with the location name

In [421]:
# SA_2016_SF_W4.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W4

---

In [254]:
file19_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SG.csv"
SA_2016_SG_W4 = pd.read_csv(file19_SG_PATH)
# SA_2016_SG_W4.head()
SA_2016_SG_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,7/15/2016 2:56:09,3,4
5,7/15/2016 4:37:33,4,3
6,7/15/2016 19:59:23,4,3
7,7/15/2016 20:46:14,3,4
8,7/17/2016 19:06:22,4,3

#### Notes on Week4 SG:
* There are 8 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [262]:
SA_2016_SG_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [263]:
lenght_SA_2016_SG_W4 = len(SA_2016_SG_W4)
SET_SA_2016_SG_W4 = set(SA_2016_SG_W4)
column_lenght_SA_2016_SG_W4 = len(SA_2016_SG_W4.columns)

#### Add new column with the location name

In [423]:
# SA_2016_SG_W4.insert(0, 'Location', 'Singapor')
# SA_2016_SG_W4

---

In [264]:
file20_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SV.csv"
SA_2016_SV_W4 = pd.read_csv(file20_SV_PATH)

In [265]:
# SA_2016_SV_W4.head()
SA_2016_SV_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
31,7/15/2016 14:00:41,Games,4,4
32,7/15/2016 15:51:03,Games,5,5
33,7/15/2016 15:57:04,Games,5,3
34,7/15/2016 15:58:21,Games,3,3
35,7/15/2016 14:03:03,Intro,5,4

#### Notes on Week4 SV:
* There are 36 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [266]:
SA_2016_SV_W4.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [267]:
lenght_SA_2016_SV_W4 = len(SA_2016_SV_W4)
SET_SA_2016_SV_W4 = set(SA_2016_SV_W4)
column_lenght_SA_2016_SV_W4 = len(SA_2016_SV_W4.columns)

#### Add new column with the location name

In [425]:
# SA_2016_SV_W4.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W4

---

### Formating into a complete week 4 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [485]:
SA_2016_W4_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale'], 
                   'Features': [SET_SA_2016_SG_W4, SET_SA_2016_LA_W4, SET_SA_2016_NY_W4, SET_SA_2016_SF_W4, SET_SA_2016_SV_W4], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W4, lenght_SA_2016_LA_W4, lenght_SA_2016_NY_W4, lenght_SA_2016_SF_W4, lenght_SA_2016_SV_W4],
                   'Number of Features': [column_lenght_SA_2016_SG_W4, column_lenght_SA_2016_LA_W4, column_lenght_SA_2016_NY_W4, column_lenght_SA_2016_SF_W4, column_lenght_SA_2016_SV_W4]
                  }
SA_2016_W4 = pd.DataFrame(data=SA_2016_W4_data)
SA_2016_W4

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well is the schedule paced?,...",9,3
1,Los Angeles,"{Week number, How well is the schedule paced?,...",8,3
2,New York,"{Week number, How well is the schedule paced?,...",16,4
3,San Francisco,"{What track are you in?, Week number, How well...",31,4
4,Sunnyvale,"{Week number, How well is the schedule paced?,...",36,4

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 4
#### Process to achieve this
* Concatenate all without including track
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [499]:
# Here will only be the ones who have their track
# week4_frames = [SA_2016_SG_W4, SA_2016_LA_W4, SA_2016_NY_W4, SA_2016_SF_W4, SA_2016_SV_W4]
# SA_2016_W4_ALL = pd.concat(week4_frames, sort=True)
# SA_2016_W4_ALL = SA_2016_W4_ALL.drop('What track are you in?', 1)
# SA_2016_W4_ALL

In [500]:
# # Here will only be the ones who have the feature track
# week4_frames_only_track = [SA_2016_NY_W4, SA_2016_SF_W4, SA_2016_SV_W4]
# SA_2016_W4_with_track = pd.concat(week4_frames_only_track, sort=True)
# SA_2016_W3_with_track

## Week5

In [270]:
file21_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - HK.csv"
SA_2016_HK_W5 = pd.read_csv(file21_HK_PATH)
# SA_2016_HK_W5.head()
SA_2016_HK_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,7/21/2016 21:57:59,4,3
1,7/21/2016 21:59:37,5,3
2,7/21/2016 22:01:53,5,3

#### Notes on Week5 HK:
* There are 3 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [271]:
SA_2016_HK_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [272]:
lenght_SA_2016_HK_W5 = len(SA_2016_HK_W5)
SET_SA_2016_HK_W5 = set(SA_2016_HK_W5)
column_lenght_SA_2016_HK_W5 = len(SA_2016_HK_W5.columns)

#### Add new column with the location name

In [427]:
# SA_2016_HK_W5.insert(0, 'Location', 'Hong Kong')
# SA_2016_HK_W5

---

In [274]:
file22_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - LA.csv"
SA_2016_LA_W5 = pd.read_csv(file22_LA_PATH)
# SA_2016_LA_W5.head()
SA_2016_LA_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/22/2016 16:19:58,Games,4,4
8,7/22/2016 16:20:25,Games,5,4
9,7/22/2016 16:20:30,Intro,5,3
10,7/22/2016 16:23:12,Games,4,3
11,7/22/2016 16:23:19,Games,4,3

#### Notes on Week5 LA:
* There are 12 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [275]:
SA_2016_LA_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [276]:
lenght_SA_2016_LA_W5 = len(SA_2016_LA_W5)
SET_SA_2016_LA_W5 = set(SA_2016_LA_W5)
column_lenght_SA_2016_LA_W5 = len(SA_2016_LA_W5.columns)

#### Add new column with the location name

In [429]:
# SA_2016_LA_W5.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W5

---

In [278]:
file23_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - NY.csv"
SA_2016_NY_W5 = pd.read_csv(file23_NY_PATH)
# SA_2016_NY_W5.head()
SA_2016_NY_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
16,7/22/2016 13:53:31,Games,5,3
17,7/22/2016 13:53:56,Apps,4,3
18,7/22/2016 13:54:46,Games,5,3
19,7/22/2016 13:54:52,Apps,5,3
20,7/22/2016 13:57:13,Games,4,3

#### Notes on Week5 NY:
* There are 21 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [279]:
SA_2016_NY_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [280]:
lenght_SA_2016_NY_W5 = len(SA_2016_NY_W5)
SET_SA_2016_NY_W5 = set(SA_2016_NY_W5)
column_lenght_SA_2016_NY_W5 = len(SA_2016_NY_W5.columns)

#### Add new column with the location name

In [431]:
# SA_2016_NY_W5.insert(0, 'Location', 'New York')
# SA_2016_NY_W5

---

In [282]:
file24_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SF.csv"
SA_2016_SF_W5 = pd.read_csv(file24_SF_PATH)
# SA_2016_SF_W5.head()
SA_2016_SF_W5.tail()

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
37,VR,5,4
38,VR,4,4
39,VR,5,3
40,Intro,3,3
41,Intro,3,3

#### Notes on Week5 SF:
* There are 42 data points
* Features 3: "What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [283]:
SA_2016_SF_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [284]:
lenght_SA_2016_SF_W5 = len(SA_2016_SF_W5)
SET_SA_2016_SF_W5 = set(SA_2016_SF_W5)
column_lenght_SA_2016_SF_W5 = len(SA_2016_SF_W5.columns)

#### Add new column with the location name

In [433]:
# SA_2016_SF_W5.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W5

---

In [286]:
file25_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SG.csv"
SA_2016_SG_W5 = pd.read_csv(file25_SG_PATH)
# SA_2016_SG_W5.head()
SA_2016_SG_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,7/22/2016 19:26:57,4,3
7,7/22/2016 22:37:46,3,3
8,7/23/2016 18:59:21,4,3
9,7/23/2016 23:28:39,4,3
10,7/24/2016 11:16:24,2,2

#### Notes on Week5 SG:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [287]:
SA_2016_SG_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [288]:
lenght_SA_2016_SG_W5 = len(SA_2016_SG_W5)
SET_SA_2016_SG_W5 = set(SA_2016_SG_W5)
column_lenght_SA_2016_SG_W5 = len(SA_2016_SG_W5.columns)

#### Add new column with the location name

In [435]:
# SA_2016_SG_W5.insert(0, 'Location', 'Singapor')
# SA_2016_SG_W5

---

In [290]:
file26_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SV.csv"
SA_2016_SV_W5 = pd.read_csv(file26_SV_PATH)
# SA_2016_SV_W5.head()
SA_2016_SV_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
36,7/22/2016 15:24:21,Games,3,5
37,7/22/2016 15:54:08,Games,5,2
38,7/22/2016 15:24:25,Games,3,3
39,7/22/2016 12:45:22,Games,5,3
40,7/22/2016 14:04:51,Games,5,3

#### Notes on Week5 SV:
* There are 41 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [291]:
SA_2016_SV_W5.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [294]:
lenght_SA_2016_SV_W5 = len(SA_2016_SV_W5)
SET_SA_2016_SV_W5 = set(SA_2016_SV_W5)
column_lenght_SA_2016_SV_W5 = len(SA_2016_SV_W5.columns)

#### Add new column with the location name

In [437]:
# SA_2016_SV_W5.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W5

---

### Formating into a complete week 5 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [484]:
SA_2016_W5_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Hong Kong'], 
                   'Features': [SET_SA_2016_SG_W5, SET_SA_2016_LA_W5, SET_SA_2016_NY_W5, SET_SA_2016_SF_W5, SET_SA_2016_SV_W5, SET_SA_2016_HK_W5], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W5, lenght_SA_2016_LA_W5, lenght_SA_2016_NY_W5, lenght_SA_2016_SF_W5, lenght_SA_2016_SV_W5, lenght_SA_2016_HK_W5],
                   'Number of Features': [column_lenght_SA_2016_SG_W5, column_lenght_SA_2016_LA_W5, column_lenght_SA_2016_NY_W5, column_lenght_SA_2016_SF_W5, column_lenght_SA_2016_SV_W5, column_lenght_SA_2016_HK_W5]
                  }
SA_2016_W5 = pd.DataFrame(data=SA_2016_W5_data)
SA_2016_W5

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well is the schedule paced?,...",11,3
1,Los Angeles,"{Week number, How well is the schedule paced?,...",12,4
2,New York,"{Week number, How well is the schedule paced?,...",21,4
3,San Francisco,"{What track are you in?, How well is the sched...",42,3
4,Sunnyvale,"{Week number, How well is the schedule paced?,...",41,4
5,Hong Kong,"{Week number, How well are the tutorials paced...",3,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 5
#### Process to achieve this
* Concatenate all without including track, will exclude Hong Kong because it begins at week 5 compared to NY, LA, SV, SG and SF, but relative to itself for it this would be week 1.
* Concatenate only the ones with track
*

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [495]:
# Here will only be the ones who have their track
# week5_frames = [SA_2016_SG_W5, SA_2016_LA_W5, SA_2016_NY_W5, SA_2016_SF_W5, SA_2016_SV_W5]
# SA_2016_W5_ALL = pd.concat(week5_frames, sort=True)
# SA_2016_W5_ALL = SA_2016_W5_ALL.drop('What track are you in?', 1)
# SA_2016_W5_ALL

In [496]:
# Here will only be the ones who have the feature track
# week5_frames_only_track = [SA_2016_NY_W5, SA_2016_LA_W5, SA_2016_SV_W5]
# SA_2016_W5_with_track = pd.concat(week5_frames_only_track, sort=True)
# SA_2016_W5_with_track

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
0,5,5,New York,7/22/2016 13:29:33,Apps
1,3,5,New York,7/22/2016 13:35:20,Apps
2,3,4,New York,7/22/2016 13:36:39,Apps
3,3,4,New York,7/22/2016 13:37:15,Apps
4,3,5,New York,7/22/2016 13:40:21,Apps
5,4,4,New York,7/22/2016 13:44:52,Apps
6,5,3,New York,7/22/2016 13:50:50,Games
7,4,4,New York,7/22/2016 13:50:50,Apps
8,4,5,New York,7/22/2016 13:51:22,Apps
9,3,4,New York,7/22/2016 13:51:35,Games
10,3,4,New York,7/22/2016 13:51:36,Apps
11,4,4,New York,7/22/2016 13:51:44,Games
12,3,4,New York,7/22/2016 13:52:05,Intro
13,3,4,New York,7/22/2016 13:52:19,Apps
14,3,5,New York,7/22/2016 13:52:41,Games
15,3,4,New York,7/22/2016 13:53:19,Apps
16,3,5,New York,7/22/2016 13:53:31,Games
17,3,4,New York,7/22/2016 13:53:56,Apps
18,3,5,New York,7/22/2016 13:54:46,Games
19,3,5,New York,7/22/2016 13:54:52,Apps
20,3,4,New York,7/22/2016 13:57:13,Games
0,2,3,Los Angeles,7/22/2016 16:15:37,Games
1,3,4,Los Angeles,7/22/2016 16:16:07,Intro
2,3,5,Los Angeles,7/22/2016 16:16:20,Intro
3,3,4,Los Angeles,7/22/2016 16:17:04,Games
4,3,4,Los Angeles,7/22/2016 16:17:09,Intro
5,3,4,Los Angeles,7/22/2016 16:18:23,Games
6,3,5,Los Angeles,7/22/2016 16:18:45,Intro
7,4,4,Los Angeles,7/22/2016 16:19:58,Games
8,4,5,Los Angeles,7/22/2016 16:20:25,Games
...,...,...,...,...,...
11,3,5,Sunnyvale,7/22/2016 14:26:04,Apps
12,4,4,Sunnyvale,7/22/2016 12:45:30,Intro
13,3,5,Sunnyvale,7/22/2016 14:25:54,Apps
14,5,4,Sunnyvale,7/22/2016 12:47:59,Apps
15,2,2,Sunnyvale,7/22/2016 16:21:04,Apps
16,3,4,Sunnyvale,7/22/2016 14:25:46,Apps
17,4,5,Sunnyvale,7/22/2016 15:53:14,Apps
18,4,3,Sunnyvale,7/22/2016 18:00:51,Apps
19,4,4,Sunnyvale,7/22/2016 12:51:51,Apps
20,3,4,Sunnyvale,7/22/2016 14:26:06,Apps
21,3,4,Sunnyvale,7/22/2016 14:27:03,Apps
22,4,3,Sunnyvale,7/22/2016 14:28:15,Apps
23,3,5,Sunnyvale,7/22/2016 12:43:02,Games
24,3,5,Sunnyvale,7/22/2016 12:46:29,Games
25,5,4,Sunnyvale,7/22/2016 12:50:31,Games
26,3,4,Sunnyvale,7/22/2016 14:26:59,Games
27,3,4,Sunnyvale,7/22/2016 14:27:45,Intro
28,3,4,Sunnyvale,7/22/2016 12:45:12,Intro
29,3,5,Sunnyvale,7/22/2016 13:00:34,Intro
30,3,4,Sunnyvale,7/22/2016 14:40:12,Intro
31,3,4,Sunnyvale,7/22/2016 12:44:15,Intro
32,3,5,Sunnyvale,7/22/2016 12:45:16,Intro
33,4,4,Sunnyvale,7/22/2016 12:49:41,Intro
34,2,4,Sunnyvale,7/22/2016 12:52:37,Intro
35,3,5,Sunnyvale,7/22/2016 12:52:51,Intro
36,5,3,Sunnyvale,7/22/2016 15:24:21,Games
37,2,5,Sunnyvale,7/22/2016 15:54:08,Games
38,3,3,Sunnyvale,7/22/2016 15:24:25,Games
39,3,5,Sunnyvale,7/22/2016 12:45:22,Games
40,3,5,Sunnyvale,7/22/2016 14:04:51,Games

## Week6

In [298]:
file27_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - HK.csv"
SA_2016_HK_W6 = pd.read_csv(file27_HK_PATH)
# SA_2016_HK_W6.head()
SA_2016_HK_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 0:19:08,5,3
1,7/29/2016 0:22:41,4,3
2,7/29/2016 0:23:17,5,3

#### Notes on Week6 HK:
* There are 3 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [299]:
SA_2016_HK_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [300]:
lenght_SA_2016_HK_W6 = len(SA_2016_HK_W6)
SET_SA_2016_HK_W6 = set(SA_2016_HK_W6)
column_lenght_SA_2016_HK_W6 = len(SA_2016_HK_W6.columns)

#### Add new column with the location name

In [439]:
# SA_2016_HK_W6.insert(0, 'Location', 'Hong Kong')
# SA_2016_HK_W6

---

In [302]:
file28_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - LA.csv"
SA_2016_LA_W6 = pd.read_csv(file28_LA_PATH)
# SA_2016_LA_W6.head()
SA_2016_LA_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
5,8/1/2016 9:40:14,Intro,5,3
6,8/1/2016 10:03:22,Games,5,3
7,8/1/2016 10:04:06,Games,4,3
8,8/1/2016 10:06:45,Intro,4,4
9,8/1/2016 11:22:56,Games,4,4

#### Notes on Week6 LA:
* There are 10 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [303]:
SA_2016_LA_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [304]:
lenght_SA_2016_LA_W6 = len(SA_2016_LA_W6)
SET_SA_2016_LA_W6 = set(SA_2016_LA_W6)
column_lenght_SA_2016_LA_W6 = len(SA_2016_LA_W6.columns)

#### Add new column with the location name

In [441]:
# SA_2016_LA_W6.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W6

---

In [306]:
file29_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - NY.csv"
SA_2016_NY_W6 = pd.read_csv(file29_NY_PATH)
# SA_2016_NY_W6.head()
SA_2016_NY_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
15,7/29/2016 13:17:56,Apps,4,3
16,7/29/2016 13:19:10,Intro,5,3
17,7/29/2016 13:19:53,Games,4,3
18,7/29/2016 13:21:00,Apps,5,5
19,8/5/2016 12:40:44,Games,4,3

#### Notes on Week6 NY:
* There are 20 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [307]:
SA_2016_NY_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [308]:
lenght_SA_2016_NY_W6 = len(SA_2016_NY_W6)
SET_SA_2016_NY_W6 = set(SA_2016_NY_W6)
column_lenght_SA_2016_NY_W6 = len(SA_2016_NY_W6.columns)

#### Add new column with the location name

In [443]:
# SA_2016_NY_W6.insert(0, 'Location', 'New York')
# SA_2016_NY_W6

---

In [310]:
file30_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SF.csv"
SA_2016_SF_W6 = pd.read_csv(file30_SF_PATH)
# SA_2016_SF_W6.head()
SA_2016_SF_W6.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
20,Intro,7/29/2016 15:02:01,5,3
21,Intro,7/29/2016 15:09:17,5,3
22,VR,7/30/2016 9:00:15,4,3
23,VR,7/29/2016 21:45:54,4,4
24,VR,7/30/2016 13:09:48,4,3

#### Notes on Week6 SF:
* There are 24 data points
* Features 3: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [311]:
SA_2016_SF_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [312]:
lenght_SA_2016_SF_W6 = len(SA_2016_SF_W6)
SET_SA_2016_SF_W6 = set(SA_2016_SF_W6)
column_lenght_SA_2016_SF_W6 = len(SA_2016_SF_W6.columns)

#### Add new column with the location name

In [445]:
# SA_2016_SF_W6.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W6

---

In [313]:
file31_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SG.csv"
SA_2016_SG_W6 = pd.read_csv(file31_SG_PATH)
# SA_2016_SG_W6.head()
SA_2016_SG_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/29/2016 23:12:48,5,5
2,7/30/2016 5:46:01,5,3
3,7/30/2016 7:02:47,4,3
4,7/31/2016 7:40:14,3,5
5,7/31/2016 8:34:29,5,3

#### Notes on Week6 SG:
* There are 6 data points
* Features 3: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [314]:
SA_2016_SG_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [315]:
lenght_SA_2016_SG_W6 = len(SA_2016_SG_W6)
SET_SA_2016_SG_W6 = set(SA_2016_SG_W6)
column_lenght_SA_2016_SG_W6 = len(SA_2016_SG_W6.columns)

#### Add new column with the location name

In [447]:
# SA_2016_SG_W6.insert(0, 'Location', 'Singapor')
# SA_2016_SG_W6

---

In [316]:
file32_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SV.csv"
SA_2016_SV_W6 = pd.read_csv(file32_SV_PATH)
# SA_2016_SV_W6.head()
SA_2016_SV_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
30,7/29/2016 13:15:55,Intro,4,3
31,7/29/2016 13:16:10,Intro,4,3
32,7/29/2016 13:19:58,Intro,4,3
33,7/29/2016 13:17:35,Intro,5,3
34,7/29/2016 13:24:51,Intro,4,2

#### Notes on Week6 SV:
* There are 35 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [317]:
SA_2016_SV_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [318]:
lenght_SA_2016_SV_W6 = len(SA_2016_SV_W6)
SET_SA_2016_SV_W6 = set(SA_2016_SV_W6)
column_lenght_SA_2016_SV_W6 = len(SA_2016_SV_W6.columns)

#### Add new column with the location name

In [449]:
# SA_2016_SV_W6.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W6

---

In [319]:
file33_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Taipei.csv"
SA_2016_Taipei_W6 = pd.read_csv(file33_Taipei_PATH)
# SA_2016_Taipei_W6.head()
SA_2016_Taipei_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/29/2016 1:27:55,3,3
8,7/29/2016 1:28:54,5,2
9,7/29/2016 1:29:23,4,4
10,7/29/2016 1:46:49,5,4
11,7/29/2016 21:20:05,5,3

#### Notes on Week6 Taipei:
* There are 12 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [320]:
SA_2016_Taipei_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [321]:
lenght_SA_2016_Taipei_W6 = len(SA_2016_Taipei_W6)
SET_SA_2016_Taipei_W6 = set(SA_2016_Taipei_W6)
column_lenght_SA_2016_Taipei_W6 = len(SA_2016_Taipei_W6.columns)

#### Add new column with the location name

In [451]:
# SA_2016_Taipei_W6.insert(0, 'Location', 'Taipei')
# SA_2016_Taipei_W6

---

In [322]:
file34_Tokyo_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Tokyo.csv"
SA_2016_Tokyo_W6 = pd.read_csv(file34_Tokyo_PATH)
# SA_2016_Tokyo_W6.head()
SA_2016_Tokyo_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
8,8/1/2016 1:18:47,3,4
9,8/1/2016 1:30:17,5,3
10,8/1/2016 1:30:17,5,3
11,8/1/2016 6:15:10,4,4
12,8/1/2016 7:56:08,4,3

#### Notes on Week6 Tokyo:
* There are 13 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [323]:
SA_2016_Tokyo_W6.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [324]:
lenght_SA_2016_Tokyo_W6 = len(SA_2016_Tokyo_W6)
SET_SA_2016_Tokyo_W6 = set(SA_2016_Tokyo_W6)
column_lenght_SA_2016_Tokyo_W6 = len(SA_2016_Tokyo_W6.columns)

#### Add new column with the location name

In [492]:
# SA_2016_Tokyo_W6.insert(0, 'Location', 'Tokyo')
# SA_2016_Tokyo_W6

---

### Formating into a complete week 6 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [511]:
SA_2016_W6_data = {'Location': ['Singapore', 'Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Hong Kong', 'Taipei', 'Tokyo'], 
                   'Features': [SET_SA_2016_SG_W6, SET_SA_2016_LA_W6, SET_SA_2016_NY_W6, SET_SA_2016_SF_W6, SET_SA_2016_SV_W6, SET_SA_2016_HK_W6, SET_SA_2016_Taipei_W6, SET_SA_2016_Tokyo_W6], 
                   'Number of Datapoints': [lenght_SA_2016_SG_W6, lenght_SA_2016_LA_W6, lenght_SA_2016_NY_W6, lenght_SA_2016_SF_W6, lenght_SA_2016_SV_W6, lenght_SA_2016_HK_W6, lenght_SA_2016_Taipei_W6, lenght_SA_2016_Tokyo_W6],
                   'Number of Features': [column_lenght_SA_2016_SG_W6, column_lenght_SA_2016_LA_W6, column_lenght_SA_2016_NY_W6, column_lenght_SA_2016_SF_W6, column_lenght_SA_2016_SV_W6, column_lenght_SA_2016_HK_W6, column_lenght_SA_2016_Taipei_W6, column_lenght_SA_2016_Tokyo_W6]
                  }
SA_2016_W6 = pd.DataFrame(data=SA_2016_W6_data)
SA_2016_W6

,Location,Features,Number of Datapoints,Number of Features
0,Singapore,"{Week number, How well is the schedule paced?,...",6,3
1,Los Angeles,"{Week number, How well is the schedule paced?,...",10,4
2,New York,"{Week number, How well is the schedule paced?,...",20,4
3,San Francisco,"{What track are you in?, Week number, How well...",25,4
4,Sunnyvale,"{Week number, How well is the schedule paced?,...",35,4
5,Hong Kong,"{Week number, How well is the schedule paced?,...",3,3
6,Taipei,"{Week number, How well is the schedule paced?,...",12,3
7,Tokyo,"{Week number, How well is the schedule paced?,...",13,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 6
#### Process to achieve this
* Concatenate all without including track, will exclude Hong Kong, Tokyo and Taipei because it begins at week 5 compared to NY, LA, SV, SG and SF, but relative to itself for it this would be week 2, week 1 and week 1.
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [503]:
# Here will only be the ones who have their track
week6_frames = [SA_2016_SG_W6, SA_2016_LA_W6, SA_2016_NY_W6, SA_2016_SF_W6, SA_2016_SV_W6]
SA_2016_W6_ALL = pd.concat(week6_frames, sort=True)
# SA_2016_W6_ALL = SA_2016_W6_ALL.drop('What track are you in?', 1)
# SA_2016_W6_ALL

In [504]:
# Here will only be the ones who have the feature track
week6_frames_only_track = [SA_2016_NY_W6, SA_2016_LA_W6, SA_2016_SV_W6]
# SA_2016_W6_with_track = pd.concat(week6_frames_only_track, sort=True)
# SA_2016_W6_with_track

## Week7

In [329]:
file35_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - LA.csv"
SA_2016_LA_W7 = pd.read_csv(file35_LA_PATH)
# SA_2016_SV_W7.head()
SA_2016_LA_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,8/5/2016 11:31:08,Games,4,3
5,8/5/2016 11:57:53,Games,5,3
6,8/5/2016 13:23:30,Intro,4,4
7,8/5/2016 13:58:27,Games,5,3
8,8/5/2016 14:00:14,Games,5,3

#### Notes on Week7 SV:
* There are 9 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [330]:
SA_2016_LA_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [331]:
lenght_SA_2016_LA_W7 = len(SA_2016_LA_W7)
SET_SA_2016_LA_W7 = set(SA_2016_LA_W7)
column_lenght_SA_2016_LA_W7 = len(SA_2016_LA_W7.columns)

#### Add new column with the location name

In [455]:
# SA_2016_LA_W7.insert(0, 'Location', 'Los Angeles')
# SA_2016_LA_W7

---

In [333]:
file36_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - NY.csv"
SA_2016_NY_W7 = pd.read_csv(file36_NY_PATH)
# SA_2016_NY_W7.head()
SA_2016_NY_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
12,8/5/2016 12:46:09,Games,5,4
13,8/5/2016 13:04:11,Apps,4,3
14,8/5/2016 13:13:02,Intro,4,3
15,8/5/2016 13:37:41,Apps,4,3
16,8/5/2016 13:39:55,Intro,5,4

#### Notes on Week7 NY:
* There are 17 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [334]:
SA_2016_NY_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [335]:
lenght_SA_2016_NY_W7 = len(SA_2016_NY_W7)
SET_SA_2016_NY_W7 = set(SA_2016_NY_W7)
column_lenght_SA_2016_NY_W7 = len(SA_2016_NY_W7.columns)

#### Add new column with the location name

In [457]:
# SA_2016_NY_W7.insert(0, 'Location', 'New York')
# SA_2016_NY_W7

---

In [337]:
file37_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SF.csv"
SA_2016_SF_W7 = pd.read_csv(file37_SF_PATH)
# SA_2016_SF_W7.head()
SA_2016_SF_W7.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
14,Intro,8/7/2016 10:45:47,4,5
15,VR,8/5/2016 11:21:38,5,3
16,VR,8/8/2016 8:35:18,1,3
17,VR,8/8/2016 8:39:01,3,5
18,VR,8/8/2016 9:41:39,2,2

#### Notes on Week7 SF:
* There are 19 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [338]:
SA_2016_SF_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [339]:
lenght_SA_2016_SF_W7 = len(SA_2016_SF_W7)
SET_SA_2016_SF_W7 = set(SA_2016_SF_W7)
column_lenght_SA_2016_SF_W7 = len(SA_2016_SF_W7.columns)

#### Add new column with the location name

In [459]:
# SA_2016_SF_W7.insert(0, 'Location', 'San Francisco')
# SA_2016_SF_W7

---

In [341]:
file38_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SV.csv"
SA_2016_SV_W7 = pd.read_csv(file38_SV_PATH)
# SA_2016_SV_W7.head()
SA_2016_SV_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
42,8/5/2016 13:44:24,Intro,4,4
43,8/5/2016 13:43:17,Intro,4,3
44,8/5/2016 13:51:18,Intro,5,3
45,8/5/2016 13:43:35,Intro,4,2
46,8/7/2016 17:45:06,Apps,3,3

#### Notes on Week7 SV:
* There are 47 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [342]:
SA_2016_SV_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [343]:
lenght_SA_2016_SV_W7 = len(SA_2016_SV_W7)
SET_SA_2016_SV_W7 = set(SA_2016_SV_W7)
column_lenght_SA_2016_SV_W7 = len(SA_2016_SV_W7.columns)

#### Add new column with the location name

In [461]:
# SA_2016_SV_W7.insert(0, 'Location', 'Sunnyvale')
# SA_2016_SV_W7

---

In [345]:
file39_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - Taipei.csv"
SA_2016_Taipei_W7 = pd.read_csv(file39_Taipei_PATH)
# SA_2016_Taipei_W7.head()
SA_2016_Taipei_W7.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,8/5/2016 1:49:21,4,3
7,8/8/2016 1:30:34,5,3
8,8/8/2016 1:33:45,5,3
9,8/8/2016 1:49:29,5,3
10,8/8/2016 1:51:00,3,3

#### Notes on Week7 Taipei:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

#### Cleaning Process
* Change the name of Timestamp to Week Number with the purpose of making it be clear what it is when mixing all weeks together

In [346]:
SA_2016_Taipei_W7.rename(columns={'Timestamp': 'Week number'}, inplace=True)

#### Formatting Setup
* Make a variable with the number of data points
* Make a variable with all the features
* Make a variable with the number of features

In [347]:
lenght_SA_2016_Taipei_W7 = len(SA_2016_Taipei_W7)
SET_SA_2016_Taipei_W7 = set(SA_2016_Taipei_W7)
column_lenght_SA_2016_Taipei_W7 = len(SA_2016_Taipei_W7.columns)

#### Add new column with the location name

In [463]:
# SA_2016_Taipei_W7.insert(0, 'Location', 'Taipei')
# SA_2016_Taipei_W7

---

### Formating into a complete week 7 file
#### What to consider for this process
* Do all Datasets have 4 features?
* For NPS score do I need all datasets to have all features

In [506]:

SA_2016_W7_data = {'Location': ['Los Angeles', 'New York', 'San Francisco', 'Sunnyvale', 'Taipei'], 
                   'Features': [SET_SA_2016_LA_W7, SET_SA_2016_NY_W7, SET_SA_2016_SF_W7, SET_SA_2016_SV_W7, SET_SA_2016_Taipei_W7], 
                   'Number of Datapoints': [lenght_SA_2016_LA_W7, lenght_SA_2016_NY_W7, lenght_SA_2016_SF_W7, lenght_SA_2016_SV_W7, lenght_SA_2016_Taipei_W7],
                   'Number of Features': [column_lenght_SA_2016_LA_W7, column_lenght_SA_2016_NY_W7, column_lenght_SA_2016_SF_W7, column_lenght_SA_2016_SV_W7, column_lenght_SA_2016_Taipei_W7]
                  }
SA_2016_W7 = pd.DataFrame(data=SA_2016_W7_data)
SA_2016_W7

,Location,Features,Number of Datapoints,Number of Features
0,Los Angeles,"{Week number, How well is the schedule paced?,...",9,4
1,New York,"{Week number, How well is the schedule paced?,...",17,4
2,San Francisco,"{What track are you in?, Week number, How well...",19,4
3,Sunnyvale,"{Week number, How well is the schedule paced?,...",47,4
4,Taipei,"{Week number, How well is the schedule paced?,...",11,3

#### Complete comparion of dataset
_Objective:_
* Be able to see easily which dataset have more features 
* Decide if it's a good idea to have a special weekly dataset with the more complete ones and a normal one where the not always present features is not added

### Complete week 7
#### Process to achieve this
* Concatenate all without including track, will exclude Taipei because it begins at week 5 compared to NY, LA, SV and SF, but relative to itself for it this would be week 2.
* Concatenate only the ones with track

__Note:__
    - Given that all datasets don't have track included will have two weekly datasets

In [509]:
# Here will only be the ones who have their track
week7_frames = [SA_2016_LA_W7, SA_2016_NY_W7, SA_2016_SF_W7, SA_2016_SV_W7]
SA_2016_W7_ALL = pd.concat(week7_frames, sort=True)
SA_2016_W7_ALL = SA_2016_W7_ALL.drop('What track are you in?', 1)
SA_2016_W7_ALL.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
0,2,3,Los Angeles,8/5/2016 11:22:50
1,3,5,Los Angeles,8/5/2016 11:23:13
2,2,4,Los Angeles,8/5/2016 11:24:20
3,3,4,Los Angeles,8/5/2016 11:29:26
4,3,4,Los Angeles,8/5/2016 11:31:08

In [510]:
# Here will only be the ones who have the feature track
week7_frames_only_track = [SA_2016_NY_W7, SA_2016_LA_W7, SA_2016_SV_W7, SA_2016_SF_W7]
SA_2016_W7_with_track = pd.concat(week7_frames_only_track, sort=True)
SA_2016_W7_with_track.tail()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number,What track are you in?
14,5,4,San Francisco,8/7/2016 10:45:47,Intro
15,3,5,San Francisco,8/5/2016 11:21:38,VR
16,3,1,San Francisco,8/8/2016 8:35:18,VR
17,5,3,San Francisco,8/8/2016 8:39:01,VR
18,2,2,San Francisco,8/8/2016 9:41:39,VR

## Week8

In [ ]:
## Step2

_For the sake of coherence and keeping a consistent logic across every set of files __TotalFile will be shortened to TF__ ds_

In [35]:
file40_TFW8_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Week 8 Feedback (2016, incomplete) - results.csv"
SA_2016_W8 = pd.read_csv(file40_TFW8_NY_PATH)
SA_2016_W8.head()

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f

In [349]:
# SA_2016_W8.head()
# SA_2016_W8.tail()
# SA_2016_W8.tail()
set(SA_2016_W8.location)

{'Los Angeles', 'New York', 'San Francisco', 'Singapore', 'Sunnyvale'}

#### Notes on week 8 LA, NY, SF, SG, SV
*

In [ ]:
# Currently my objective is to get a clean dataset from all this information

# Process questions
    # 
    # Get rid of number

#### Cleaning Process
* Get the columns not needed out
* Check for null values, delete the row and ponder what is the effect of this in the information.

## Objective
* Clean MS NPS
* Investigate the data
* Find actionable trends that help inform decision-makers

### Deletion of columns
* -# -> WHY -> This column is meant for a code number that is useful under circunstances other than my current ones, what they mean is not necessary to track because the objective of this study gets anything from this column.
* StartDate -> WHY -> Given my circunstances this column does not show any value for the objectives of this data project.
* SubmitData -> WHY -> This does not show any added value for the purpose of fulfilling the objective of this project.
* NetworkID -> WHY -> Given that I'm trying to find trends related to the NPS score this is not useful to have because it is not a variable needed.

In [59]:
# In the drop function the second parameter can be 1 or 0, 1 means column and 0 means row.
# SA_2016_W8_minus_ = SA_2016_W8.drop('#', 1)
# SA_2016_W8_minus_StartDate = SA_2016_W8.drop('Start Date (UTC)', 1)
# SA_2016_W8_minus_SubmitDate = SA_2016_W8.drop('Submit Date (UTC)', 1)
# SA_2016_W8_minus_NetworkID = SA_2016_W8.drop('Network ID', 1)
# Remarks on this approach for next time, do it sequentially making a variable for each new change

In [62]:
lessdirty_SA_2016_W8 = SA_2016_W8
lessdirty_SA_2016_W8.tail()

,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track
60,9,San Francisco,summerApps
61,5,San Francisco,summerVR
62,10,San Francisco,summerGames (4-week)
63,9,San Francisco,summerIntro
64,9,Sunnyvale,summerGames

#### Making sure there are no nul values

In [351]:
clean_SA_2016_W8 = np.where(pd.isnull(lessdirty_SA_2016_W8))
clean_SA_2016_W8

(array([], dtype=int64), array([], dtype=int64))

_There are no nul values this week was clean_

### Each summer academy duration

In [ ]:
# Questions to have
# Is it fair information to separate what I get from different datasets????, bladly wrote, thinkking on it

---

### Formating of information
* Get each week into a proper format that can be mixed together to make a 2016 complete format

In [68]:
# clean_SA_2016_W8
clean_SA_2016_W8_features = set(clean_SA_2016_W8)

In [ ]:
# I have to explain every desicion, the final format must be where all have the same types of information

In [ ]:
# Got to clean the whole

#### Concatenation

#### Create special datasets for Hong Kong, Tokyo and Taipei

#### Make a new one with the relative begginings of these summer academies, beggining in week 1

## Elements to develop:
* __Quantity Assurance__ -> It's a metric to analyse the amount of total surveys collected from the whole student corpus in a determined time frame.
* __Quality Assurance__ -> The information quality at a given time.

## Quantity Assurance
#### Purpose
#### Objective
#### Process

## Quality Assurance 
#### Purpose
#### Objective
#### Process