# Data Analysis & Visualization

### Timelines:
    * Description & data given: Monday, February 4th
    * Data cleaning check-in: Monday, February 11th
    * In-class presentations: Tuesday, February 19th

---

## Objective
* Clean MS NPS
* Investigate the data
* Find actionable trends that help inform decision-makers

## Deliverables
* Clean all the data into one file
* Convert `Ratings` data into NPS categories (promoters, passives, and detractors)
* Answer at least 5-7 self-generated descriptive questions regarding trends and patterns across the data.

## Problem Setup
_What is NPS (Net Promoter Score) - a tool commonly used to measure customer loyalty and promotion._

**It segments the sentiment of the participants in:**
* Promoter (9 - 10)
* Passive (7 - 8)
* Detractor (1 - 6)

**Steps to calculate NPS and equation**

1. Segment all responses into Promoter, Passive and Detractor categories. 

2. Calculate the percentage of responses in each category out of the total number of responses to the survey. 

3. Subtract the Detractors percentage from the Promoters percentage. 

  _NPS = (Promoters - Detractors) / (Promoters + Passives + Detractors)_
  
** Note: **The range can go from -100(everyone is a detractor) to 100(everyone is a supporter)

## Action Plan
1. See each file and check the quality of each CSV file.
2. Make a coherent format that mixes all the locations features according from which is the first week they started and ended.
3. Make the format grow mixing same week with different locations, mixing all weeks into a bigger format with all locations.

---

### File list
* 2016
    1. Anon Week 1 Feedback - LA.csv
    2. Anon Week 1 Feedback - NY.csv
    3. Anon Week 1 Feedback - SF.csv
    4. Anon Week 1 Feedback - SV.csv
    5. Anon Week 1 Feedback - Singapore.csv
    6. Anon Week 2 Feedback - LA.csv
    7. Anon Week 2 Feedback - NY.csv
    8. Anon Week 2 Feedback - SF.csv
    9. Anon Week 2 Feedback - SG.csv
    10. Anon Week 2 Feedback - SV.csv
    11. Anon Week 3 Feedback - LA.csv
    12. Anon Week 3 Feedback - NY.csv
    13. Anon Week 3 Feedback - SF.csv
    14. Anon Week 3 Feedback - SG.csv
    15. Anon Week 3 Feedback - SV.csv
    16. Anon Week 4 Feedback - LA.csv
    17. Anon Week 4 Feedback - NY.csv
    18. Anon Week 4 Feedback - SF.csv
    19. Anon Week 4 Feedback - SG.csv
    20. Anon Week 4 Feedback - SV.csv
    21. Anon Week 5 Feedback - HK.csv
    22. Anon Week 5 Feedback - LA.csv
    23. Anon Week 5 Feedback - NY.csv
    24. Anon Week 5 Feedback - SF.csv
    25. Anon Week 5 Feedback - SG.csv
    26. Anon Week 5 Feedback - SV.csv
    27. Anon Week 6 Feedback - HK.csv
    28. Anon Week 6 Feedback - LA.csv
    29. Anon Week 6 Feedback - NY.csv
    30. Anon Week 6 Feedback - SF.csv
    31. Anon Week 6 Feedback - SG.csv
    32. Anon Week 6 Feedback - SV.csv
    33. Anon Week 6 Feedback - Taipei.csv
    34. Anon Week 6 Feedback - Tokyo.csv
    35. Anon Week 7 Feedback - LA.csv
    36. Anon Week 7 Feedback - NY.csv
    37. Anon Week 7 Feedback - SF.csv
    38. Anon Week 7 Feedback - SV.csv
    39. Anon Week 7 Feedback - Taipei.csv
Week 8 Feedback (2016, incomplete) - results.csv
    
* 2017

## Why this step?
* See if all the different csv files have the same features.

### Step1

In [191]:
import pandas as pd

In [192]:
pwd

'/Users/egonfiedler/Coding/DataScience/DS-1.1-Data-Analysis/Notebooks/Projects'

In [193]:
file1_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - LA.csv"
SA_2016_LA_W1 = pd.read_csv(file1_LA_PATH)

In [194]:
SA_2016_LA_W1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

#### Notes on Week1 LA
* There are 6 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [195]:
file2_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - NY.csv"
SA_2016_NY_W1 = pd.read_csv(file2_NY_PATH)

In [196]:
# SA_2016_NY_W1.head()
SA_2016_NY_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

#### Notes on Week1 NY
* There are 38 data points
* Features 4: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [197]:
file3_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SF.csv"
SA_2016_SF_W1 = pd.read_csv(file3_SF_PATH)

In [198]:
#SA_2016_SF_W1.head()
SA_2016_SF_W1.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
88,Intro,6/26/2016 23:32:51,5,3
89,VR,6/29/2016 22:39:27,3,3
90,VR,6/24/2016 13:30:31,5,3
91,VR,6/24/2016 14:41:17,5,3
92,VR,6/24/2016 17:29:38,5,3

#### Notes on Week1 SF
* There are 92 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [199]:
file4_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - SV.csv"
SA_2016_SV_W1 = pd.read_csv(file4_SV_PATH)

In [200]:
# SA_2016_SV_W1.head()
SA_2016_SV_W1.tail()

,Unnamed: 0,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
57,6/24/2016 13:45:50,Intro,5,2
58,6/24/2016 13:47:01,Intro,5,3
59,6/24/2016 13:49:01,Intro,5,3
60,6/24/2016 13:49:44,Intro,5,3
61,6/24/2016 13:50:23,Intro,5,3

#### Notes on Week1 SV
* There are 61 data points
* Features 4: "Unnamed: 0, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [201]:
file5_Singapore_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 1 Feedback - Singapore.csv"
SA_2016_Singapore_W1 = pd.read_csv(file5_Singapore_PATH)

In [202]:
# SA_2016_Singapore_W1.head()
SA_2016_Singapore_W1.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
7,6/23/2016 22:15:33,4,3
8,6/23/2016 22:41:02,4,4
9,6/23/2016 23:56:36,4,3
10,6/25/2016 22:17:48,4,3
11,6/23/2016 22:13:09,5,5

#### Notes on Week1 Singapore:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [203]:
file6_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - LA.csv"
SA_2016_LA_W2 = pd.read_csv(file6_LA_PATH)

In [204]:
# SA_2016_LA_W2.head()
SA_2016_LA_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
2,7/1/2016 9:34:16,4,4
3,7/1/2016 10:42:17,4,3
4,7/1/2016 11:25:53,4,3
5,7/1/2016 11:57:11,5,3
6,7/1/2016 11:58:37,5,3

#### Notes on Week2 LA:
* There are 6 data points
* Features 3: "Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [205]:
file7_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - NY.csv"
SA_2016_NY_W2 = pd.read_csv(file7_NY_PATH)

In [206]:
# SA_2016_NY_W2.head()
SA_2016_NY_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/1/2016 6:41:54,Apps,5,4
24,7/1/2016 6:27:48,Games,5,4
25,7/1/2016 6:31:02,Intro,5,3
26,7/1/2016 6:31:12,Intro,5,3
27,7/1/2016 6:36:15,Intro,5,3

#### Notes on Week2 NY:
* There are 27 data points
* Features 4: "Timestamp, What track are you in, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [207]:
file8_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SF.csv"
SA_2016_SF_W2 = pd.read_csv(file8_SF_PATH)

In [208]:
# SA_2016_SF_W2.head()
SA_2016_SF_W2.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
57,VR,7/5/2016 12:00:21,2,3
58,VR,7/1/2016 15:35:33,5,3
59,VR,7/2/2016 21:55:49,5,3
60,VR,7/5/2016 11:30:35,5,3
61,VR,7/5/2016 18:24:11,5,3

#### Notes on Week2 SF:
* There are 61 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [209]:
file9_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SG.csv"
SA_2016_SG_W2 = pd.read_csv(file9_SG_PATH)

In [210]:
# SA_2016_SG_W2.head()
SA_2016_SG_W2.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/3/2016 19:14:57,3,3
4,7/3/2016 19:21:48,4,4
5,7/3/2016 19:27:27,4,3
6,7/3/2016 20:00:26,3,3
7,7/4/2016 3:03:20,3,3

#### Notes on Week2 SG:
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [211]:
file10_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 2 Feedback - SV.csv"
SA_2016_SV_W2 = pd.read_csv(file10_SV_PATH)

In [212]:
# SA_2016_SV_W2.head()
SA_2016_SV_W2.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
51,7/1/2016 10:47:06,Games,5,3
52,7/1/2016 10:47:57,Games,5,4
53,7/1/2016 13:25:32,Intro,5,2
54,7/1/2016 13:26:00,Intro,5,5
55,7/1/2016 13:28:10,Intro,5,2

#### Notes on Week2 SV:
* There are 55 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [213]:
file11_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - LA.csv"
SA_2016_LA_W3 = pd.read_csv(file11_LA_PATH)

In [214]:
# SA_2016_LA_W3.head()
SA_2016_LA_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/8/2016 13:45:52,4,4
2,7/8/2016 13:47:42,4,3
3,7/8/2016 13:47:59,4,3
4,7/8/2016 14:12:24,4,3
5,7/8/2016 14:13:39,5,4

#### Notes on Week3 LA:
* There are 5 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [215]:
file12_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - NY.csv"
SA_2016_SF_W3 = pd.read_csv(file12_NY_PATH)

In [216]:
# SA_2016_SF_W3.head()
SA_2016_SF_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
23,7/8/2016 6:33:10,Apps,5,3
24,7/8/2016 6:36:23,Intro,4,4
25,7/8/2016 6:36:36,Games,5,3
26,7/8/2016 6:38:24,Games,5,3
27,7/8/2016 12:14:54,Apps,4,3

#### Notes on Week3 NY:
* There are 22 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [217]:
file13_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SF.csv"
SA_2016_SF_W3 = pd.read_csv(file13_SF_PATH)

In [218]:
# SA_2016_SF_W3.head()
SA_2016_SF_W3.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
18,VR,7/8/2016 16:27:30,4,4
19,VR,7/8/2016 17:18:49,1,5
20,VR,7/8/2016 19:14:34,4,4
21,Intro,7/11/2016 12:10:26,3,4
22,Intro,7/11/2016 12:39:56,4,4

#### Notes on Week3 SF:
* There are 22 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [219]:
file14_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SG.csv"
SA_2016_SG_W3 = pd.read_csv(file14_SG_PATH)

In [220]:
# SA_2016_SG_W3.head()
SA_2016_SG_W3.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 7:36:11,4,3
1,7/8/2016 22:05:05,5,3

#### Notes on Week3 SG:
* There are 1 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [221]:
file15_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 3 Feedback - SV.csv"
SA_2016_SV_W3 = pd.read_csv(file15_SV_PATH)

In [222]:
# SA_2016_SV_W3.head()
SA_2016_SV_W3.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
32,7/10/2016 23:44:41,Games,4,4
33,NaN,Average:,#REF!,#REF!
34,7/8/2016 16:41:06,Apps,5,3
35,7/8/2016 13:07:39,Games,5,3
36,7/8/2016 12:45:02,Intro,5,3

#### Notes on Week3 SV:
* There are 36 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [223]:
file16_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - LA.csv"
SA_2016_LA_W4 = pd.read_csv(file16_LA_PATH)

In [224]:
# SA_2016_LA_W4.head()
SA_2016_LA_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
3,7/15/2016 15:05:10,5,4
4,7/15/2016 15:12:36,3,3
5,7/15/2016 16:59:37,4,3
6,7/15/2016 17:10:52,4,3
7,7/15/2016 19:32:26,4,3

#### Notes on Week4 LA:
* There are 7 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [225]:
file17_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - NY.csv"
SA_2016_NY_W4 = pd.read_csv(file17_NY_PATH)

In [226]:
# SA_2016_NY_W4.head()
SA_2016_NY_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
11,7/15/2016 7:30:38,Games,4,4
12,7/15/2016 7:37:15,Apps,5,3
13,7/15/2016 7:47:54,Games,4,3
14,7/15/2016 10:11:32,Apps,4,3
15,7/15/2016 10:18:52,Apps,4,3

#### Notes on Week4 NY:
* There are 15 data points
* Features 3: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [227]:
file18_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SF.csv"
SA_2016_SF_W4 = pd.read_csv(file18_SF_PATH)

In [228]:
# SA_2016_SF_W4.head()
SA_2016_SF_W4.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
26,Intro,7/19/2016 11:46:56,5,3
27,VR,7/15/2016 17:02:43,5,3
28,VR,7/16/2016 18:46:18,4,3
29,VR,7/18/2016 8:27:48,3,4
30,VR,7/18/2016 8:35:24,3,4

#### Notes on Week4 SF:
* There are 30 data points
* Features 3: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [229]:
file19_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SG.csv"
SA_2016_SG_W4 = pd.read_csv(file19_SG_PATH)

In [230]:
# SA_2016_SG_W4.head()
SA_2016_SG_W4.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,7/15/2016 2:56:09,3,4
5,7/15/2016 4:37:33,4,3
6,7/15/2016 19:59:23,4,3
7,7/15/2016 20:46:14,3,4
8,7/17/2016 19:06:22,4,3

#### Notes on Week4 SG:
* There are 8 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [231]:
file20_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 4 Feedback - SV.csv"
SA_2016_SV_W4 = pd.read_csv(file20_SV_PATH)

In [232]:
# SA_2016_SV_W4.head()
SA_2016_SV_W4.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
31,7/15/2016 14:00:41,Games,4,4
32,7/15/2016 15:51:03,Games,5,5
33,7/15/2016 15:57:04,Games,5,3
34,7/15/2016 15:58:21,Games,3,3
35,7/15/2016 14:03:03,Intro,5,4

#### Notes on Week4 SV:
* There are 35 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [233]:
file21_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - HK.csv"
SA_2016_HK_W5 = pd.read_csv(file21_HK_PATH)

In [234]:
# SA_2016_HK_W5.head()
SA_2016_HK_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,7/21/2016 21:57:59,4,3
1,7/21/2016 21:59:37,5,3
2,7/21/2016 22:01:53,5,3

#### Notes on Week5 HK:
* There are 2 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well are the tutorials paced?"

In [235]:
file22_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - LA.csv"
SA_2016_LA_W5 = pd.read_csv(file22_LA_PATH)

In [236]:
# SA_2016_LA_W5.head()
SA_2016_LA_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/22/2016 16:19:58,Games,4,4
8,7/22/2016 16:20:25,Games,5,4
9,7/22/2016 16:20:30,Intro,5,3
10,7/22/2016 16:23:12,Games,4,3
11,7/22/2016 16:23:19,Games,4,3

#### Notes on Week5 LA:
* There are 11 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [237]:
file23_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - NY.csv"
SA_2016_NY_W5 = pd.read_csv(file23_NY_PATH)

In [238]:
# SA_2016_NY_W5.head()
SA_2016_NY_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
16,7/22/2016 13:53:31,Games,5,3
17,7/22/2016 13:53:56,Apps,4,3
18,7/22/2016 13:54:46,Games,5,3
19,7/22/2016 13:54:52,Apps,5,3
20,7/22/2016 13:57:13,Games,4,3

#### Notes on Week5 NY:
* There are 20 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [239]:
file24_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SF.csv"
SA_2016_SF_W5 = pd.read_csv(file24_SF_PATH)

In [240]:
# SA_2016_SF_W5.head()
SA_2016_SF_W5.tail()

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
37,VR,5,4
38,VR,4,4
39,VR,5,3
40,Intro,3,3
41,Intro,3,3

#### Notes on Week5 SF:
* There are 41 data points
* Features 3: "What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [241]:
file25_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SG.csv"
SA_2016_SG_W5 = pd.read_csv(file25_SG_PATH)

In [242]:
# SA_2016_SG_W5.head()
SA_2016_SG_W5.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,7/22/2016 19:26:57,4,3
7,7/22/2016 22:37:46,3,3
8,7/23/2016 18:59:21,4,3
9,7/23/2016 23:28:39,4,3
10,7/24/2016 11:16:24,2,2

#### Notes on Week5 SG:
* There are 10 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [243]:
file26_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 5 Feedback - SV.csv"
SA_2016_SV_W5 = pd.read_csv(file26_SV_PATH)

In [244]:
# SA_2016_SV_W5.head()
SA_2016_SV_W5.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
36,7/22/2016 15:24:21,Games,3,5
37,7/22/2016 15:54:08,Games,5,2
38,7/22/2016 15:24:25,Games,3,3
39,7/22/2016 12:45:22,Games,5,3
40,7/22/2016 14:04:51,Games,5,3

#### Notes on Week5 SV:
* There are 6 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [245]:
file27_HK_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - HK.csv"
SA_2016_HK_W6 = pd.read_csv(file27_HK_PATH)

In [246]:
# SA_2016_HK_W6.head()
SA_2016_HK_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 0:19:08,5,3
1,7/29/2016 0:22:41,4,3
2,7/29/2016 0:23:17,5,3

#### Notes on Week6 HK:
* There are 2 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [247]:
file28_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - LA.csv"
SA_2016_LA_W6 = pd.read_csv(file28_LA_PATH)

In [248]:
# SA_2016_LA_W6.head()
SA_2016_LA_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
5,8/1/2016 9:40:14,Intro,5,3
6,8/1/2016 10:03:22,Games,5,3
7,8/1/2016 10:04:06,Games,4,3
8,8/1/2016 10:06:45,Intro,4,4
9,8/1/2016 11:22:56,Games,4,4

#### Notes on Week6 LA:
* There are 9 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [249]:
file29_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - NY.csv"
SA_2016_NY_W6 = pd.read_csv(file29_NY_PATH)

In [250]:
# SA_2016_NY_W6.head()
SA_2016_NY_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
15,7/29/2016 13:17:56,Apps,4,3
16,7/29/2016 13:19:10,Intro,5,3
17,7/29/2016 13:19:53,Games,4,3
18,7/29/2016 13:21:00,Apps,5,5
19,8/5/2016 12:40:44,Games,4,3

#### Notes on Week6 NY:
* There are 19 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [251]:
file30_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SF.csv"
SA_2016_SF_W6 = pd.read_csv(file30_SF_PATH)

In [252]:
# SA_2016_SF_W6.head()
SA_2016_SF_W6.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
20,Intro,7/29/2016 15:02:01,5,3
21,Intro,7/29/2016 15:09:17,5,3
22,VR,7/30/2016 9:00:15,4,3
23,VR,7/29/2016 21:45:54,4,4
24,VR,7/30/2016 13:09:48,4,3

#### Notes on Week6 SF:
* There are 24 data points
* Features 3: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [253]:
file31_SG_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SG.csv"
SA_2016_SG_W6 = pd.read_csv(file31_SG_PATH)

In [254]:
# SA_2016_SG_W6.head()
SA_2016_SG_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
1,7/29/2016 23:12:48,5,5
2,7/30/2016 5:46:01,5,3
3,7/30/2016 7:02:47,4,3
4,7/31/2016 7:40:14,3,5
5,7/31/2016 8:34:29,5,3

#### Notes on Week6 SG:
* There are 5 data points
* Features 3: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [255]:
file32_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - SV.csv"
SA_2016_SV_W6 = pd.read_csv(file32_SV_PATH)

In [256]:
# SA_2016_SV_W6.head()
SA_2016_SV_W6.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
30,7/29/2016 13:15:55,Intro,4,3
31,7/29/2016 13:16:10,Intro,4,3
32,7/29/2016 13:19:58,Intro,4,3
33,7/29/2016 13:17:35,Intro,5,3
34,7/29/2016 13:24:51,Intro,4,2

#### Notes on Week6 SV:
* There are 34 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [257]:
file33_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Taipei.csv"
SA_2016_Taipei_W6 = pd.read_csv(file33_Taipei_PATH)

In [258]:
# SA_2016_Taipei_W6.head()
SA_2016_Taipei_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
7,7/29/2016 1:27:55,3,3
8,7/29/2016 1:28:54,5,2
9,7/29/2016 1:29:23,4,4
10,7/29/2016 1:46:49,5,4
11,7/29/2016 21:20:05,5,3

#### Notes on Week6 Taipei:
* There are 11 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [259]:
file34_Tokyo_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 6 Feedback - Tokyo.csv"
SA_2016_Tokyo_W6 = pd.read_csv(file34_Tokyo_PATH)

In [260]:
# SA_2016_Tokyo_W6.head()
SA_2016_Tokyo_W6.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
8,8/1/2016 1:18:47,3,4
9,8/1/2016 1:30:17,5,3
10,8/1/2016 1:30:17,5,3
11,8/1/2016 6:15:10,4,4
12,8/1/2016 7:56:08,4,3

#### Notes on Week6 Tokyo:
* There are 12 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [261]:
file35_LA_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - LA.csv"
SA_2016_SV_W7 = pd.read_csv(file35_LA_PATH)

In [262]:
# SA_2016_SV_W7.head()
SA_2016_SV_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
4,8/5/2016 11:31:08,Games,4,3
5,8/5/2016 11:57:53,Games,5,3
6,8/5/2016 13:23:30,Intro,4,4
7,8/5/2016 13:58:27,Games,5,3
8,8/5/2016 14:00:14,Games,5,3

#### Notes on Week7 SV:
* There are 46 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [263]:
file36_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - NY.csv"
SA_2016_NY_W7 = pd.read_csv(file36_NY_PATH)

In [264]:
# SA_2016_NY_W7.head()
SA_2016_NY_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
12,8/5/2016 12:46:09,Games,5,4
13,8/5/2016 13:04:11,Apps,4,3
14,8/5/2016 13:13:02,Intro,4,3
15,8/5/2016 13:37:41,Apps,4,3
16,8/5/2016 13:39:55,Intro,5,4

#### Notes on Week7 NY:
* There are 16 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [265]:
file37_SF_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SF.csv"
SA_2016_SF_W7 = pd.read_csv(file37_SF_PATH)

In [266]:
# SA_2016_SF_W7.head()
SA_2016_SF_W7.tail()

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
14,Intro,8/7/2016 10:45:47,4,5
15,VR,8/5/2016 11:21:38,5,3
16,VR,8/8/2016 8:35:18,1,3
17,VR,8/8/2016 8:39:01,3,5
18,VR,8/8/2016 9:41:39,2,2

#### Notes on Week7 SF:
* There are 18 data points
* Features 4: "What track are you in?, Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [267]:
file38_SV_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - SV.csv"
SA_2016_SV_W7 = pd.read_csv(file38_SV_PATH)

In [268]:
# SA_2016_SV_W7.head()
SA_2016_SV_W7.tail()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
42,8/5/2016 13:44:24,Intro,4,4
43,8/5/2016 13:43:17,Intro,4,3
44,8/5/2016 13:51:18,Intro,5,3
45,8/5/2016 13:43:35,Intro,4,2
46,8/7/2016 17:45:06,Apps,3,3

#### Notes on Week7 SV:
* There are 46 data points
* Features 4: "Timestamp, What track are you in?, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [269]:
file39_Taipei_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Anon Week 7 Feedback - Taipei.csv"
SA_2016_Taipei_W7 = pd.read_csv(file39_Taipei_PATH)

In [270]:
# SA_2016_Taipei_W7.head()
SA_2016_Taipei_W7.tail()

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
6,8/5/2016 1:49:21,4,3
7,8/8/2016 1:30:34,5,3
8,8/8/2016 1:33:45,5,3
9,8/8/2016 1:49:29,5,3
10,8/8/2016 1:51:00,3,3

#### Notes on Week7 Taipei:
* There are 10 data points
* Features 3: "Timestamp, How would you rate your overall satisfaction with the Summer Academy this week?, How well is the schedule paced?"

In [ ]:
## Step2

_For the sake of coherence and keeping a consistent logic across every set of files __TotalFile will be shortened to TF__ ds_

In [271]:
file40_TFW8_NY_PATH = "../Datasets/SAFeedbackSurveys_FINAL/2016/Week 8 Feedback (2016, incomplete) - results.csv"
SA_2016_W8 = pd.read_csv(file40_TFW8_NY_PATH)

In [274]:
# SA_2016_W8.head()
# SA_2016_W8.tail()
SA_2016_W8

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f
5,9030d8a662b39b519b2b685834413d66,10,San Francisco,summerApps,9/7/16 1:09,9/7/16 1:13,088e6f938d
6,1c07190c7caa72bf6b59cea48e1a4a97,8,San Francisco,summerApps,9/7/16 1:04,9/7/16 1:14,00f1d07a90
7,27a63d6c24710feb52c0cfdef7e01175,3,New York,summerGames,9/7/16 1:14,9/7/16 1:15,e0724aac23
8,b47b95f84547d8347119de1da5faa46d,6,Singapore,summerApps,9/7/16 1:16,9/7/16 1:21,9eeec0f9bf
9,828fafa477484f61d2ca5930fe99ad46,9,New York,summerGames,9/7/16 1:22,9/7/16 1:27,6c80fd2754
10,7d70f1e30217d867f3c0f961462d8ae8,10,Sunnyvale,summerGames,9/7/16 1:28,9/7/16 1:29,6c04cd1a6e
11,65bd071ab808290560e7d11c09f56796,10,San Francisco,summerVR,9/7/16 1:22,9/7/16 1:33,82eadbe830
12,d66976d012b4c8a5c708f1a438605488,8,San Francisco,summerIntro,9/7/16 1:30,9/7/16 1:36,ccea45b0f4
13,9db748a8e0d5789cb3a5fcb27fc59083,8,Sunnyvale,summerApps,9/7/16 1:47,9/7/16 1:50,9e894113e2
14,5ee2a5d8e87fd5790906f7b004963e14,8,Los Angeles,summerGames,9/7/16 1:34,9/7/16 1:51,7a61b16f29
15,9826290f1bf2fd4c105857e2af933ffe,10,San Francisco,summerApps,9/7/16 2:28,9/7/16 2:33,55641e8ccb
16,ea85e7c699751b5993776ef16db0b1d9,9,Sunnyvale,summerGames,9/7/16 2:39,9/7/16 2:41,125a8466ea
17,58cb61ce774b116d87e3888d4c1babf1,10,New York,summerGames,9/7/16 2:39,9/7/16 2:43,9f88839991
18,a08ef61cfa87d1ba00c691de4a55f4c2,7,Singapore,summerApps,9/7/16 2:47,9/7/16 2:50,bd06f31b2a
19,630fd265cdb8308b60b4b59351690f0a,10,San Francisco,summerIntro,9/7/16 2:56,9/7/16 2:56,7f24478045
20,2f7303a7ac0943b341d02678b085688e,10,San Francisco,summerApps,9/7/16 2:58,9/7/16 2:59,32fdf4fca0
21,785568c94d73aa0fad4493ee79fa3974,10,Sunnyvale,summerGames,9/7/16 2:59,9/7/16 3:01,ffbbd84b0e
22,fe02b118aea0ef15ccd06e6f7e6209f4,4,New York,summerIntro,9/7/16 3:05,9/7/16 3:08,9dbeedfbf5
23,6e2c750a71613e3fd7d5f425320cc750,9,San Francisco,summerGames,9/7/16 3:22,9/7/16 3:31,19a8645313
24,522ff7a7546272c3c98eab026e8c098a,10,Sunnyvale,summerGames,9/7/16 3:15,9/7/16 3:31,42560fe8ea
25,80fce9f8822690ad581ff8d554e6f629,9,Sunnyvale,summerApps,9/7/16 3:41,9/7/16 3:42,b194ad4477
26,e78c696358f9c59b0375884ab9217f70,10,San Francisco,summerIntro,9/7/16 4:04,9/7/16 4:05,f8ef38e4e3
27,4885e461415138a403fb0408a8060094,10,Sunnyvale,summerApps,9/7/16 4:07,9/7/16 4:10,06674df051
28,bb261d3e5b4fe2197f54f28c416948e1,7,Sunnyvale,summerGames,9/7/16 4:20,9/7/16 4:21,66eb19a8df
29,391157a49dc832edb535b3c6ee3dd6a0,10,San Francisco,summerGames,9/7/16 5:41,9/7/16 5:43,c94ee250b6
...,...,...,...,...,...,...,...
35,fa299e5db39696d38eafd4ae6e71aebb,9,Singapore,summerApps,9/7/16 12:26,9/7/16 12:26,58089eb896
36,35d559a3756563f795c0e9e81299695e,10,San Francisco,summerApps,9/7/16 12:45,9/7/16 12:48,0b7b124ce3
37,2a42f27c8a19a165f37439cfd9fed33d,10,New York,summerIntro,9/7/16 13:09,9/7/16 13:10,32c6661877
38,1e19d356f6f8eac878413ec736e46da8,9,San Francisco,summerApps (4-week),9/7/16 14:39,9/7/16 14:40,75a5cf3cee
39,a8497fc472b7a09ac6e16e658851d652,10,New York,summerApps,9/7/16 14:52,9/7/16 14:54,5a977a012b
40,3208a7393ff3fd3c67fae17c8e48db37,8,Sunnyvale,summerApps,9/7/16 15:57,9/7/16 15:58,20eafecabd
41,45d7a66a67ee79f5c9ffa6d6abb1b307,10,San Francisco,summerApps,9/7/16 17:11,9/7/16 17:21,e474841bba
42,964e2d8e91a04b8735e73aafedb54541,9,San Francisco,summerVR,9/7/16 19:13,9/7/16 19:25,ae112590e9
43,e8780f8e3d0026549c276135fd9569ef,7,New York,summerApps (4-week),9/7/16 19:23,9/7/16 19:26,a578e4964d
44,864ff3fc8e19d27f3d4c46eb4b304d35,10,San Francisco,summerApps,9/7/16 19:39,9/7/16 19:40,573a652ffb
45,c2bc67325eb91085f3686aabf309d801,10,Los Angeles,summerGames,9/7/16 19:51,9/7/16 19:57,cadcc3e368
46,fd802ce8e43aa9deade38c108298dbaf,10,Sunnyvale,summerIntro,9/7/16 23:58,9/8/16 0:00,9ba33ad0f9
47,ac671896bf86167dc073c3f52131fe70,8,New York,summerApps,9/8/16 0:50,9/8/16 0:58,1b349a7cce
48,143652af47062192767081ff1dd630cc,10,San Francisco,summerGames,9/8/16 1:55,9/8/16 1:59,94f319072c
49,f4a5aed1cad9367cc58744706de54a1b,7,Sunnyvale,summerApps,9/8/16 5:59,9/8/16 6:04,9f09067d6a
50,3c3495614eada68b5fa8e19377e1cccd,10,Los Angeles,summerGames (4-week),9/8/16 14:25,9/8/16 14:27,89b8894183
51,8e2309e3a1ba2a5630ea251b96712a9a,8,San Francisco,summerGames,9/8/16 22:00,9/8/16 22:06,01074776b4
52,44db66e47441ecd2c88dbe5dd3a38e1e,8,New York,summerApps,9/8/16 22:16,9/8/16 22:20,11c95dc87f
53,80f3d539b648cfaf92b45699e7a0545b,10,San Francisco,summerApps,9/8/16 23:06,9/8/16 23:07,0d6873c5ed
54,60343ca18c43feedab8481e25421484d,7,San Francisco,summerApps,9/8/16 23:01,9/8/16 23:11,8a13f23e89
55,5c99e0aac4efe9eecffd83e50ec7c8db,7,San Francisco,summerIntro,9/9/16 1:41,9/9/16 1:42,830f174273
56,022d99be229f86182ca1c2bc49aa2e09,10,San Francisco,summerIntro,9/9/16 4:22,9/9/16 4:25,9fc69673bd
57,5a83e1056e30a8596056bec5c050a86d,9,San Francisco,summerApps,9/9/16 11:06,9/9/16 11:09,6d5dece18c
58,50f1c0545d9cef1c10be657e1083990d,10,New York,summerGames,9/9/16 13:24,9/9/16 13:28,f7f5617754
59,22ac2ab300a76178ce53104d03408c8a,8,San Francisco,summerGames,9/10/16 22:28,9/10/16 22:30,9500d5b989
60,2d487d890a68bbdb70dd027bc1e501bb,9,San Francisco,summerApps,9/12/16 0:05,9/12/16 0:13,fe650b21f7
61,0cdf8eced1b8791ae536797c75751b25,5,San Francisco,summerVR,9/13/16 4:36,9/13/16 4:42,a7deda5bf5
62,d353c2cdff6bcf3e932579a5647d511a,10,San Francisco,summerGames (4-week),9/7/16 5:08,9/13/16 20:13,a3e21d76e3
63,f5716831fe432cef5da980038f2f8969,9,San Francisco,summerIntro,9/14/16 12:04,9/14/16 12:10,843b902fa2
64,951e9361c4da1756ae1c6fb2612cb9dd,9,Sunnyvale,summerGames,9/26/16 16:33,9/26/16 16:34,a2863e199d

---

## Elements to develop:
* __Quantity Assurance__ -> It's a metric to analyse the amount of total surveys collected from the whole student corpus in a determined time frame.
* __Quality Assurance__ -> The information quality at a given time.

## Quantity Assurance
#### Purpose
#### Objective
#### Process

## Quality Assurance 
#### Purpose
#### Objective
#### Process