In [1]:
pwd

'/Users/egonfiedler/Coding/DataScience/DS-1.1-Data-Analysis/Notebooks/Projects'

In [2]:
import pandas as pd

In [4]:
PATH = '../Datasets/SAFeedbackSurveys_FINAL/2017/Student Feedback Surveys-Superview.csv'
df_2017 = pd.read_csv(PATH)
df_2017.tail()

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [5]:
set(df_2017.Location)

{'Atlanta',
 'Beijing',
 'Chicago',
 'Hong Kong',
 'Los Angeles',
 'New York City',
 'Oakland',
 'Redwood City',
 'San Francisco',
 'Santa Clara',
 'Tokyo',
 'Washington DC',
 nan}

In [6]:
set(df_2017.Track)

{'Apps', 'Apps, Explorer', 'Games', 'Games, Explorer', 'VR', nan}

In [7]:
set(df_2017.Week)

{'Week 1',
 'Week 2',
 'Week 3',
 'Week 4',
 'Week 5',
 'Week 6',
 'Week 7',
 'Week 8'}

In [ ]:
# From how i made the other one, create from that model something here