# Complete Analysis of 2016

## Purpose
* Be able to convey patterns of information through graphics
* Get a NPS score to see where the consumers of the product stand

## Objectives
* Get the NPS score
* Use the appropiate methods to create representatives examples of the information in matplotlib
* See through the information to take better desicions
* See through the information gathering process
* Compare each different summer academy product NPS
    * A One Week Summer Academy
    * A Two Week Summer Academy
    * A Eight Week Summer Academy

### Resources made from the MSProject1_Summer_Academy_NPS_2016_Clean_ and_Format_Process_1
* A basic study of each week summer academy 
    * DF contaning Location, Week, SET of elements in the survey, Number of datapoints and number of columns at the datasets.
* Summer academies by week SA_2016_W1_with_track
* Summer academies by week SA_2016_W1_ALL

## Deliverables
* Clean all the data into one file
* Convert `Ratings` data into NPS categories (promoters, passives, and detractors)
* Answer at least 5-7 self-generated descriptive questions regarding trends and patterns across the data.

## Problem Setup
_What is NPS (Net Promoter Score) - a tool commonly used to measure customer loyalty and promotion._

**It segments the sentiment of the participants in:**
* Promoter (9 - 10)
* Passive (7 - 8)
* Detractor (1 - 6)

**Steps to calculate NPS and equation**

1. Segment all responses into Promoter, Passive and Detractor categories. 

2. Calculate the percentage of responses in each category out of the total number of responses to the survey. 

3. Subtract the Detractors percentage from the Promoters percentage. 

  _NPS = (Promoters - Detractors) / (Promoters + Passives + Detractors)_
  
**Note:** The range can go from -100(everyone is a detractor) to 100(everyone is a supporter)

## Main Action Plan
__1.__ Get the 2016 information dataset to a point where they can be compared with 2017 datasets.
    
    
__2.__ Clean and arrange the 2017 format until it can be worked in combination with the 2016 datasets


__3.__ 

**Note:** _Each number in the action plan that is a decimal is an extra step that is optional and not necesarilly been done_

#### Helper functions

In [28]:
def unique_values(df):
    for col in df:
        print(df[col].unique())
# unique_values()

### Data Weekly comparison of data gathered

#### Process
* See if there is a difference between how much data is

In [13]:
import pandas as pd

In [14]:
W1_PATH_DATA_ANALYSIS = 'Data/SA_2016_W1.csv'
SA_2016_W1 = pd.read_csv(W1_PATH_DATA_ANALYSIS)

W2_PATH_DATA_ANALYSIS = 'Data/SA_2016_W2.csv'
SA_2016_W2 = pd.read_csv(W2_PATH_DATA_ANALYSIS)

W3_PATH_DATA_ANALYSIS = 'Data/SA_2016_W3.csv'
SA_2016_W3 = pd.read_csv(W3_PATH_DATA_ANALYSIS)

W4_PATH_DATA_ANALYSIS = 'Data/SA_2016_W4.csv'
SA_2016_W4 = pd.read_csv(W4_PATH_DATA_ANALYSIS)

W5_PATH_DATA_ANALYSIS = 'Data/SA_2016_W5.csv'
SA_2016_W5 = pd.read_csv(W5_PATH_DATA_ANALYSIS)

W6_PATH_DATA_ANALYSIS = 'Data/SA_2016_W6.csv'
SA_2016_W6 = pd.read_csv(W6_PATH_DATA_ANALYSIS)

W7_PATH_DATA_ANALYSIS = 'Data/SA_2016_W7.csv'
SA_2016_W7 = pd.read_csv(W7_PATH_DATA_ANALYSIS)
#If there is time, do this one too
# W8_PATH_DATA_ANALYSIS = 'Data/SA_2016_W8.csv'
# SA_2016_W8

In [30]:
def adding_week(df, week_num):
    df.insert(0, 'Week number', week_num)
    df = df.drop('Unnamed: 0', 1)
adding_week(SA_2016_W7, 7)
SA_2016_W7

,Week number,Unnamed: 0,Location,Features,Number of Datapoints,Number of Features
0,7,0,Los Angeles,"{'What track are you in?', 'How would you rate...",9,4
1,7,1,New York,"{'What track are you in?', 'How would you rate...",17,4
2,7,2,San Francisco,"{'What track are you in?', 'How would you rate...",19,4
3,7,3,Sunnyvale,"{'What track are you in?', 'How would you rate...",47,4
4,7,4,Taipei,{'How would you rate your overall satisfaction...,11,3

In [29]:
SA_2016_W7

,Unnamed: 0,Location,Features,Number of Datapoints,Number of Features
0,0,Los Angeles,"{'What track are you in?', 'How would you rate...",9,4
1,1,New York,"{'What track are you in?', 'How would you rate...",17,4
2,2,San Francisco,"{'What track are you in?', 'How would you rate...",19,4
3,3,Sunnyvale,"{'What track are you in?', 'How would you rate...",47,4
4,4,Taipei,{'How would you rate your overall satisfaction...,11,3

### All the data without Tracks

In [4]:
W1_PATH_DATA = 'Data/SA_2016_W1_ALL.csv'
SA_2016_W1_ALL = pd.read_csv(W1_PATH_DATA)

W2_PATH_DATA = 'Data/SA_2016_W2_ALL.csv'
SA_2016_W2_ALL = pd.read_csv(W2_PATH_DATA)

W3_PATH_DATA = 'Data/SA_2016_W3_ALL.csv'
SA_2016_W3_ALL = pd.read_csv(W3_PATH_DATA)

W4_PATH_DATA = 'Data/SA_2016_W4_ALL.csv'
SA_2016_W4_ALL = pd.read_csv(W4_PATH_DATA)

W5_PATH_DATA = 'Data/SA_2016_W5_ALL.csv'
SA_2016_W5_ALL = pd.read_csv(W5_PATH_DATA)

W6_PATH_DATA = 'Data/SA_2016_W6_ALL.csv'
SA_2016_W6_ALL = pd.read_csv(W6_PATH_DATA)

W7_PATH_DATA = 'Data/SA_2016_W7_ALL.csv'
SA_2016_W7_ALL = pd.read_csv(W7_PATH_DATA)

W8_PATH_DATA = 'Data/SA_2016_W8_ALL.csv'
SA_2016_W8_ALL = pd.read_csv(W8_PATH_DATA)

In [45]:
SA_2016_ALL_frames = [SA_2016_W1_ALL, SA_2016_W2_ALL, SA_2016_W3_ALL, SA_2016_W4_ALL,SA_2016_W5_ALL, SA_2016_W6_ALL, SA_2016_W7_ALL]
SA_2016_ALL_without_8 = pd.concat(SA_2016_ALL_frames, sort=True)

In [49]:
SA_2016_ALL_without_8 = SA_2016_ALL_without_8.drop('Unnamed: 0', 1)

In [56]:
SA_2016_ALL_without_8 = SA_2016_ALL_without_8.drop('How would you rate your overall satisfaction with the Summer Academy this week?', 1)

In [94]:
SA_2016_ALL_without_8.tail()

   Level of satisfaction with the pacing   Location Week number
87                                     4  Sunnyvale      Week 7
88                                     3  Sunnyvale      Week 7
89                                     3  Sunnyvale      Week 7
90                                     2  Sunnyvale      Week 7
91                                     3  Sunnyvale      Week 7

In [89]:
# This will be used to generate a graph for the 'Level of satisfaction with the pacing'
C = SA_2016_ALL_without_8.columns[0]

In [95]:
indexNames = SA_2016_ALL_without_8[ SA_2016_ALL_without_8[C] == "#REF!" ].index
SA_2016_ALL_without_8.drop(indexNames , inplace=True)

In [96]:
SA_2016_ALL_without_8[C] = SA_2016_ALL_without_8[C].astype(int)

In [98]:
unique_values(SA_2016_ALL_without_8)

[3 4 5 2 1]
['Singapore' 'Los Angeles' 'New York' 'San Francisco' 'Sunnyvale']
['Week 1' 'Week 2' 'Week 3' 'Week 4' 'Week 5' 'Week 6' 'Week 7']

In [100]:
unique_values(SA_2016_ALL)

[2 3 4 5 1]
['Singapore' 'Los Angeles' 'New York' 'San Francisco' 'Sunnyvale']
['Week 1' 'Week 2' 'Week 3' 'Week 4' 'Week 5' 'Week 6' 'Week 7']

In [ ]:
SA_2016_ALL_frames_with_8 = [SA_2016_W1_ALL, SA_2016_W2_ALL, SA_2016_W3_ALL, SA_2016_W4_ALL,SA_2016_W5_ALL, SA_2016_W6_ALL, SA_2016_W7_ALL, SA_2016_W8_ALL]
SA_2016_ALL = pd.concat(SA_2016_ALL_frames_with_8, sort=True)

In [52]:
SA_2016_ALL = SA_2016_ALL.drop('Level of satisfaction with the pacing', 1)

In [84]:
# This will be used to generate a graph for the 'How would you rate your overall satisfaction with the Summer Academy this week?'
# C = SA_2016_ALL[]
# 
# SA_2016_ALL = pd.Series([SA_2016_ALL.])
C = SA_2016_ALL.columns[0]
# SA_2016_ALL[C]
# SA_2016_ALL[~SA_2016_ALL[C].str.contains("#REF!")]

In [85]:
indexNames = SA_2016_ALL[ SA_2016_ALL[C] == "#REF!" ].index
SA_2016_ALL.drop(indexNames , inplace=True)

In [86]:
# SA_2016_ALL = SA_2016_ALL.to_numeric(C)
SA_2016_ALL[C] = SA_2016_ALL[C].astype(int)

In [87]:
SA_2016_ALL.tail()

,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Week number
87,4,Sunnyvale,Week 7
88,4,Sunnyvale,Week 7
89,5,Sunnyvale,Week 7
90,4,Sunnyvale,Week 7
91,3,Sunnyvale,Week 7

In [88]:
unique_values(SA_2016_ALL)

[2 3 4 5 1]
['Singapore' 'Los Angeles' 'New York' 'San Francisco' 'Sunnyvale']
['Week 1' 'Week 2' 'Week 3' 'Week 4' 'Week 5' 'Week 6' 'Week 7']

### Process:
* Make two graphs - 
    * one for the level of satisfaction with the pacing
    * Another for 'How would you rate your overall satisfaction with the Summer Academy this week?'

In [ ]:
# This is for the level of satisfaction with the pacing

In [102]:
import matplotlib as plt
%matplotlib inline

In [103]:
def lineplot(x_data, y_data, x_label="", y_label="", title=""):
    # Create the plot object
    _, ax = plt.subplots()

    # Plot the best fit line, set the linewidth (lw), color and
    # transparency (alpha) of the line
    ax.plot(x_data, y_data, lw = 2, color = '#539caf', alpha = 1)

    # Label the axes and provide a title
    ax.set_title(title)
    ax.set_xlabel(x_label)
    ax.set_ylabel(y_label)

In [108]:
# Which columns will I use, x_data is 
X = SA_2016_ALL_without_8.columns[2]
Y = SA_2016_ALL_without_8.columns[0]

lineplot(SA_2016_ALL_without_8[X], SA_2016_ALL_without_8[Y], x_label='Week Number', y_label="Satisfaction with the pacing", title="How satisfaction progresses")

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [ ]:
lineplot(SA_2016_ALL)

### All the data with Tracks

In [5]:
W1_PATH_DATA_with_track = 'Data/SA_2016_W1_with_track.csv'
SA_2016_W1_with_track = pd.read_csv(W1_PATH_DATA_with_track)

W2_PATH_DATA_with_track = 'Data/SA_2016_W2_with_track.csv'
SA_2016_W2_with_track = pd.read_csv(W2_PATH_DATA_with_track)

W3_PATH_DATA_with_track = 'Data/SA_2016_W3_with_track.csv'
SA_2016_W3_with_track = pd.read_csv(W3_PATH_DATA_with_track)

W4_PATH_DATA_with_track = 'Data/SA_2016_W4_with_track.csv'
SA_2016_W4_with_track = pd.read_csv(W4_PATH_DATA_with_track)

W5_PATH_DATA_with_track = 'Data/SA_2016_W5_with_track.csv'
SA_2016_W5_with_track = pd.read_csv(W5_PATH_DATA_with_track)

W6_PATH_DATA_with_track = 'Data/SA_2016_W6_with_track.csv'
SA_2016_W6_with_track = pd.read_csv(W6_PATH_DATA_with_track)

W7_PATH_DATA_with_track = 'Data/SA_2016_W7_with_track.csv'
SA_2016_W7_with_track = pd.read_csv(W7_PATH_DATA_with_track)

W8_PATH_DATA_with_track = 'Data/SA_2016_W8_with_track.csv'
SA_2016_W8_with_track = pd.read_csv(W8_PATH_DATA_with_track)