# Class 1: In-Class Notebook (_Learning to Explore Data_)

---

## SECTION 1: _CSV and Vanilla Python_

### INTRODUCTION: _Setting Up Our Data_

In [2]:
# Importing CSV library for easier CSV data file conversion (non-Pandas)
import csv

# Creating uneditable path variable pointing to Titanic dataset location
PATH = "../Datasets/titanic.csv"

# TODO: Write comments for the following code...
data_matrix = list()
with open(PATH, "r") as fr:
    reader = csv.reader(fr, delimiter=",")
    for row in reader:
        data_matrix.append(row)

In [3]:
##################################################
# INDEX VALUE 01 --> Survived
# INDEX VALUE 03 --> Name
# INDEX VALUE 04 --> Sex
# INDEX VALUE 05 --> Age
# INDEX VALUE 11 --> Embarked
##################################################

### PROBLEM 1: _How many women survived aboard the Titanic?_

In [4]:

def get_surviving_females(dataset, get_names=False):
    """ Main function to get the total number or names of surviving women on the Titanic. """
    # first two variables, number of survivors and a list of indices
    females_survived, indices = int(), list()
    # 
    for iterator in range(len(dataset)):
        if dataset[iterator][1] == "1" and dataset[iterator][4] == "female":
            females_survived += 1
            indices.append(iterator)
    # If get_names is True, return the names of the women who survived the Titanic.
    if get_names:
        def _get_female_survivor_names(index_list):
            """ Helper function to get the names of female survivors. """
            names_of_surviving_females = list()
            for index in index_list:
                names_of_surviving_females.append(dataset[index][3])
            return names_of_surviving_females
        return _get_female_survivor_names(indices)
    # If get_names is False, return the number of women who survived the Titanic.
    else:
        return females_survived

get_surviving_females(data_matrix)

233

### PROBLEM 2:  _What are the names of the surviving women of the Titanic_?

In [5]:
get_surviving_females(data_matrix, get_names=True)

['Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Masselmani, Mrs. Fatima',
 'McGowan, Miss. Anna "Annie"',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Nicola-Yarred, Miss. Jamila',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 "O'Driscoll, Miss. Bridget",
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Rugg, Miss. Emily',
 'West, Miss. Constance Mirium',
 'Icard, Miss. Amelie',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Andersson, Miss. Erna Alexandra',
 'Dowdell, Miss. Elizabeth',
 'McDermott, Miss. Brigdet Delia',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Fortune, Miss. Mabel Helen',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moran, Miss. Bertha',
 'Webber, Miss. Susan',
 'Peter, Miss. Anna',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Newsom, Miss. Helen Monypeny',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Gilnagh, Miss. Katherine "Katie"',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Johnson, Miss. Eleanor Ileen',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Pinsky, Mrs. (Rosa)',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Madigan, Miss. Margaret "Maggie"',
 'Carr, Miss. Helen "Ellen"',
 'Cameron, Miss. Clear Annie',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Bazzani, Miss. Albina',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Asplund, Miss. Lillian Gertrud',
 'Collyer, Miss. Marjorie "Lottie"',
 'Murphy, Miss. Katherine "Kate"',
 'Hamalainen, Mrs. William (Anna)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'Keane, Miss. Nora A',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Young, Miss. Marie Grice',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Burns, Miss. Elizabeth Margaret',
 'Fortune, Miss. Alice Elizabeth',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Bowerman, Miss. Elsie Edith',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Buss, Miss. Kate',
 'Lehmann, Miss. Bertha',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Trout, Mrs. William H (Jessie L)',
 'Minahan, Miss. Daisy E',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Carter, Miss. Lucile Polk',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Reynaldo, Ms. Encarnacion',
 'Mellinger, Miss. Madeleine Violet',
 'Baclini, Miss. Marie Catherine',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 'Baclini, Miss. Helene Barbara',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Hirvonen, Miss. Hildur E',
 'Turkula, Mrs. (Hedwig)',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Eustis, Miss. Elizabeth Mussey',
 'Maioni, Miss. Roberta',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Lemore, Mrs. (Amelia Milley)',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Perreault, Miss. Anne',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Ridsdale, Miss. Lucy',
 'Quick, Miss. Phyllis May',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Hart, Miss. Eva Miriam',
 'LeRoy, Miss. Bertha',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Ohman, Miss. Velin',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Kelly, Miss. Mary',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Taussig, Miss. Ruth',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Leitch, Miss. Jessie Wills',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Murphy, Miss. Margaret Jane',
 'Herman, Miss. Alice',
 'Becker, Miss. Marion Louise',
 'Longley, Miss. Gretchen Fiske',
 'Davis, Miss. Mary',
 'Sagesser, Mlle. Emma',
 'Baclini, Miss. Eugenie',
 'Stanley, Miss. Amy Zillah Elsie',
 'Doling, Miss. Elsie',
 'O\'Leary, Miss. Hanora "Norah"',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 'Turja, Miss. Anna Sofia',
 'Madill, Miss. Georgette Alexandra',
 'Karun, Miss. Manca',
 'Mullens, Miss. Katherine "Katie"',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Kelly, Mrs. Florence "Fannie"',
 'Cleaver, Miss. Alice',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Endres, Miss. Caroline Louise',
 'Troutt, Miss. Edwina Celia "Winnie"',
 'Harper, Miss. Annie Jessie "Nina"',
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)',
 'Mannion, Miss. Margareth',
 'Allen, Miss. Elisabeth Walton',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Sinkkonen, Miss. Anna',
 'Wells, Miss. Joan',
 'Herman, Mrs. Samuel (Jane Laver)',
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Hogeboom, Mrs. John C (Anna Andrews)',
 'Hocking, Mrs. Elizabeth (Eliza Needs)',
 'Emanuel, Miss. Virginia Ethel',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Ayoub, Miss. Banoura',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Sjoblom, Miss. Anna Sofia',
 'Leader, Dr. Alice (Farnham)',
 'Osman, Mrs. Mara',
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Moor, Mrs. (Beila)',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Yasbeck, Mrs. Antoni (Selini Alexander)',
 'Compton, Miss. Sara Rebecca',
 'Serepeca, Miss. Augusta',
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Lines, Miss. Mary Conover',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Baclini, Mrs. Solomon (Latifa Qurban)',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Bystrom, Mrs. (Karolina)',
 'Duran y More, Miss. Asuncion',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Najib, Miss. Adele Kiamie "Jane"',
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
 'Shelley, Mrs. William (Imanita Parrish Hall)',
 'Graham, Miss. Margaret Edith']

### PROBLEM 3: _How many people above the age of 30 died?_ and _What was the name of those people_?

In [8]:
##################################################
# INDEX VALUE 01 --> Survived
# INDEX VALUE 03 --> Name
# INDEX VALUE 04 --> Sex
# INDEX VALUE 05 --> Age
# INDEX VALUE 11 --> Embarked
##################################################

In [19]:
# I have to get the number of all the people above the age of 30 that survived,
# 
def people_above_30_died(titanic_dataset):
    '''  '''
    people_above_30_dead, indices = int(), list()
    
    for iterator in range(len(titanic_dataset)):
        # Its
        if titanic_dataset[iterator][2] == "0" and int(titanic_dataset[iterator][6]) >= 30:
            people_above_30_dead += 1
            indices.append(iterator)
    return people_above_30_dead
#    if get_names:

people_above_30_died(data_matrix)

0

### PROBLEM 4: _From which embarking location did the most people survive?_

---

## SECTION 2: _Pandas_

### INTRODUCTION: _Setting Up Our Data_

In [21]:
import pandas as pd

df = pd.read_csv(PATH)
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### PROBLEM 1: _How many women survived aboard the Titanic?_

In [22]:
# NOTE: Mathematical Construction
##################################################
# LOGIC CLAUSE 1: Sex --> female
# LOGIC CLAUSE 2: Survived --> 1
##################################################

condition1 = (df["Sex"] == "female")
condition2 = (df["Survived"] == 1)

women_survived_df = df[condition1 & condition2]

In [23]:
# NOTE: Iterative Construction
women_survived_df = df[(df["Sex"] == "female") & (df["Survived"] == 1)]

In [24]:
len(women_survived_df)

233

### PROBLEM 2: _What are the names of the surviving women of the Titanic_?

In [25]:
women_survived_df["Name"]

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
15                      Hewlett, Mrs. (Mary D Kingcome)
19                               Masselmani, Mrs. Fatima
22                           McGowan, Miss. Anna "Annie"
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
28                         O'Dwyer, Miss. Ellen "Nellie"
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
39                           Nicola-Yarred, Miss. Jamila
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
47                             O'Driscoll, Miss. Bridget
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
56                                     Rugg, Miss. Emily
58                          West, Miss. Constance Mirium
61                                   Icard, Miss. Amelie
66                          Nye, Mrs. (Elizabeth Ramell)
68                       Andersson, Miss. Erna Alexandra
79                              Dowdell, Miss. Elizabeth
82                        McDermott, Miss. Brigdet Delia
84                                   Ilett, Miss. Bertha
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
88                            Fortune, Miss. Mabel Helen
                             ...
774                Hocking, Mrs. Elizabeth (Eliza Needs)
777                        Emanuel, Miss. Virginia Ethel
779    Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
780                                 Ayoub, Miss. Banoura
781            Dick, Mrs. Albert Adrian (Vera Gillespie)
786                            Sjoblom, Miss. Anna Sofia
796                          Leader, Dr. Alice (Farnham)
797                                     Osman, Mrs. Mara
801          Collyer, Mrs. Harvey (Charlotte Annie Tate)
809       Chambers, Mrs. Norman Campbell (Bertha Griggs)
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
823                                   Moor, Mrs. (Beila)
829            Stone, Mrs. George Nelson (Martha Evelyn)
830              Yasbeck, Mrs. Antoni (Selini Alexander)
835                          Compton, Miss. Sara Rebecca
842                              Serepeca, Miss. Augusta
849         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                            Lines, Miss. Mary Conover
855                           Aks, Mrs. Sam (Leah Rosen)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
858                Baclini, Mrs. Solomon (Latifa Qurban)
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
887                         Graham, Miss. Margaret Edith
Name: Name, Length: 233, dtype: object

### PROBLEM 3: _How many people above the age of 30 died?_

In [31]:

# NOTE: Iterative Construction
#women_survived_df = df[(df["Sex"] == "female") & (df["Survived"] == 1)]

# Must be above 30 
condition_above_30_df = (df["Survived"] == 1)
# Must be alive
condition_survived_df = (df["Age"] >= 30)

people_above_30_survived_df = df[condition_above_30_df & condition_survived_df]

len(people_above_30_survived_df)

134

In [37]:
people_above_30_survived_df = df[(df["Survived"] == 1) & (df["Age"] >= 30)]

In [39]:
people_above_30_survived_df["Name"]

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
11                              Bonnell, Miss. Elizabeth
15                      Hewlett, Mrs. (Mary D Kingcome)
21                                 Beesley, Mr. Lawrence
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
61                                   Icard, Miss. Amelie
74                                         Bing, Mr. Lee
79                              Dowdell, Miss. Elizabeth
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
98                  Doling, Mrs. John T (Ada Julia Bone)
123                                  Webber, Miss. Susan
161    Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
187        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
190                                  Pinsky, Mrs. (Rosa)
194            Brown, Mrs. James Joseph (Margaret Tobin)
195                                 Lurette, Miss. Elise
209                                     Blank, Mr. Henry
211                           Cameron, Miss. Clear Annie
215                              Newell, Miss. Madeleine
218                                Bazzani, Miss. Albina
224                         Hoyt, Mr. Frederick Maxfield
230         Harris, Mrs. Henry Birkhardt (Irene Wallach)
248                        Beckwith, Mr. Richard Leonard
257                                 Cherry, Miss. Gladys
258                                     Ward, Miss. Anna
259                          Parrish, Mrs. (Lutie Davis)
268        Graham, Mrs. William Thompson (Edith Junkins)
269                               Bissette, Miss. Amelia
                             ...
701                     Silverthorne, Mr. Spencer Victor
706                        Kelly, Mrs. Florence "Fannie"
707                    Calderhead, Mr. Edward Pennington
712                             Taylor, Mr. Elmer Zebley
716                        Endres, Miss. Caroline Louise
726          Renouf, Mrs. Peter Henry (Lillian Jefferys)
737                               Lesurer, Mr. Gustave J
744                                   Stranden, Mr. Juho
747                                Sinkkonen, Miss. Anna
754                     Herman, Mrs. Samuel (Jane Laver)
759    Rothes, the Countess. of (Lucy Noel Martha Dye...
763            Carter, Mrs. William Ernest (Lucile Polk)
765                 Hogeboom, Mrs. John C (Anna Andrews)
774                Hocking, Mrs. Elizabeth (Eliza Needs)
779    Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
796                          Leader, Dr. Alice (Farnham)
797                                     Osman, Mrs. Mara
801          Collyer, Mrs. Harvey (Charlotte Annie Tate)
809       Chambers, Mrs. Norman Campbell (Bertha Griggs)
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
829            Stone, Mrs. George Nelson (Martha Evelyn)
835                          Compton, Miss. Sara Rebecca
838                                      Chip, Mr. Chang
842                              Serepeca, Miss. Augusta
856           Wick, Mrs. George Dennick (Mary Hitchcock)
857                               Daly, Mr. Peter Denis
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
865                             Bystrom, Mrs. (Karolina)
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Name: Name, Length: 134, dtype: object

### PROBLEM 4: _From which embarking location did the most people survive?_